Charts.json
[
   {
      "id":"7070005c.5141d",
      "type":"tab",
      "label":"Flow 6",
      "disabled":false,
      "info":""
   },
   {
      "id":"ed5acfb4.f1982",
      "type":"function",
      "z":"7070005c.5141d",
      "name":"",
      "func":"var m={};\nm.labels = [\"January\", \"February\", \"March\", \"April\", \"May\", \"June\", \"July\"];\nm.series = ['Series A', 'Series B', 'Series C'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20]\n  ];\nreturn {payload:[m]};",
      "outputs":1,
      "noerr":0,
      "x":390,
      "y":420,
      "wires":[
         [
            "ea4f9254.edda5",
            "fb958b30.51eb08",
            "fb840d68.7e9e9",
            "d34eebd6.498c88"
         ]
      ]
   },
   {
      "id":"ea4f9254.edda5",
      "type":"ui_chart",
      "z":"7070005c.5141d",
      "name":"",
      "group":"de587918.67feb8",
      "order":1,
      "width":0,
      "height":0,
      "label":"line chart",
      "chartType":"line",
      "legend":"false",
      "xformat":"auto",
      "interpolate":"linear",
      "nodata":"No Data",
      "dot":false,
      "ymin":"",
      "ymax":"",
      "removeOlder":1,
      "removeOlderPoints":"",
      "removeOlderUnit":"3600",
      "cutout":0,
      "useOneColor":false,
      "colors":[
         "#1f77b4",
         "#aec7e8",
         "#ff7f0e",
         "#2ca02c",
         "#98df8a",
         "#d62728",
         "#ff9896",
         "#9467bd",
         "#c5b0d5"
      ],
      "useOldStyle":false,
      "outputs":2,
      "x":660,
      "y":160,
      "wires":[
         [

         ],
         [

         ]
      ]
   },
   {
      "id":"c89c159f.49fb78",
      "type":"function",
      "z":"7070005c.5141d",
      "name":"",
      "func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n    \"data\":[[{\"x\":1504029632890,\"y\":5},{\"x\":1504029636001,\"y\":4},{\"x\":1504029638656,\"y\":2}],[{\"x\":1504029633514,\"y\":6},{\"x\":1504029636622,\"y\":7},{\"x\":1504029639539,\"y\":6}],[{\"x\":1504029634400,\"y\":7},{\"x\":1504029637959,\"y\":9},{\"x\":1504029640317,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":390,
      "y":260,
      "wires":[
         [
            "ea4f9254.edda5"
         ]
      ]
   },
   {
      "id":"ab2f6f14.4ec39",
      "type":"ui_button",
      "z":"7070005c.5141d",
      "name":"",
      "group":"cf1d3fa0.b8cbc",
      "order":1,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"Time Line 1",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"",
      "payloadType":"str",
      "topic":"",
      "x":250,
      "y":260,
      "wires":[
         [
            "c89c159f.49fb78"
         ]
      ]
   },
   {
      "id":"fb958b30.51eb08",
      "type":"ui_chart",
      "z":"7070005c.5141d",
      "name":"",
      "group":"de587918.67feb8",
      "order":2,
      "width":0,
      "height":0,
      "label":"bar chart",
      "chartType":"bar",
      "legend":"false",
      "xformat":"HH:mm:ss",
      "interpolate":"linear",
      "nodata":"No Data",
      "dot":false,
      "ymin":"",
      "ymax":"",
      "removeOlder":1,
      "removeOlderPoints":"",
      "removeOlderUnit":"3600",
      "cutout":0,
      "colors":[
         "#1f77b4",
         "#aec7e8",
         "#ff7f0e",
         "#2ca02c",
         "#98df8a",
         "#d62728",
         "#ff9896",
         "#9467bd",
         "#c5b0d5"
      ],
      "useOldStyle":false,
      "outputs":2,
      "x":660,
      "y":220,
      "wires":[
         [

         ],
         [

         ]
      ]
   },
   {
      "id":"234854e8.c1e8ec",
      "type":"ui_button",
      "z":"7070005c.5141d",
      "name":"",
      "group":"cf1d3fa0.b8cbc",
      "order":5,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"array",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"",
      "payloadType":"str",
      "topic":"",
      "x":230,
      "y":420,
      "wires":[
         [
            "ed5acfb4.f1982"
         ]
      ]
   },
   {
      "id":"e108dae.8c6ba28",
      "type":"random",
      "z":"7070005c.5141d",
      "name":"",
      "low":"1",
      "high":"10000000",
      "inte":"true",
      "x":420,
      "y":620,
      "wires":[
         [
            "ea4f9254.edda5"
         ]
      ]
   },
   {
      "id":"eb29018c.f873d",
      "type":"inject",
      "z":"7070005c.5141d",
      "name":"",
      "topic":"",
      "payload":"",
      "payloadType":"str",
      "repeat":"",
      "crontab":"",
      "once":false,
      "x":250,
      "y":620,
      "wires":[
         [
            "e108dae.8c6ba28"
         ]
      ]
   },
   {
      "id":"6d6ecf11.40f45",
      "type":"function",
      "z":"7070005c.5141d",
      "name":"",
      "func":"var m={};\nm.labels = [10,20,30,40,50,60,70];\nm.series = ['Series A', 'Series B', 'Series C', 'Series D'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20],\n    [58, 18, 40, 29, 15, 30, 60]\n  ];\nreturn {payload:[m]};",
      "outputs":1,
      "noerr":0,
      "x":390,
      "y":460,
      "wires":[
         [
            "ea4f9254.edda5",
            "fb958b30.51eb08",
            "fb840d68.7e9e9",
            "d34eebd6.498c88"
         ]
      ]
   },
   {
      "id":"c078028c.bea65",
      "type":"ui_button",
      "z":"7070005c.5141d",
      "name":"",
      "group":"cf1d3fa0.b8cbc",
      "order":6,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"array2",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"",
      "payloadType":"str",
      "topic":"",
      "x":230,
      "y":460,
      "wires":[
         [
            "6d6ecf11.40f45"
         ]
      ]
   },
   {
      "id":"b9eb6c2a.4202a",
      "type":"function",
      "z":"7070005c.5141d",
      "name":"",
      "func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1,\"y\":5},{\"x\":2,\"y\":4},{\"x\":3,\"y\":2}],[{\"x\":4,\"y\":6},{\"x\":5,\"y\":7},{\"x\":6,\"y\":6}],[{\"x\":7,\"y\":7},{\"x\":8,\"y\":9},{\"x\":9,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":390,
      "y":300,
      "wires":[
         [
            "ea4f9254.edda5"
         ]
      ]
   },
   {
      "id":"c3ad5774.b85d08",
      "type":"ui_button",
      "z":"7070005c.5141d",
      "name":"",
      "group":"cf1d3fa0.b8cbc",
      "order":2,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"Time Line 2",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"",
      "payloadType":"str",
      "topic":"",
      "x":250,
      "y":300,
      "wires":[
         [
            "b9eb6c2a.4202a"
         ]
      ]
   },
   {
      "id":"fbedcd03.5ba8c",
      "type":"function",
      "z":"7070005c.5141d",
      "name":"",
      "func":"var m = {};\nm.labels = [\"Download\", \"In-Store\", \"Mail-Order\"];\nm.data = [[300, 500, 100]];\nm.series = [\"Sales\"];\nreturn {payload:[m],topic:msg.topic};",
      "outputs":1,
      "noerr":0,
      "x":410,
      "y":660,
      "wires":[
         [
            "d34eebd6.498c88",
            "fb958b30.51eb08",
            "ea4f9254.edda5",
            "bde58c1c.0eece",
            "7227083.80835f8",
            "fb840d68.7e9e9"
         ]
      ]
   },
   {
      "id":"d34eebd6.498c88",
      "type":"ui_chart",
      "z":"7070005c.5141d",
      "name":"pie chart",
      "group":"de587918.67feb8",
      "order":3,
      "width":0,
      "height":0,
      "label":"pie chart",
      "chartType":"pie",
      "legend":"true",
      "xformat":"HH:mm:ss",
      "interpolate":"linear",
      "nodata":"",
      "dot":false,
      "ymin":"",
      "ymax":"",
      "removeOlder":1,
      "removeOlderPoints":"",
      "removeOlderUnit":"3600",
      "cutout":"30",
      "useOneColor":false,
      "colors":[
         "#1f77b4",
         "#aec7e8",
         "#ff7f0e",
         "#2ca02c",
         "#98df8a",
         "#d62728",
         "#ff9896",
         "#9467bd",
         "#c5b0d5"
      ],
      "useOldStyle":false,
      "outputs":2,
      "x":700,
      "y":400,
      "wires":[
         [

         ],
         [

         ]
      ]
   },
   {
      "id":"b4ac6538.6a02a8",
      "type":"ui_button",
      "z":"7070005c.5141d",
      "name":"",
      "group":"cf1d3fa0.b8cbc",
      "order":10,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"array for pie",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"",
      "payloadType":"str",
      "topic":"Pie 4 T",
      "x":250,
      "y":660,
      "wires":[
         [
            "fbedcd03.5ba8c"
         ]
      ]
   },
   {
      "id":"f86e073f.210608",
      "type":"function",
      "z":"7070005c.5141d",
      "name":"",
      "func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1000000,\"y\":5},{\"x\":2000000,\"y\":4},{\"x\":3000000,\"y\":2}],[{\"x\":4000000,\"y\":6},{\"x\":5000000,\"y\":7},{\"x\":6000000,\"y\":6}],[{\"x\":7000000,\"y\":7},{\"x\":8000000,\"y\":9},{\"x\":9000000,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":390,
      "y":340,
      "wires":[
         [
            "ea4f9254.edda5"
         ]
      ]
   },
   {
      "id":"d65aff35.5b1bd",
      "type":"ui_button",
      "z":"7070005c.5141d",
      "name":"",
      "group":"cf1d3fa0.b8cbc",
      "order":3,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"Time Line 3",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"",
      "payloadType":"str",
      "topic":"",
      "x":250,
      "y":340,
      "wires":[
         [
            "f86e073f.210608"
         ]
      ]
   },
   {
      "id":"469678d1.fe9968",
      "type":"function",
      "z":"7070005c.5141d",
      "name":"",
      "func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1000000000,\"y\":5},{\"x\":2000000000,\"y\":4},{\"x\":3000000000,\"y\":2}],[{\"x\":4000000000,\"y\":6},{\"x\":5000000000,\"y\":7},{\"x\":6000000000,\"y\":6}],[{\"x\":7000000000,\"y\":7},{\"x\":8000000000,\"y\":9},{\"x\":9000000000,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":390,
      "y":380,
      "wires":[
         [
            "ea4f9254.edda5"
         ]
      ]
   },
   {
      "id":"ee03c8fd.b00b08",
      "type":"ui_button",
      "z":"7070005c.5141d",
      "name":"",
      "group":"cf1d3fa0.b8cbc",
      "order":4,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"Time Line 4",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"",
      "payloadType":"str",
      "topic":"",
      "x":250,
      "y":380,
      "wires":[
         [
            "469678d1.fe9968"
         ]
      ]
   },
   {
      "id":"f1f55ab2.cf8878",
      "type":"function",
      "z":"7070005c.5141d",
      "name":"",
      "func":"var m={\n    \"series\":[\"X\",\"Y\",\"Z\"],\n    \"data\":[[5,6,9],[3,8,5],[6,7,2]],\n    \"labels\":[\"Jan\",\"Feb\",\"Mar\"]\n};\nreturn {payload:[m]};",
      "outputs":1,
      "noerr":0,
      "x":390,
      "y":580,
      "wires":[
         [
            "ea4f9254.edda5",
            "fb958b30.51eb08",
            "d34eebd6.498c88",
            "bde58c1c.0eece",
            "7227083.80835f8",
            "fb840d68.7e9e9"
         ]
      ]
   },
   {
      "id":"bdd0ad44.8e90e",
      "type":"ui_button",
      "z":"7070005c.5141d",
      "name":"",
      "group":"cf1d3fa0.b8cbc",
      "order":9,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"array3c",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"",
      "payloadType":"str",
      "topic":"",
      "x":240,
      "y":580,
      "wires":[
         [
            "f1f55ab2.cf8878"
         ]
      ]
   },
   {
      "id":"e77b885.965ad78",
      "type":"ui_button",
      "z":"7070005c.5141d",
      "name":"",
      "group":"cf1d3fa0.b8cbc",
      "order":11,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"array 2 for pie",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"",
      "payloadType":"str",
      "topic":"Pie Hole",
      "x":260,
      "y":700,
      "wires":[
         [
            "e824e6b7.1f3058"
         ]
      ]
   },
   {
      "id":"e824e6b7.1f3058",
      "type":"function",
      "z":"7070005c.5141d",
      "name":"",
      "func":"var m = {};\nm.labels = ['2006', '2007', '2008', '2009', '2010', '2011', '2012'];\nm.data = [[28, 48, 40, 19, 86, 27, 90]];\nm.series = ['Series A'];\nreturn {payload:[m],topic:msg.topic};",
      "outputs":1,
      "noerr":0,
      "x":410,
      "y":700,
      "wires":[
         [
            "d34eebd6.498c88",
            "fb958b30.51eb08",
            "7227083.80835f8",
            "bde58c1c.0eece",
            "ea4f9254.edda5",
            "fb840d68.7e9e9"
         ]
      ]
   },
   {
      "id":"ee883a11.c7a628",
      "type":"function",
      "z":"7070005c.5141d",
      "name":"topic",
      "func":"var m = [\n    {topic:\"X\", payload:22},\n    {topic:\"Y\", payload:66},\n    {topic:\"Z\", payload:42}\n    ];\nreturn [m];",
      "outputs":1,
      "noerr":0,
      "x":390,
      "y":220,
      "wires":[
         [
            "fb958b30.51eb08",
            "d34eebd6.498c88",
            "ea4f9254.edda5",
            "fb840d68.7e9e9"
         ]
      ]
   },
   {
      "id":"e6b4d7c0.495b38",
      "type":"inject",
      "z":"7070005c.5141d",
      "name":"",
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "repeat":"",
      "crontab":"",
      "once":false,
      "x":240,
      "y":220,
      "wires":[
         [
            "ee883a11.c7a628"
         ]
      ]
   },
   {
      "id":"d98d51a3.89e35",
      "type":"function",
      "z":"7070005c.5141d",
      "name":"label",
      "func":"var m = [\n    {label:\"A\", payload:22},\n    {label:\"B\", payload:66},\n    {label:\"C\", payload:42},\n    ];\nreturn [m];",
      "outputs":1,
      "noerr":0,
      "x":390,
      "y":180,
      "wires":[
         [
            "fb958b30.51eb08",
            "d34eebd6.498c88",
            "ea4f9254.edda5",
            "fb840d68.7e9e9"
         ]
      ]
   },
   {
      "id":"d153f1dd.037c3",
      "type":"inject",
      "z":"7070005c.5141d",
      "name":"",
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "repeat":"",
      "crontab":"",
      "once":false,
      "x":240,
      "y":180,
      "wires":[
         [
            "d98d51a3.89e35"
         ]
      ]
   },
   {
      "id":"b168c373.bb65e",
      "type":"function",
      "z":"7070005c.5141d",
      "name":"",
      "func":"var m={\n    \"series\":[\"X\",\"Y\",\"Z\"],\n    \"data\":[[5],[3],[6]],\n    \"labels\":[\"Jan\"]\n};\nreturn {payload:[m]};",
      "outputs":1,
      "noerr":0,
      "x":390,
      "y":500,
      "wires":[
         [
            "fb958b30.51eb08",
            "bde58c1c.0eece",
            "7227083.80835f8",
            "ea4f9254.edda5",
            "fb840d68.7e9e9",
            "d34eebd6.498c88"
         ]
      ]
   },
   {
      "id":"752ab22a.ae36ac",
      "type":"ui_button",
      "z":"7070005c.5141d",
      "name":"",
      "group":"cf1d3fa0.b8cbc",
      "order":7,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"array3a",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"",
      "payloadType":"str",
      "topic":"",
      "x":240,
      "y":500,
      "wires":[
         [
            "b168c373.bb65e"
         ]
      ]
   },
   {
      "id":"43e8b81.f4f3348",
      "type":"function",
      "z":"7070005c.5141d",
      "name":"",
      "func":"var m={\n    \"series\":[\"X\"],\n    \"data\":[[5,3,6]],\n    \"labels\":[\"Jan\",\"Feb\",\"Mar\"]\n};\nreturn {payload:[m]};",
      "outputs":1,
      "noerr":0,
      "x":390,
      "y":540,
      "wires":[
         [
            "fb958b30.51eb08",
            "ea4f9254.edda5",
            "7227083.80835f8",
            "bde58c1c.0eece",
            "fb840d68.7e9e9",
            "d34eebd6.498c88"
         ]
      ]
   },
   {
      "id":"4b87b075.dbdaf",
      "type":"ui_button",
      "z":"7070005c.5141d",
      "name":"",
      "group":"cf1d3fa0.b8cbc",
      "order":8,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"array3b",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"",
      "payloadType":"str",
      "topic":"",
      "x":240,
      "y":540,
      "wires":[
         [
            "43e8b81.f4f3348"
         ]
      ]
   },
   {
      "id":"fb840d68.7e9e9",
      "type":"ui_chart",
      "z":"7070005c.5141d",
      "name":"",
      "group":"4422fcab.8b4204",
      "order":2,
      "width":0,
      "height":0,
      "label":"horizontal bar",
      "chartType":"horizontalBar",
      "legend":"false",
      "xformat":"HH:mm:ss",
      "interpolate":"linear",
      "nodata":"",
      "dot":false,
      "ymin":"",
      "ymax":"",
      "removeOlder":1,
      "removeOlderPoints":"",
      "removeOlderUnit":"3600",
      "cutout":"30",
      "colors":[
         "#1f77b4",
         "#aec7e8",
         "#ff7f0e",
         "#2ca02c",
         "#98df8a",
         "#d62728",
         "#ff9896",
         "#9467bd",
         "#c5b0d5"
      ],
      "useOldStyle":false,
      "outputs":2,
      "x":680,
      "y":280,
      "wires":[
         [

         ],
         [

         ]
      ]
   },
   {
      "id":"bde58c1c.0eece",
      "type":"ui_chart",
      "z":"7070005c.5141d",
      "name":"",
      "group":"4422fcab.8b4204",
      "order":3,
      "width":0,
      "height":0,
      "label":"polar chart",
      "chartType":"polar-area",
      "legend":"false",
      "xformat":"HH:mm:ss",
      "interpolate":"linear",
      "nodata":"",
      "dot":false,
      "ymin":"",
      "ymax":"",
      "removeOlder":1,
      "removeOlderPoints":"",
      "removeOlderUnit":"3600",
      "cutout":"30",
      "colors":[
         "#1f77b4",
         "#aec7e8",
         "#ff7f0e",
         "#2ca02c",
         "#98df8a",
         "#d62728",
         "#ff9896",
         "#9467bd",
         "#c5b0d5"
      ],
      "useOldStyle":false,
      "outputs":2,
      "x":710,
      "y":520,
      "wires":[
         [

         ],
         [

         ]
      ]
   },
   {
      "id":"7227083.80835f8",
      "type":"ui_chart",
      "z":"7070005c.5141d",
      "name":"",
      "group":"4422fcab.8b4204",
      "order":4,
      "width":0,
      "height":0,
      "label":"radar chart",
      "chartType":"radar",
      "legend":"false",
      "xformat":"HH:mm:ss",
      "interpolate":"linear",
      "nodata":"",
      "dot":false,
      "ymin":"",
      "ymax":"",
      "removeOlder":1,
      "removeOlderPoints":"",
      "removeOlderUnit":"3600",
      "cutout":"30",
      "colors":[
         "#1f77b4",
         "#aec7e8",
         "#ff7f0e",
         "#2ca02c",
         "#98df8a",
         "#d62728",
         "#ff9896",
         "#9467bd",
         "#c5b0d5"
      ],
      "useOldStyle":false,
      "outputs":1,
      "x":710,
      "y":580,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"cea92ae9.0e6cf8",
      "type":"function",
      "z":"7070005c.5141d",
      "name":"label",
      "func":"var m = [\n    {label:\"A\", payload:22, series:\"X\"},\n    {label:\"B\", payload:66, series:\"X\"},\n    {label:\"C\", payload:42, series:\"X\"},\n    {label:\"A\", payload:33, series:\"Y\"},\n    {label:\"B\", payload:72, series:\"Y\"},\n    {label:\"C\", payload:12, series:\"Y\"},\n    {label:\"A\", payload:44, series:\"Z\"},\n    {label:\"B\", payload:32, series:\"Z\"},\n    {label:\"C\", payload:80, series:\"Z\"}\n    ];\nreturn [m];",
      "outputs":1,
      "noerr":0,
      "x":390,
      "y":140,
      "wires":[
         [
            "d34eebd6.498c88",
            "fb958b30.51eb08",
            "ea4f9254.edda5",
            "fb840d68.7e9e9"
         ]
      ]
   },
   {
      "id":"5a4c6528.346b0c",
      "type":"inject",
      "z":"7070005c.5141d",
      "name":"",
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "repeat":"",
      "crontab":"",
      "once":false,
      "x":240,
      "y":140,
      "wires":[
         [
            "cea92ae9.0e6cf8"
         ]
      ]
   },
   {
      "id":"2f46f378.18a6bc",
      "type":"ui_button",
      "z":"7070005c.5141d",
      "name":"",
      "group":"cf1d3fa0.b8cbc",
      "order":11,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"Clear All",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"[]",
      "payloadType":"json",
      "topic":"",
      "x":380,
      "y":100,
      "wires":[
         [
            "7227083.80835f8",
            "bde58c1c.0eece",
            "d34eebd6.498c88",
            "fb840d68.7e9e9",
            "fb958b30.51eb08",
            "ea4f9254.edda5"
         ]
      ]
   },
   {
      "id":"de587918.67feb8",
      "type":"ui_group",
      "z":"",
      "name":"Charts",
      "tab":"91233e34.a84e2",
      "order":2,
      "disp":false,
      "width":"6"
   },
   {
      "id":"cf1d3fa0.b8cbc",
      "type":"ui_group",
      "z":"",
      "name":"Inputs",
      "tab":"91233e34.a84e2",
      "order":1,
      "disp":false,
      "width":"6"
   },
   {
      "id":"4422fcab.8b4204",
      "type":"ui_group",
      "z":"",
      "name":"Group 3",
      "tab":"91233e34.a84e2",
      "order":3,
      "disp":false,
      "width":"6"
   },
   {
      "id":"91233e34.a84e2",
      "type":"ui_tab",
      "z":"",
      "name":"Charts",
      "icon":"dashboard",
      "order":4
   }
]