Historico.json
[
   {
      "id":"1f3ab5a.a09a44a",
      "type":"tab",
      "label":"Dashboard Histórico",
      "disabled":false,
      "info":""
   },
   {
      "id":"80ea8435.6de3f8",
      "type":"function",
      "z":"1f3ab5a.a09a44a",
      "name":"",
      "func":"var dateNowFlow2 = new Date();\nglobal.set(\"dateNowFlow2\",dateNowFlow2);\nvar timeAsStringFlow2 = dateNowFlow2.toLocaleTimeString();\nglobal.set(\"timeAsStringFlow2\",timeAsStringFlow2);\nmsg.payload = timeAsStringFlow2;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":790,
      "y":40,
      "wires":[
         [
            "db1ecb3d.bb5c78"
         ]
      ]
   },
   {
      "id":"db1ecb3d.bb5c78",
      "type":"ui_text",
      "z":"1f3ab5a.a09a44a",
      "group":"73347df.9eb6d84",
      "order":6,
      "width":0,
      "height":0,
      "name":"",
      "label":"Hora Atual",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":950,
      "y":40,
      "wires":[

      ]
   },
   {
      "id":"499f1025.8d46b",
      "type":"inject",
      "z":"1f3ab5a.a09a44a",
      "name":"",
      "topic":"",
      "payload":"time",
      "payloadType":"global",
      "repeat":"1",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":630,
      "y":40,
      "wires":[
         [
            "80ea8435.6de3f8"
         ]
      ]
   },
   {
      "id":"6addadf1.4da1c4",
      "type":"firebase.on",
      "z":"1f3ab5a.a09a44a",
      "name":"Sensor1",
      "firebaseconfig":"",
      "childpath":"/Sensor1RealTime",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":120,
      "y":500,
      "wires":[
         [
            "838bbf24.dce2f"
         ]
      ]
   },
   {
      "id":"97714f68.d054b",
      "type":"firebase.on",
      "z":"1f3ab5a.a09a44a",
      "name":"Sensor2",
      "firebaseconfig":"",
      "childpath":"/Sensor2RealTime",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":121.5,
      "y":554,
      "wires":[
         [
            "937f0d9b.32403"
         ]
      ]
   },
   {
      "id":"968f3ea.7f760c",
      "type":"firebase.on",
      "z":"1f3ab5a.a09a44a",
      "name":"Sensor3",
      "firebaseconfig":"",
      "childpath":"/Sensor3RealTime",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":120.5,
      "y":609,
      "wires":[
         [
            "c0a4cba0.e03db8"
         ]
      ]
   },
   {
      "id":"cc2dc2a4.9c349",
      "type":"firebase.on",
      "z":"1f3ab5a.a09a44a",
      "name":"Sensor4",
      "firebaseconfig":"",
      "childpath":"/Sensor4RealTime",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":117.5,
      "y":668,
      "wires":[
         [
            "9db8619d.29649"
         ]
      ]
   },
   {
      "id":"dd964231.c88d9",
      "type":"firebase.on",
      "z":"1f3ab5a.a09a44a",
      "name":"Outros",
      "firebaseconfig":"",
      "childpath":"/OutrosRealTime",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":110,
      "y":820,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"838bbf24.dce2f",
      "type":"function",
      "z":"1f3ab5a.a09a44a",
      "name":"",
      "func":"var sensor1RealTimeFlow2;\nvar biggerFlow2;\nif(msg.payload.indexOf(\"Entrada\") != -1){\n    msg.payload = msg.payload.substring(12,msg.payload.length).replace(\"\\r\\n\",\"\");\n}\nglobal.set(\"sensor1RealTimeFlow2\",msg);\nglobal.set(\"biggerFlow2\",msg);\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":324.99999618530273,
      "y":500.2499895095825,
      "wires":[
         [
            "82ce389.f9e17c8"
         ]
      ]
   },
   {
      "id":"937f0d9b.32403",
      "type":"function",
      "z":"1f3ab5a.a09a44a",
      "name":"",
      "func":"var sensor2RealTimeFlow2;\nif(msg.payload.indexOf(\"Entrada\") != -1){\n    msg.payload = msg.payload.substring(12,msg.payload.length).replace(\"\\r\\n\",\"\");\n}\nglobal.set(\"sensor2RealTimeFlow2\",msg);\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "x":325.99999618530273,
      "y":553.2499895095825,
      "wires":[
         [
            "82ce389.f9e17c8"
         ]
      ]
   },
   {
      "id":"c0a4cba0.e03db8",
      "type":"function",
      "z":"1f3ab5a.a09a44a",
      "name":"",
      "func":"var sensor3RealTimeFlow2;\nif(msg.payload.indexOf(\"Entrada\") != -1){\n    msg.payload = msg.payload.substring(12,msg.payload.length).replace(\"\\r\\n\",\"\");\n}\nglobal.set(\"sensor3RealTimeFlow2\",msg);\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "x":325.99999618530273,
      "y":609.2499895095825,
      "wires":[
         [
            "82ce389.f9e17c8"
         ]
      ]
   },
   {
      "id":"9db8619d.29649",
      "type":"function",
      "z":"1f3ab5a.a09a44a",
      "name":"",
      "func":"var sensor4RealTimeFlow2;\nif(msg.payload.indexOf(\"Entrada\") != -1){\n    msg.payload = msg.payload.substring(12,msg.payload.length).replace(\"\\r\\n\",\"\");\n}\nglobal.set(\"sensor4RealTimeFlow2\",msg);\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "x":315.99999618530273,
      "y":667.2499895095825,
      "wires":[
         [
            "82ce389.f9e17c8"
         ]
      ]
   },
   {
      "id":"56952afa.2474d4",
      "type":"firebase.on",
      "z":"1f3ab5a.a09a44a",
      "name":"Sensor5",
      "firebaseconfig":"",
      "childpath":"/Sensor5RealTime",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":120,
      "y":720,
      "wires":[
         [
            "b7e38359.11fbc"
         ]
      ]
   },
   {
      "id":"b7e38359.11fbc",
      "type":"function",
      "z":"1f3ab5a.a09a44a",
      "name":"",
      "func":"var sensor5RealTimeFlow2;\nif(msg.payload.indexOf(\"Entrada\") != -1){\n    msg.payload = msg.payload.substring(12,msg.payload.length).replace(\"\\r\\n\",\"\");\n}\nglobal.set(\"sensor5RealTimeFlow2\",msg);\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "x":318.49999618530273,
      "y":719.2499895095825,
      "wires":[
         [
            "82ce389.f9e17c8"
         ]
      ]
   },
   {
      "id":"f9f9ce31.24343",
      "type":"ui_text",
      "z":"1f3ab5a.a09a44a",
      "group":"73347df.9eb6d84",
      "order":3,
      "width":0,
      "height":0,
      "name":"",
      "label":"Sensor1 ",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":600,
      "y":220,
      "wires":[

      ]
   },
   {
      "id":"83a2bd9b.ee0cc",
      "type":"ui_gauge",
      "z":"1f3ab5a.a09a44a",
      "name":"",
      "group":"c575c1bf.ee1f",
      "order":2,
      "width":0,
      "height":0,
      "gtype":"gage",
      "title":"Gauge1",
      "label":"units",
      "format":"{{value}}",
      "min":0,
      "max":10,
      "colors":[
         "#00b500",
         "#e6e600",
         "#ca3838"
      ],
      "seg1":"",
      "seg2":"",
      "x":640,
      "y":160,
      "wires":[

      ]
   },
   {
      "id":"7799301c.0d644",
      "type":"function",
      "z":"1f3ab5a.a09a44a",
      "name":"",
      "func":"var comboResp = global.get(\"comboRespFlow2\").payload;\nvar sensor1Flow2 = global.get(\"sensor1RealTimeFlow2\") || undefined;\nvar sensor2Flow2 = global.get(\"sensor2RealTimeFlow2\") || undefined;\nvar sensor3Flow2 = global.get(\"sensor3RealTimeFlow2\") || undefined;\nvar sensor4Flow2 = global.get(\"sensor4RealTimeFlow2\") || undefined;\nvar sensor5Flow2 = global.get(\"sensor5RealTimeFlow2\") || undefined;\nvar num1 = 0;\nvar num2 = 0;\nvar num3 = 0;\nvar num4 = 0;\nvar num5 = 0;\n\nif(sensor1Flow2 != undefined)\n    num1 =  Number(sensor1Flow2.payload);\nif(sensor2Flow2 != undefined)\n    num2 =  Number(sensor2Flow2.payload);\nif(sensor3Flow2 != undefined)\n    num3 =  Number(sensor3Flow2.payload);\nif(sensor4Flow2 != undefined)\n    num4 =  Number(sensor4Flow2.payload);\nif(sensor5Flow2 != undefined)\n    num5 =  Number(sensor5Flow2.payload);\nvar total = num1+num2+num3+num4+num5;\n\nif(comboResp.indexOf(\"Todos\") != -1){\n    if(sensor1Flow2 != undefined)\n        num1 =  Number(sensor1Flow2.payload);\n    if(sensor2Flow2 != undefined)\n        num2 =  Number(sensor2Flow2.payload);\n    if(sensor3Flow2 != undefined)\n        num3 =  Number(sensor3Flow2.payload);\n    if(sensor4Flow2 != undefined)\n        num4 =  Number(sensor4Flow2.payload);\n    if(sensor5Flow2 != undefined)\n        num5 =  Number(sensor5Flow2.payload);\n    var total = num1+num2+num3+num4+num5;\n    msg.payload = total\n    \n}\nelse if(comboResp.indexOf(\"Sensor1\") != -1){\n    if(sensor1Flow2 != undefined)\n        msg.payload = global.get(\"sensor1RealTimeFlow2\").payload;\n    else\n        msg.payload = 0;\n}\nelse if(comboResp.indexOf(\"Sensor2\") != -1){\n    if(sensor2Flow2 != undefined)\n        msg.payload = global.get(\"sensor2RealTimeFlow2\").payload;\n    else\n        msg.payload = 0;\n}\nelse if(comboResp.indexOf(\"Sensor3\") != -1){\n    if(sensor3Flow2 != undefined)\n        msg.payload = global.get(\"sensor3RealTimeFlow2\").payload;\n    else\n        msg.payload = 0;\n}\nelse if(comboResp.indexOf(\"Sensor4\") != -1){\n    if(sensor4Flow2 != undefined)\n        msg.payload = global.get(\"sensor4RealTimeFlow2\").payload;\n    else\n        msg.payload = 0;\n}\nelse if(comboResp.indexOf(\"Sensor5\") != -1){\n    if(sensor5Flow2 != undefined)\n        msg.payload = global.get(\"sensor5RealTimeFlow2\").payload;\n    else\n        msg.payload = 0;\n}\nelse{\n    msg.payload = comboResp;\n}\nmsg.ui_control = {\"min\":0,\"max\":total};\n//msg.ui_control = {\"min\":0,\"max\":Number(global.get(\"biggerFlow2\").payload)};\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":450,
      "y":200,
      "wires":[
         [
            "f9f9ce31.24343",
            "83a2bd9b.ee0cc"
         ]
      ]
   },
   {
      "id":"9648d8c5.5015a8",
      "type":"function",
      "z":"1f3ab5a.a09a44a",
      "name":"",
      "func":"var comboResp;\nif(msg.payload.indexOf(\"Todos\") != -1){\n    msg.payload = \"Todos\";\n}\nif(msg.payload.indexOf(\"Sensor1\") != -1){\n    msg.payload = \"Sensor1\";\n}\nelse if(msg.payload.indexOf(\"Sensor2\") != -1){\n    msg.payload = \"Sensor2\";\n}\nelse if(msg.payload.indexOf(\"Sensor3\") != -1){\n    msg.payload = \"Sensor3\";\n}\nelse if(msg.payload.indexOf(\"Sensor4\") != -1){\n    msg.payload = \"Sensor4\";\n}\nelse if(msg.payload.indexOf(\"Sensor5\") != -1){\n    msg.payload = \"Sensor5\";\n}\n//else{\n//    msg.payload = \"Outro\";\n//}\nglobal.set(\"comboRespFlow2\",msg);\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "x":330,
      "y":160,
      "wires":[
         [
            "df47167d.4dd5b8"
         ]
      ]
   },
   {
      "id":"df47167d.4dd5b8",
      "type":"ui_text",
      "z":"1f3ab5a.a09a44a",
      "group":"73347df.9eb6d84",
      "order":2,
      "width":0,
      "height":0,
      "name":"",
      "label":"Opção",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":470,
      "y":160,
      "wires":[

      ]
   },
   {
      "id":"82552b97.332e08",
      "type":"ui_dropdown",
      "z":"1f3ab5a.a09a44a",
      "name":"",
      "label":"Sensores",
      "tooltip":"",
      "place":"Select option",
      "group":"b2959d12.dc3e7",
      "order":3,
      "width":0,
      "height":0,
      "passthru":true,
      "options":[
         {
            "label":"",
            "value":"Todos",
            "type":"str"
         },
         {
            "label":"",
            "value":"Sensor1",
            "type":"str"
         },
         {
            "label":"",
            "value":"Sensor2",
            "type":"str"
         },
         {
            "label":"",
            "value":"Sensor3",
            "type":"str"
         },
         {
            "label":"",
            "value":"Sensor4",
            "type":"str"
         },
         {
            "label":"",
            "value":"Sensor5",
            "type":"str"
         }
      ],
      "payload":"",
      "topic":"",
      "x":340,
      "y":100,
      "wires":[
         [
            "9648d8c5.5015a8",
            "fdd02941.86a3d8",
            "71a25c99.eff2e4"
         ]
      ]
   },
   {
      "id":"fdd02941.86a3d8",
      "type":"change",
      "z":"1f3ab5a.a09a44a",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"true",
            "tot":"bool"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":320,
      "y":240,
      "wires":[
         [
            "7799301c.0d644"
         ]
      ]
   },
   {
      "id":"ebf0c928.fff738",
      "type":"ui_button",
      "z":"1f3ab5a.a09a44a",
      "name":"",
      "group":"b2959d12.dc3e7",
      "order":1,
      "width":"6",
      "height":"1",
      "passthru":false,
      "label":"Todos",
      "tooltip":"",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"Todos",
      "payloadType":"str",
      "topic":"",
      "x":130,
      "y":100,
      "wires":[
         [
            "9648d8c5.5015a8",
            "fdd02941.86a3d8",
            "82552b97.332e08",
            "71a25c99.eff2e4"
         ]
      ]
   },
   {
      "id":"5944ec9f.6ecac4",
      "type":"ui_button",
      "z":"1f3ab5a.a09a44a",
      "name":"",
      "group":"c575c1bf.ee1f",
      "order":1,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"Sensor1",
      "tooltip":"",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"Sensor1",
      "payloadType":"str",
      "topic":"",
      "x":140,
      "y":140,
      "wires":[
         [
            "9648d8c5.5015a8",
            "fdd02941.86a3d8",
            "82552b97.332e08",
            "71a25c99.eff2e4"
         ]
      ]
   },
   {
      "id":"a065ec26.02bbc",
      "type":"ui_button",
      "z":"1f3ab5a.a09a44a",
      "name":"",
      "group":"3ce1ad24.76f722",
      "order":1,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"Sensor2",
      "tooltip":"",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"Sensor2",
      "payloadType":"str",
      "topic":"",
      "x":140,
      "y":180,
      "wires":[
         [
            "9648d8c5.5015a8",
            "fdd02941.86a3d8",
            "82552b97.332e08",
            "71a25c99.eff2e4"
         ]
      ]
   },
   {
      "id":"c2771676.ea5dc8",
      "type":"ui_button",
      "z":"1f3ab5a.a09a44a",
      "name":"",
      "group":"3105cb46.d75ac4",
      "order":3,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"Sensor3",
      "tooltip":"",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"Sensor3",
      "payloadType":"str",
      "topic":"",
      "x":140,
      "y":220,
      "wires":[
         [
            "9648d8c5.5015a8",
            "fdd02941.86a3d8",
            "82552b97.332e08",
            "71a25c99.eff2e4"
         ]
      ]
   },
   {
      "id":"bbb4c9b3.9050e8",
      "type":"ui_button",
      "z":"1f3ab5a.a09a44a",
      "name":"",
      "group":"a0d6613b.9e2b7",
      "order":3,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"Sensor4",
      "tooltip":"",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"Sensor4",
      "payloadType":"str",
      "topic":"",
      "x":140,
      "y":260,
      "wires":[
         [
            "9648d8c5.5015a8",
            "fdd02941.86a3d8",
            "82552b97.332e08",
            "71a25c99.eff2e4"
         ]
      ]
   },
   {
      "id":"6e68502f.e8fdf",
      "type":"ui_button",
      "z":"1f3ab5a.a09a44a",
      "name":"",
      "group":"ce73d2ff.1b40b",
      "order":3,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"Sensor5",
      "tooltip":"",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"Sensor5",
      "payloadType":"str",
      "topic":"",
      "x":140,
      "y":300,
      "wires":[
         [
            "9648d8c5.5015a8",
            "fdd02941.86a3d8",
            "82552b97.332e08",
            "71a25c99.eff2e4"
         ]
      ]
   },
   {
      "id":"82ce389.f9e17c8",
      "type":"function",
      "z":"1f3ab5a.a09a44a",
      "name":"",
      "func":"var biggerFlow2;\n\nif(Number(msg.payload) >= Number(global.get(\"biggerFlow2\").payload))\n    global.set(\"biggerFlow2\",msg);\n//else\n//    msg.payload = msg.payload\nreturn global.get(\"biggerFlow2\",msg);\n\n",
      "outputs":1,
      "noerr":0,
      "x":530,
      "y":500,
      "wires":[
         [
            "f3651ab3.259828",
            "fdd02941.86a3d8"
         ]
      ]
   },
   {
      "id":"f3651ab3.259828",
      "type":"ui_text",
      "z":"1f3ab5a.a09a44a",
      "group":"73347df.9eb6d84",
      "order":5,
      "width":0,
      "height":0,
      "name":"",
      "label":"Maior",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":690,
      "y":500,
      "wires":[

      ]
   },
   {
      "id":"4e1680b6.8cb74",
      "type":"function",
      "z":"1f3ab5a.a09a44a",
      "name":"",
      "func":"var comboResp = global.get(\"comboRespFlow2\").payload;\nvar sensor1Flow2 = global.get(\"sensor1HistoricoFlow2\") || undefined;\nvar sensor2Flow2 = global.get(\"sensor2HistoricoFlow2\") || undefined;\nvar sensor3Flow2 = global.get(\"sensor3HistoricoFlow2\") || undefined;\nvar sensor4Flow2 = global.get(\"sensor4HistoricoFlow2\") || undefined;\nvar sensor5Flow2 = global.get(\"sensor5HistoricoFlow2\") || undefined;\nvar num1 = 0;\nvar num2 = 0;\nvar num3 = 0;\nvar num4 = 0;\nvar num5 = 0;\n\n//if(sensor1Flow2 != undefined)\n//    num1 =  Number(sensor1Flow2.payload);\n//if(sensor2Flow2 != undefined)\n//    num2 =  Number(sensor2Flow2.payload);\n//if(sensor3Flow2 != undefined)\n//    num3 =  Number(sensor3Flow2.payload);\n//if(sensor4Flow2 != undefined)\n//    num4 =  Number(sensor4Flow2.payload);\n//if(sensor5Flow2 != undefined)\n//    num5 =  Number(sensor5Flow2.payload);\n//var total = num1+num2+num3+num4+num5;\n//\n//if(comboResp.indexOf(\"Todos\") != -1){\n//    if(sensor1Flow2 != undefined)\n//        num1 =  Number(sensor1Flow2.payload);\n//    if(sensor2Flow2 != undefined)\n//        num2 =  Number(sensor2Flow2.payload);\n//    if(sensor3Flow2 != undefined)\n//        num3 =  Number(sensor3Flow2.payload);\n//    if(sensor4Flow2 != undefined)\n//        num4 =  Number(sensor4Flow2.payload);\n//    if(sensor5Flow2 != undefined)\n//        num5 =  Number(sensor5Flow2.payload);\n//    var total = num1+num2+num3+num4+num5;\n//    msg.payload = total\n//    \n//}\nif(comboResp.indexOf(\"Sensor1\") != -1){\n    if(sensor1Flow2 != undefined)\n        msg.payload = global.get(\"sensor1HistoricoFlow2\").payload;\n    //else\n        //msg.payload = 0;\n}\nelse if(comboResp.indexOf(\"Sensor2\") != -1){\n    if(sensor2Flow2 != undefined)\n        msg.payload = global.get(\"sensor2HistoricoFlow2\").payload;\n    //else\n        //msg.payload = 0;\n}\nelse if(comboResp.indexOf(\"Sensor3\") != -1){\n    if(sensor3Flow2 != undefined)\n        msg.payload = global.get(\"sensor3HistoricoFlow2\").payload;\n    //else\n        //msg.payload = 0;\n}\nelse if(comboResp.indexOf(\"Sensor4\") != -1){\n    if(sensor4Flow2 != undefined)\n        msg.payload = global.get(\"sensor4HistoricoFlow2\").payload;\n    //else\n        //msg.payload = 0;\n}\nelse if(comboResp.indexOf(\"Sensor5\") != -1){\n    if(sensor5Flow2 != undefined)\n        msg.payload = global.get(\"sensor5HistoricoFlow2\").payload;\n    //else\n        //msg.payload = 0;\n}\nelse{\n    msg.payload = comboResp;\n}\n\n//msg.ui_control = {\"min\":0,\"max\":Number(global.get(\"biggerFlow2\").payload)};\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":450,
      "y":280,
      "wires":[
         [
            "442041c2.8de31"
         ]
      ]
   },
   {
      "id":"e0359b1e.8a7d98",
      "type":"ui_chart",
      "z":"1f3ab5a.a09a44a",
      "name":"",
      "group":"3ce1ad24.76f722",
      "order":6,
      "width":0,
      "height":0,
      "label":"24 Hrs",
      "chartType":"line",
      "legend":"false",
      "xformat":"HH",
      "interpolate":"linear",
      "nodata":"",
      "dot":false,
      "ymin":"",
      "ymax":"",
      "removeOlder":"24",
      "removeOlderPoints":"864",
      "removeOlderUnit":"3600",
      "cutout":0,
      "useOneColor":false,
      "colors":[
         "#1f77b4",
         "#aec7e8",
         "#ff7f0e",
         "#2ca02c",
         "#98df8a",
         "#d62728",
         "#ff9896",
         "#9467bd",
         "#c5b0d5"
      ],
      "useOldStyle":false,
      "outputs":1,
      "x":730,
      "y":360,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"a1c7a020.28119",
      "type":"firebase.on",
      "z":"1f3ab5a.a09a44a",
      "name":"Sensor1",
      "firebaseconfig":"",
      "childpath":"/Sensor1Historico/",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":120,
      "y":880,
      "wires":[
         [
            "4fb6b118.af94b"
         ]
      ]
   },
   {
      "id":"306e2ee4.07fc32",
      "type":"firebase.on",
      "z":"1f3ab5a.a09a44a",
      "name":"Sensor2",
      "firebaseconfig":"",
      "childpath":"/Sensor2Historico/",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":121.5,
      "y":934,
      "wires":[
         [
            "a48a122a.0533c"
         ]
      ]
   },
   {
      "id":"3ba15354.d5898c",
      "type":"firebase.on",
      "z":"1f3ab5a.a09a44a",
      "name":"Sensor3",
      "firebaseconfig":"",
      "childpath":"/Sensor3Historico/",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":120.5,
      "y":989,
      "wires":[
         [
            "3ee8dd2.a0c8222"
         ]
      ]
   },
   {
      "id":"ffe825e8.4ed338",
      "type":"firebase.on",
      "z":"1f3ab5a.a09a44a",
      "name":"Sensor4",
      "firebaseconfig":"",
      "childpath":"/Sensor4Historico/",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":117.5,
      "y":1048,
      "wires":[
         [
            "d4334ae6.dada08"
         ]
      ]
   },
   {
      "id":"4fb6b118.af94b",
      "type":"function",
      "z":"1f3ab5a.a09a44a",
      "name":"",
      "func":"var sensor1HistoricoFlow2;\n//if(msg.payload.indexOf(\"Entrada\") != -1){\n//    msg.payload = msg.payload.substring(12,msg.payload.length).replace(\"\\r\\n\",\"\");\n//}\nglobal.set(\"sensor1HistoricoFlow2\",msg);\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":450,
      "y":880,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"a48a122a.0533c",
      "type":"function",
      "z":"1f3ab5a.a09a44a",
      "name":"",
      "func":"var sensor2HistoricoFlow2;\n//if(msg.payload.indexOf(\"Entrada\") != -1){\n//    msg.payload = msg.payload.substring(12,msg.payload.length).replace(\"\\r\\n\",\"\");\n//}\nglobal.set(\"sensor2HistoricoFlow2\",msg);\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "x":451,
      "y":933,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"3ee8dd2.a0c8222",
      "type":"function",
      "z":"1f3ab5a.a09a44a",
      "name":"",
      "func":"var sensor3HistoricoFlow2;\n//if(msg.payload.indexOf(\"Entrada\") != -1){\n//    msg.payload = msg.payload.substring(12,msg.payload.length).replace(\"\\r\\n\",\"\");\n//}\nglobal.set(\"sensor3HistoricoFlow2\",msg);\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "x":451,
      "y":989,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"d4334ae6.dada08",
      "type":"function",
      "z":"1f3ab5a.a09a44a",
      "name":"",
      "func":"var sensor4HistoricoFlow2;\n//if(msg.payload.indexOf(\"Entrada\") != -1){\n//    msg.payload = msg.payload.substring(12,msg.payload.length).replace(\"\\r\\n\",\"\");\n//}\nglobal.set(\"sensor4HistoricoFlow2\",msg);\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "x":441,
      "y":1047,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"6fbe2371.57610c",
      "type":"firebase.on",
      "z":"1f3ab5a.a09a44a",
      "name":"Sensor5",
      "firebaseconfig":"",
      "childpath":"/Sensor5Historico/",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":120,
      "y":1100,
      "wires":[
         [
            "52acabd2.f09284"
         ]
      ]
   },
   {
      "id":"52acabd2.f09284",
      "type":"function",
      "z":"1f3ab5a.a09a44a",
      "name":"",
      "func":"var sensor5HistoricoFlow2;\n//if(msg.payload.indexOf(\"Entrada\") != -1){\n//    msg.payload = msg.payload.substring(12,msg.payload.length).replace(\"\\r\\n\",\"\");\n//}\nglobal.set(\"sensor5HistoricoFlow2\",msg);\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "x":443.5,
      "y":1099,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"71a25c99.eff2e4",
      "type":"change",
      "z":"1f3ab5a.a09a44a",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"true",
            "tot":"bool"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":320,
      "y":320,
      "wires":[
         [
            "4e1680b6.8cb74"
         ]
      ]
   },
   {
      "id":"1a034c73.0151f4",
      "type":"function",
      "z":"1f3ab5a.a09a44a",
      "name":"",
      "func":"//var json1 = JSON.stringfy(\"{\"+msg.payload+\"}\");\nvar json = JSON.parse(\"{\"+msg.payload+\"}\");\n//msg.payload = \"\";\n//for(var i = 0; i < json.length; i++) {\n//    var obj = json[i];\n//    \n//    msg.payload = json[i];\n//    return msg;\n//}\n//return msg;\n//msg.payload = json[0];\n//return msg;\n\nconst array1 = [];\nObject.keys(json).forEach((key) => {\n  array1.push({[key]: object1[key]});\n});\n\nmsg.payload = \"\";\nfor(var i = 0; i < array1.length; i++) {\n    msg.payload += array1[i].toString();\n}\nreturn msg;\n\n\n//var obj1 = JSON.stringify(msg.payload);\n//var obj2 = JSON.parse(obj1);\n//msg.payload = obj1[0]; \n//return msg;",
      "outputs":1,
      "noerr":0,
      "x":910,
      "y":600,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"9d36a3ed.91d7",
      "type":"function",
      "z":"1f3ab5a.a09a44a",
      "name":"",
      "func":"var jsonData1 = JSON.stringfy(\"{\"+msg.payload+\"}\");\n//var jsonData = JSON.parse(jsonData1);\nvar jsonData = JSON.parse(\"{\"+msg.payload+\"}\");\n\n\n//for(var i in jsonData){\n//    var key = i;\n//    var val = jsonData[i];\n//    for(var j in val){\n//        var sub_key = j;\n//        var sub_val = val[j];\n//        msg.payload += sub_key;\n//    }\n//}\n//return msg;\n\n//msg.payload =Object.keys(jsonData);\n\n//for(var obj in jsonData){\n//    if(jsonData.hasOwnProperty(obj)){\n//    for(var prop in jsonData[obj]){\n//        if(jsonData[obj].hasOwnProperty(prop)){\n//           msg.payload += jsonData[obj][prop];\n//        }\n//    }\n//}\n//}\n\nvar ret = Object.keys(jsonData).map(function(a,i){ return[i,asd[a].name,asd[a].password] })\n\nmsg.payload =ret.toString();\n\n//var array1 = Object.keys(jsonData).map(function(a,i){\n//  return [i,asd[a].Date,asd[a].Sensor];\n// })\n//\n//\n//msg.payload = \"\";\n//for(var i = 0; i < array1.length; i++) {\n//    msg.payload += array1[i];\n//}\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":910,
      "y":640,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"c47e5c86.d362e",
      "type":"function",
      "z":"1f3ab5a.a09a44a",
      "name":"",
      "func":"var parts = msg.payload.split(\"{\" | \"}\");\n//for(var i = 0; i < parts.length; i++) {\n//  var part = parts[i].trim();\n//\n//  if(part[0] !== '{') part = '{' + part;\n//  if(part[part.length-1] !== '}') part += '}';\n//\n//  var json = JSON.parse(part);\n//}\nmsg.payload = JSON.stringfy(parts[0]);\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "x":910,
      "y":546,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"8da991aa.34db1",
      "type":"inject",
      "z":"1f3ab5a.a09a44a",
      "name":"increment",
      "topic":"increment",
      "payload":"",
      "payloadType":"date",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":120,
      "y":1180,
      "wires":[
         [
            "204a50d4.1b281",
            "2d79293d.0cc096"
         ]
      ]
   },
   {
      "id":"204a50d4.1b281",
      "type":"function",
      "z":"1f3ab5a.a09a44a",
      "name":"update element in data array ",
      "func":"var data = context.get(\"data\") || [];\nif(data.length === 0 || msg.topic === \"clear\"){\n   data = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];\n}\nif(msg.topic === \"increment\"){\n    var hour = new Date().getHours();\n    data[hour] ++;\n}\ncontext.set(\"data\",data);\nmsg.payload = data;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":370,
      "y":1200,
      "wires":[
         [
            "b4aa4632.def918"
         ]
      ]
   },
   {
      "id":"b4aa4632.def918",
      "type":"function",
      "z":"1f3ab5a.a09a44a",
      "name":"format data for chart",
      "func":"var data = msg.payload;\nmsg.payload = [{\n    \"series\": [ \"X\" ],\n    \"data\": [ data ],\n    \"labels\": [ \"00\",\"01\",\"02\",\"03\",\"04\",\"05\",\"06\",\"07\",\"08\",\"09\",\"10\",\"11\",\"12\",\"13\",\"14\",\"15\",\"16\",\"17\",\"18\",\"19\",\"20\",\"21\",\"22\",\"23\"]\n}];\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":680,
      "y":1180,
      "wires":[
         [
            "7ebd53d5.3b617c",
            "1251d194.4d5cbe"
         ]
      ]
   },
   {
      "id":"7ebd53d5.3b617c",
      "type":"ui_chart",
      "z":"1f3ab5a.a09a44a",
      "name":"",
      "group":"ce73d2ff.1b40b",
      "order":0,
      "width":0,
      "height":0,
      "label":"CHART",
      "chartType":"bar",
      "legend":"false",
      "xformat":"HH:mm:ss",
      "interpolate":"linear",
      "nodata":"",
      "dot":false,
      "ymin":"",
      "ymax":"",
      "removeOlder":1,
      "removeOlderPoints":"",
      "removeOlderUnit":"3600",
      "cutout":0,
      "useOneColor":true,
      "colors":[
         "#1f77b4",
         "#aec7e8",
         "#ff7f0e",
         "#2ca02c",
         "#98df8a",
         "#d62728",
         "#ff9896",
         "#9467bd",
         "#c5b0d5"
      ],
      "useOldStyle":false,
      "outputs":1,
      "x":940,
      "y":1180,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"a54338df.034d18",
      "type":"inject",
      "z":"1f3ab5a.a09a44a",
      "name":"clear",
      "topic":"clear",
      "payload":"",
      "payloadType":"date",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":130,
      "y":1220,
      "wires":[
         [
            "204a50d4.1b281"
         ]
      ]
   },
   {
      "id":"1251d194.4d5cbe",
      "type":"ui_chart",
      "z":"1f3ab5a.a09a44a",
      "name":"",
      "group":"ce73d2ff.1b40b",
      "order":0,
      "width":0,
      "height":0,
      "label":"CHART",
      "chartType":"line",
      "legend":"false",
      "xformat":"HH:mm:ss",
      "interpolate":"linear",
      "nodata":"",
      "dot":false,
      "ymin":"",
      "ymax":"",
      "removeOlder":1,
      "removeOlderPoints":"",
      "removeOlderUnit":"3600",
      "cutout":0,
      "useOneColor":true,
      "colors":[
         "#1f77b4",
         "#aec7e8",
         "#ff7f0e",
         "#2ca02c",
         "#98df8a",
         "#d62728",
         "#ff9896",
         "#9467bd",
         "#c5b0d5"
      ],
      "useOldStyle":false,
      "outputs":1,
      "x":1060,
      "y":1240,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"78bb679f.daef48",
      "type":"ui_chart",
      "z":"1f3ab5a.a09a44a",
      "name":"",
      "group":"b2959d12.dc3e7",
      "order":0,
      "width":0,
      "height":0,
      "label":"CHART",
      "chartType":"line",
      "legend":"false",
      "xformat":"HH:mm:ss",
      "interpolate":"linear",
      "nodata":"",
      "dot":false,
      "ymin":"",
      "ymax":"",
      "removeOlder":1,
      "removeOlderPoints":"",
      "removeOlderUnit":"3600",
      "cutout":0,
      "useOneColor":true,
      "colors":[
         "#1f77b4",
         "#aec7e8",
         "#ff7f0e",
         "#2ca02c",
         "#98df8a",
         "#d62728",
         "#ff9896",
         "#9467bd",
         "#c5b0d5"
      ],
      "useOldStyle":false,
      "outputs":1,
      "x":940,
      "y":1280,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"2d79293d.0cc096",
      "type":"function",
      "z":"1f3ab5a.a09a44a",
      "name":"format data for chart",
      "func":"var data = msg.payload;\nmsg.payload = [{\n    \"series\": [\"X\", \"Y\", \"Z\" ],\n    \"data\": [ [5,6,9], [3,8,5], [6,7,2] ],\n    \"labels\": [ \"Jan\", \"Feb\", \"Mar\" ]\n}];\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":600,
      "y":1280,
      "wires":[
         [
            "78bb679f.daef48",
            "9e962491.29bdc8"
         ]
      ]
   },
   {
      "id":"f61b39eb.22ad68",
      "type":"function",
      "z":"1f3ab5a.a09a44a",
      "name":"",
      "func":" var arrObj = [];\n var obj = JSON.stringify(msg.payload, function(key, value) {\n     arrObj.push(value);\n })\nmsg.payload = arrObj;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":910,
      "y":680,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"f711a32e.1276f",
      "type":"function",
      "z":"1f3ab5a.a09a44a",
      "name":"",
      "func":" var arrObj = [];\n var arrObj2 = [];\n var obj = JSON.stringify(msg.payload, function(key, value) {\n     arrObj.push(value);\n })\n\n\n//for (index = 0; index < arrObj.length; index++) { \n//    console.log(array[index]); \n//} \n\n\n//arrObj.forEach(function(entry) {\n//    msg.payload += entry.Date+': '+entry.Sensor +\";\"; \n//});\n\n\nfor (var prop1 in arrObj) {\n \tvar sub1 = arrObj[prop1];\n    //arrObj2.push(arrObj[prop1]);\n    for (var prop2 in arrObj[prop1]) {\n \t    var sub2 = arrObj[prop1][prop2];\n        arrObj2.push(arrObj[prop1][prop2]);\n        \n    }\n    //if (typeof(sub) == \"object\") {\n\t//    parseObjectKeys(sub);\n    //}\n}\nmsg.payload=arrObj2[0][\"Sensor\"];\nmsg.payload=arrObj2[0][\"Date\"];\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":913,
      "y":720,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"b0c25163.e0d3e",
      "type":"function",
      "z":"1f3ab5a.a09a44a",
      "name":"",
      "func":"var arrObj = [];\nvar arrObj2 = [];\nvar arrObjDate = [];\nvar arrObjSensor = [];\n\nvar obj = JSON.stringify(msg.payload, function(key, value) {\n    arrObj.push(value);\n})\n\n\n//for (index = 0; index < arrObj.length; index++) { \n//    console.log(array[index]); \n//} \n\n\n//arrObj.forEach(function(entry) {\n//    msg.payload += entry.Date+': '+entry.Sensor +\";\"; \n//});\n\n\nfor (var prop1 in arrObj) {\n \tvar sub1 = arrObj[prop1];\n    //arrObj2.push(arrObj[prop1]);\n    for (var prop2 in arrObj[prop1]) {\n \t    var sub2 = arrObj[prop1][prop2];\n \t    arrObj2.push(arrObj[prop1][prop2]);\n        arrObjSensor.push(arrObj[prop1][prop2][\"Sensor\"]);\n        arrObjDate.push(arrObj[prop1][prop2][\"Date\"]);\n    }\n    //if (typeof(sub) == \"object\") {\n\t//    parseObjectKeys(sub);\n    //}\n}\n//msg.payload=arrObjSensor;\n//return msg;\n\nvar data = msg.payload;\nmsg.payload = [{\n    //\"series\": [\"X\", \"Y\", \"Z\" ],\n    \"data\": [ arrObjSensor ],\n    \"labels\": [ arrObjDate ]\n}];\nreturn msg",
      "outputs":1,
      "noerr":0,
      "x":910,
      "y":760,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"34df36e6.e4ef9a",
      "type":"ui_chart",
      "z":"1f3ab5a.a09a44a",
      "name":"",
      "group":"73347df.9eb6d84",
      "order":5,
      "width":0,
      "height":0,
      "label":"{{msg.label}}",
      "chartType":"line",
      "legend":"true",
      "xformat":"HH:mm:ss",
      "interpolate":"step",
      "nodata":"",
      "dot":false,
      "ymin":"",
      "ymax":"",
      "removeOlder":"1",
      "removeOlderPoints":"100",
      "removeOlderUnit":"3600",
      "cutout":0,
      "useOneColor":false,
      "colors":[
         "#1f77b4",
         "#aec7e8",
         "#ff7f0e",
         "#2ca02c",
         "#98df8a",
         "#d62728",
         "#ff9896",
         "#9467bd",
         "#c5b0d5"
      ],
      "useOldStyle":false,
      "outputs":1,
      "x":710,
      "y":1440,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"d4e8cea2.16ed7",
      "type":"inject",
      "z":"1f3ab5a.a09a44a",
      "name":"",
      "topic":"",
      "payload":"[]",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":530,
      "y":1440,
      "wires":[
         [
            "34df36e6.e4ef9a"
         ]
      ]
   },
   {
      "id":"3be347b8.6dbc68",
      "type":"function",
      "z":"1f3ab5a.a09a44a",
      "name":"Setup payload",
      "func":"series = [];\ndata = [];\nlabels = [];\n\nseries.push(\"Field1\");\nlabels.push(\"Field1\");\ndata.push(msg.data);\n\nmsg.payload = [{\"series\":series, \"data\":data,\"labels\": labels}];\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":480,
      "y":1380,
      "wires":[
         [
            "34df36e6.e4ef9a",
            "ac4bd562.cfb8c8"
         ]
      ]
   },
   {
      "id":"ed8d5c4.977dda",
      "type":"function",
      "z":"1f3ab5a.a09a44a",
      "name":"Dataset",
      "func":"msg.payload = {\n    \"-LcgJ2ryhWC4d7tVOX1X\": {\n        \"score\": \"1\",\n        \"ts\": \"2018-10-08T14:25:17Z\"\n    },\n    \"-LcgJ2sr0o9mu26pEKUn\": {\n        \"score\": \"2\",\n        \"ts\": \"2018-10-08T14:34:58Z\"\n    },\n    \"-LcgJ2ryhWC4d7tVOX1A\": {\n        \"score\": \"3\",\n        \"ts\": \"2018-10-08T14:44:36Z\"\n    }\n}\n\nlet data =[];\nfor (let prop in msg.payload) {\n    data.push({\"x\":msg.payload[prop].ts, \"y\":msg.payload[prop].score});\n}\n\nmsg.data = data;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":280,
      "y":1380,
      "wires":[
         [
            "3be347b8.6dbc68"
         ]
      ]
   },
   {
      "id":"13ad0c4e.195c34",
      "type":"inject",
      "z":"1f3ab5a.a09a44a",
      "name":"Trigger",
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":130,
      "y":1380,
      "wires":[
         [
            "ed8d5c4.977dda"
         ]
      ]
   },
   {
      "id":"ac4bd562.cfb8c8",
      "type":"debug",
      "z":"1f3ab5a.a09a44a",
      "name":"",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "targetType":"full",
      "x":690,
      "y":1380,
      "wires":[

      ]
   },
   {
      "id":"882c76f.c000688",
      "type":"function",
      "z":"1f3ab5a.a09a44a",
      "name":"Setup payload",
      "func":"series = [];\ndata = [];\nlabels = [];\n\nseries.push(\"Field1\");\nlabels.push(\"Field1\");\ndata.push(msg.data);\n\nmsg.payload = [{\"series\":series, \"data\":data,\"labels\": labels}];\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":580,
      "y":320,
      "wires":[
         [
            "e0359b1e.8a7d98",
            "d6551336.1912a",
            "a77526.a4363ad8"
         ]
      ]
   },
   {
      "id":"442041c2.8de31",
      "type":"function",
      "z":"1f3ab5a.a09a44a",
      "name":"Dataset",
      "func":"let data =[];\nfor (let prop in msg.payload) {\n    data.push({\"x\":msg.payload[prop].Date, \"y\":msg.payload[prop].Sensor});\n}\n\nmsg.data = data;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":640,
      "y":280,
      "wires":[
         [
            "882c76f.c000688"
         ]
      ]
   },
   {
      "id":"d6551336.1912a",
      "type":"ui_chart",
      "z":"1f3ab5a.a09a44a",
      "name":"",
      "group":"3ce1ad24.76f722",
      "order":6,
      "width":0,
      "height":0,
      "label":"7 dias",
      "chartType":"line",
      "legend":"false",
      "xformat":"dd",
      "interpolate":"linear",
      "nodata":"",
      "dot":false,
      "ymin":"",
      "ymax":"",
      "removeOlder":"7",
      "removeOlderPoints":"",
      "removeOlderUnit":"86400",
      "cutout":0,
      "useOneColor":false,
      "colors":[
         "#1f77b4",
         "#aec7e8",
         "#ff7f0e",
         "#2ca02c",
         "#98df8a",
         "#d62728",
         "#ff9896",
         "#9467bd",
         "#c5b0d5"
      ],
      "useOldStyle":false,
      "outputs":1,
      "x":730,
      "y":400,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"a77526.a4363ad8",
      "type":"ui_chart",
      "z":"1f3ab5a.a09a44a",
      "name":"",
      "group":"3ce1ad24.76f722",
      "order":6,
      "width":0,
      "height":0,
      "label":"30 dias",
      "chartType":"line",
      "legend":"false",
      "xformat":"dd",
      "interpolate":"linear",
      "nodata":"",
      "dot":false,
      "ymin":"",
      "ymax":"",
      "removeOlder":"30",
      "removeOlderPoints":"",
      "removeOlderUnit":"86400",
      "cutout":0,
      "useOneColor":false,
      "colors":[
         "#1f77b4",
         "#aec7e8",
         "#ff7f0e",
         "#2ca02c",
         "#98df8a",
         "#d62728",
         "#ff9896",
         "#9467bd",
         "#c5b0d5"
      ],
      "useOldStyle":false,
      "outputs":1,
      "x":740,
      "y":440,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"9e962491.29bdc8",
      "type":"ui_chart",
      "z":"1f3ab5a.a09a44a",
      "name":"",
      "group":"b2959d12.dc3e7",
      "order":0,
      "width":0,
      "height":0,
      "label":"CHART",
      "chartType":"pie",
      "legend":"false",
      "xformat":"HH:mm:ss",
      "interpolate":"linear",
      "nodata":"",
      "dot":false,
      "ymin":"",
      "ymax":"",
      "removeOlder":1,
      "removeOlderPoints":"",
      "removeOlderUnit":"3600",
      "cutout":0,
      "useOneColor":true,
      "colors":[
         "#1f77b4",
         "#aec7e8",
         "#ff7f0e",
         "#2ca02c",
         "#98df8a",
         "#d62728",
         "#ff9896",
         "#9467bd",
         "#c5b0d5"
      ],
      "useOldStyle":false,
      "outputs":1,
      "x":1020,
      "y":1360,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"73347df.9eb6d84",
      "type":"ui_group",
      "z":"",
      "name":"Default",
      "tab":"",
      "disp":true,
      "width":"6",
      "collapse":false
   },
   {
      "id":"c575c1bf.ee1f",
      "type":"ui_group",
      "z":"",
      "name":"Sensor1",
      "tab":"6adf2827.521348",
      "order":3,
      "disp":true,
      "width":"6",
      "collapse":false
   },
   {
      "id":"b2959d12.dc3e7",
      "type":"ui_group",
      "z":"",
      "name":"Início",
      "tab":"6adf2827.521348",
      "order":1,
      "disp":true,
      "width":"6",
      "collapse":false
   },
   {
      "id":"3ce1ad24.76f722",
      "type":"ui_group",
      "z":"",
      "name":"Sensor2",
      "tab":"6adf2827.521348",
      "order":4,
      "disp":true,
      "width":"6",
      "collapse":false
   },
   {
      "id":"3105cb46.d75ac4",
      "type":"ui_group",
      "z":"",
      "name":"Sensor3",
      "tab":"6adf2827.521348",
      "order":5,
      "disp":true,
      "width":"6",
      "collapse":false
   },
   {
      "id":"a0d6613b.9e2b7",
      "type":"ui_group",
      "z":"",
      "name":"Sensor4",
      "tab":"6adf2827.521348",
      "order":6,
      "disp":true,
      "width":"6",
      "collapse":false
   },
   {
      "id":"ce73d2ff.1b40b",
      "type":"ui_group",
      "z":"",
      "name":"Sensor 5",
      "tab":"6adf2827.521348",
      "order":7,
      "disp":true,
      "width":"6",
      "collapse":false
   },
   {
      "id":"6adf2827.521348",
      "type":"ui_tab",
      "z":"",
      "name":"DashboardHistórico",
      "icon":"dashboard",
      "order":3,
      "disabled":false,
      "hidden":false
   }
]