Login.json
[
   {
      "id":"2c059401.01b95c",
      "type":"tab",
      "label":"Flow 1",
      "disabled":false,
      "info":""
   },
   {
      "id":"3fdefa21.159e46",
      "type":"ui_form",
      "z":"2c059401.01b95c",
      "name":"Dashboard Sign-In",
      "label":"",
      "group":"1e7affc3.df4ee",
      "order":0,
      "width":0,
      "height":0,
      "options":[
         {
            "label":"username",
            "value":"username",
            "type":"text",
            "required":true
         },
         {
            "label":"password",
            "value":"password",
            "type":"password",
            "required":true
         }
      ],
      "formValue":{
         "username":"",
         "password":""
      },
      "payload":"",
      "submit":"submit",
      "cancel":"cancel",
      "topic":"",
      "x":210,
      "y":180,
      "wires":[
         [
            "8c8f7e91.6f3b5",
            "46979d2.9d9c164",
            "905efa50.507ee8"
         ]
      ]
   },
   {
      "id":"a4c58a69.4bb058",
      "type":"debug",
      "z":"2c059401.01b95c",
      "name":"Debug Account Log ",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "x":778.0000915527344,
      "y":141.00000762939453,
      "wires":[

      ]
   },
   {
      "id":"603773f6.f864bc",
      "type":"comment",
      "z":"2c059401.01b95c",
      "name":"Sign-In Section",
      "info":"",
      "x":210.00000762939453,
      "y":122.99999618530273,
      "wires":[

      ]
   },
   {
      "id":"8c8f7e91.6f3b5",
      "type":"function",
      "z":"2c059401.01b95c",
      "name":"Account Log",
      "func":"var accountlog =  flow.get(\"accountlog\") || [] ; \n\naccountlog.push({ accessAt : new Date(), username : msg.payload.username})\n\nflow.set(\"accountlog\", accountlog);\n\nmsg.payload = accountlog;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":409.00000762939453,
      "y":149.99999618530273,
      "wires":[
         [
            "a4c58a69.4bb058"
         ]
      ]
   },
   {
      "id":"46979d2.9d9c164",
      "type":"function",
      "z":"2c059401.01b95c",
      "name":"Account Verification",
      "func":"var accounts =  flow.get(\"accounts\") || [ { username : \"admin\", password : \"admin\"},{ username : \"guest\", password : \"guest\"}] ; \n\nvar username = msg.payload.username ;\nvar password = msg.payload.password ; \n\nmsg.payload = 1;\n\naccounts.forEach(function ( account ){\n    if ( account.username == username ) {\n       msg.payload = 2;\n       if ( account.password == password ) {\n           msg.payload = 0;\n       } \n    }\n});\n\nif ( msg.payload == 0 ) {\n  var currentsocketid = flow.get(\"clientid\") || undefined;\n  if ( currentsocketid !== undefined && currentsocketid !== msg.socketid ) msg.payload = 3;\n}\n// keep the original socketid from msg.socketid;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":422.0000457763672,
      "y":195.0000057220459,
      "wires":[
         [
            "338a4777.a47e38"
         ]
      ]
   },
   {
      "id":"338a4777.a47e38",
      "type":"switch",
      "z":"2c059401.01b95c",
      "name":"",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"eq",
            "v":"0",
            "vt":"str"
         },
         {
            "t":"eq",
            "v":"1",
            "vt":"str"
         },
         {
            "t":"eq",
            "v":"2",
            "vt":"str"
         },
         {
            "t":"eq",
            "v":"3",
            "vt":"str"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":4,
      "x":591.0000419616699,
      "y":225.9999885559082,
      "wires":[
         [
            "ea1f3dbc.0e128"
         ],
         [
            "eb05e265.36e2d"
         ],
         [
            "e1ee55c2.0726f8"
         ],
         [
            "79a34d29.9f1124"
         ]
      ]
   },
   {
      "id":"ea1f3dbc.0e128",
      "type":"function",
      "z":"2c059401.01b95c",
      "name":"= 0 : Success",
      "func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nflow.set(\"sessionTimer\", currTime);\nflow.set(\"clientid\", msg.socketid);\n/* ui-control payload */\nmsg.payload = {\"tabs\":{\"hide\":[\"Login\"],\"show\":[\"DashboardRealtime\"]}};\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":760.999885559082,
      "y":181.99999809265137,
      "wires":[
         [
            "774a3cfb.cbd1e4"
         ]
      ]
   },
   {
      "id":"eb05e265.36e2d",
      "type":"function",
      "z":"2c059401.01b95c",
      "name":"= 1 : Unknown User",
      "func":"msg.payload = \"Username Doesn't exist!!!\"\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":781.9998931884766,
      "y":219,
      "wires":[
         [
            "93c8fc0b.45f3f"
         ]
      ]
   },
   {
      "id":"e1ee55c2.0726f8",
      "type":"function",
      "z":"2c059401.01b95c",
      "name":"= 2 : Wrong Password",
      "func":"msg.payload = \"Invalid Password\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":782.9999618530273,
      "y":256.0000123977661,
      "wires":[
         [
            "93c8fc0b.45f3f"
         ]
      ]
   },
   {
      "id":"774a3cfb.cbd1e4",
      "type":"ui_ui_control",
      "z":"2c059401.01b95c",
      "name":"Go to Sensor/History Group",
      "x":1048.0000686645508,
      "y":181.9999942779541,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"93c8fc0b.45f3f",
      "type":"ui_toast",
      "z":"2c059401.01b95c",
      "position":"dialog",
      "displayTime":"3",
      "highlight":"",
      "outputs":1,
      "ok":"OK",
      "cancel":"",
      "topic":"Authentication Failed",
      "name":"Authentication Failure Dialog",
      "x":1047.9999732971191,
      "y":239,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"dec1d874.a813e8",
      "type":"comment",
      "z":"2c059401.01b95c",
      "name":"Session Management - 15 secs for this demo",
      "info":"",
      "x":289.5,
      "y":339.00000762939453,
      "wires":[

      ]
   },
   {
      "id":"4ebafe08.193e9",
      "type":"inject",
      "z":"2c059401.01b95c",
      "name":"Timer",
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "repeat":"120",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":198.00000762939453,
      "y":427.99999237060547,
      "wires":[
         [
            "f4b9b0c9.91037",
            "4ea8c9e6.aefcf8"
         ]
      ]
   },
   {
      "id":"f4b9b0c9.91037",
      "type":"function",
      "z":"2c059401.01b95c",
      "name":"Detect Session Timer",
      "func":"var sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nvar SESSION_TIMEOUT = 15000; //15 secs\n\nif ( sessionTimer === 0 /* Inactive, No user signed in */ ) {\n    msg.payload = 2;\n} else {\n    if ( currTime - sessionTimer > SESSION_TIMEOUT ) {\n      msg.payload = 0;  \n    } else {\n      msg.payload = 1;        \n    }\n}\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":386.00003814697266,
      "y":394.00000762939453,
      "wires":[
         [
            "2839fb25.4d97a4"
         ]
      ]
   },
   {
      "id":"2839fb25.4d97a4",
      "type":"switch",
      "z":"2c059401.01b95c",
      "name":"",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"eq",
            "v":"0",
            "vt":"str"
         },
         {
            "t":"eq",
            "v":"1",
            "vt":"str"
         },
         {
            "t":"eq",
            "v":"2",
            "vt":"str"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":3,
      "x":556.000072479248,
      "y":392.00000762939453,
      "wires":[
         [
            "618f857a.bdb22c"
         ],
         [
            "b36964e9.b186e8"
         ],
         [
            "b2be132.735e2f"
         ]
      ]
   },
   {
      "id":"618f857a.bdb22c",
      "type":"function",
      "z":"2c059401.01b95c",
      "name":"Time-Out",
      "func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nflow.set(\"sessionTimer\", 0);\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = \"Session Expired! Please singin again!\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":711.9999847412109,
      "y":365.0000114440918,
      "wires":[
         [
            "f1e38570.b9dc48",
            "257fa32e.41706c"
         ]
      ]
   },
   {
      "id":"f1e38570.b9dc48",
      "type":"ui_toast",
      "z":"2c059401.01b95c",
      "position":"dialog",
      "displayTime":"3",
      "highlight":"",
      "outputs":1,
      "ok":"OK",
      "cancel":"",
      "topic":"Session Timeout",
      "name":"Time-Out Dialog",
      "x":899.500114440918,
      "y":331.0000114440918,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"422f07a5.447038",
      "type":"ui_ui_control",
      "z":"2c059401.01b95c",
      "name":"Go to Signin Group",
      "x":1106.5000324249268,
      "y":366.99999618530273,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"257fa32e.41706c",
      "type":"function",
      "z":"2c059401.01b95c",
      "name":"Sign-In Redirection",
      "func":"var msg = {};\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = {\"tabs\":{\"hide\":[\"DashboardRealtime\",\"Charts\",\"PaineldeRegras\",\"DashboardHistórico\"],\"show\":[\"Login\"]}};\n\nflow.set(\"clientid\", undefined);\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":910.0000228881836,
      "y":368.00000762939453,
      "wires":[
         [
            "422f07a5.447038"
         ]
      ]
   },
   {
      "id":"a9f1edc.9474c1",
      "type":"ui_toast",
      "z":"2c059401.01b95c",
      "position":"bottom right",
      "displayTime":"1",
      "highlight":"",
      "outputs":0,
      "ok":"OK",
      "cancel":"",
      "topic":"Timer",
      "name":"Display Remaining Time",
      "x":719.7222023010254,
      "y":481.99999237060547,
      "wires":[

      ]
   },
   {
      "id":"bf5b7921.b84ac8",
      "type":"comment",
      "z":"2c059401.01b95c",
      "name":"Sensor Data Collection",
      "info":"",
      "x":229.00000762939453,
      "y":524.0000019073486,
      "wires":[

      ]
   },
   {
      "id":"3356c50d.f299aa",
      "type":"inject",
      "z":"2c059401.01b95c",
      "name":"Timer",
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "repeat":"2",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":201.5,
      "y":601.0000095367432,
      "wires":[
         [
            "975633f8.c1669"
         ]
      ]
   },
   {
      "id":"8f008006.8bf3c",
      "type":"comment",
      "z":"2c059401.01b95c",
      "name":"MQTT ? CoAP?",
      "info":"Expecting data from the actaul sensors.",
      "x":376.50000762939453,
      "y":560.9999942779541,
      "wires":[

      ]
   },
   {
      "id":"4ea8c9e6.aefcf8",
      "type":"function",
      "z":"2c059401.01b95c",
      "name":"Calculating Remaining Time (Debug)",
      "func":"var sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nvar remainingSecs = Math.floor((15000 - (currTime - sessionTimer))/1000) + 1;\n    \nif ( sessionTimer == 0 /* Inactive, No user signed in */ ) {\n    return null;\n} else {\n    \n    if ( remainingSecs <= 7 ) msg.payload = \"Remaining : \" + remainingSecs + \" secs\";  \n    else return null;\n}\n\nmsg.socketid = flow.get(\"clientid\") || \"B1234\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":436.0000305175781,
      "y":482.00002002716064,
      "wires":[
         [
            "a9f1edc.9474c1"
         ]
      ]
   },
   {
      "id":"25d291c9.cf9f3e",
      "type":"ui_text",
      "z":"2c059401.01b95c",
      "group":"16df44c2.3513fb",
      "order":2,
      "width":0,
      "height":0,
      "name":"Label Display",
      "label":"",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":1100.4999923706055,
      "y":687.0001277923584,
      "wires":[

      ]
   },
   {
      "id":"975633f8.c1669",
      "type":"function",
      "z":"2c059401.01b95c",
      "name":"Decode MySensor Message",
      "func":"\nvar mySensorsMessage = {}\nvar newPayload = {};\nvar timestamp = new Date();\n\nnewPayload.nodeId  =  3;\nnewPayload.type =  Math.floor( Math.random() * Math.floor(2));  // 0 or 1\nif ( newPayload.type === 0 /* temperature */ ) newPayload.value   =  Math.floor( Math.random() * Math.floor(30)) + 10; // 10 - 39\nelse newPayload.value   =  Math.floor( Math.random() * Math.floor(40)) + 40; // 40 - 79\n\nmsg.payload = newPayload; \n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":397.50000762939453,
      "y":602.0000171661377,
      "wires":[
         [
            "80e18e65.4a08d",
            "7c05d4f4.5754ec"
         ]
      ]
   },
   {
      "id":"80e18e65.4a08d",
      "type":"function",
      "z":"2c059401.01b95c",
      "name":"Filter : temperature",
      "func":"if (msg.payload.nodeId == 3 && msg.payload.type === 0) {\n    var msg;\n    msg.payload = msg.payload.value;\n    msg.topic = \"Temperature\"\n    return msg;\n}    ",
      "outputs":1,
      "noerr":0,
      "x":614.5000534057617,
      "y":558.0000200271606,
      "wires":[
         [
            "850df525.ef7888",
            "5ca43d26.588464",
            "e726f614.0c26b8",
            "670697a.0475a68"
         ]
      ]
   },
   {
      "id":"850df525.ef7888",
      "type":"ui_gauge",
      "z":"2c059401.01b95c",
      "name":"Gauge : Temperature",
      "group":"16df44c2.3513fb",
      "order":0,
      "width":0,
      "height":0,
      "gtype":"gage",
      "title":"Temperature DHT22",
      "label":"MySensors v2",
      "format":"{{value}}°C",
      "min":0,
      "max":"50",
      "colors":[
         "#66ccff",
         "#ff8000",
         "#ca3838"
      ],
      "seg1":"",
      "seg2":"",
      "x":864.5000076293945,
      "y":543.9999828338623,
      "wires":[

      ]
   },
   {
      "id":"7c05d4f4.5754ec",
      "type":"function",
      "z":"2c059401.01b95c",
      "name":"Filter : humidity",
      "func":"if (msg.payload.nodeId == 3 && msg.payload.type === 1) {\n    var msg;\n    msg.payload = msg.payload.value;\n    msg.topic = \"Humidity\"\n    return msg;\n}    ",
      "outputs":1,
      "noerr":0,
      "x":600.5001068115234,
      "y":665.0000591278076,
      "wires":[
         [
            "b27b1a97.341498",
            "5ca43d26.588464",
            "e726f614.0c26b8"
         ]
      ]
   },
   {
      "id":"b27b1a97.341498",
      "type":"ui_gauge",
      "z":"2c059401.01b95c",
      "name":"Gauge : Humidity",
      "group":"16df44c2.3513fb",
      "order":1,
      "width":"0",
      "height":"0",
      "gtype":"gage",
      "title":"Humidity DHT22",
      "label":"MySensors v2",
      "format":"{{value}}%",
      "min":0,
      "max":"100",
      "colors":[
         "#1a25ab",
         "#e6e600",
         "#ca3838"
      ],
      "seg1":"",
      "seg2":"",
      "x":856.500072479248,
      "y":581.0000286102295,
      "wires":[

      ]
   },
   {
      "id":"5ca43d26.588464",
      "type":"function",
      "z":"2c059401.01b95c",
      "name":"Attention : temperature & humidity",
      "func":"context.data = context.data || new Object();\n\nswitch (msg.topic) {\n    case \"Temperature\":\n        context.data.temperature = msg.payload;\n        msg = null;\n        break;\n    case \"Humidity\":\n        context.data.humidity = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n\n}\n\nif(context.data.temperature !== null && context.data.humidity !== null && context.data.temperature !== undefined && context.data.humidity !== undefined) {\n\tmsgOut = \"\"; //new Object();\n    msgOut = \"Temerature : \" \n    msgOut += context.data.temperature.toString(); \n    msgOut+= \"°C - Humidity : \"; \n    msgOut+= context.data.humidity.toString();\n    msgOut+= \"%\";\n    context.data=null;\n    var msg = {};\n    msg.payload = msgOut;\n\treturn msg;\n} \n//else return msg;",
      "outputs":1,
      "noerr":0,
      "x":860.4999923706055,
      "y":688.0000877380371,
      "wires":[
         [
            "25d291c9.cf9f3e"
         ]
      ]
   },
   {
      "id":"e726f614.0c26b8",
      "type":"ui_chart",
      "z":"2c059401.01b95c",
      "name":"History : Temperature & Humidity",
      "group":"ec6c1680.ac4ec8",
      "order":1,
      "width":"6",
      "height":"9",
      "label":"Temperature & Humidity",
      "chartType":"line",
      "legend":"true",
      "xformat":"%H:%M",
      "interpolate":"linear",
      "nodata":"No Data Yet",
      "dot":false,
      "ymin":"0",
      "ymax":"80",
      "removeOlder":"12",
      "removeOlderPoints":"",
      "removeOlderUnit":"3600",
      "cutout":"",
      "useOneColor":false,
      "colors":[
         "#1f77b4",
         "#aec7e8",
         "#ff7f0e",
         "#2ca02c",
         "#98df8a",
         "#d62728",
         "#ff9896",
         "#9467bd",
         "#c5b0d5"
      ],
      "useOldStyle":true,
      "outputs":1,
      "x":907.5000305175781,
      "y":619.0001049041748,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"20fd8937.dd4266",
      "type":"ui_ui_control",
      "z":"2c059401.01b95c",
      "name":"Stay in Sensor Group",
      "x":1056.500099182129,
      "y":406.0000057220459,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"b36964e9.b186e8",
      "type":"function",
      "z":"2c059401.01b95c",
      "name":"Sensor/History Goup",
      "func":"var msg = {};\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = {\"tabs\":{\"hide\":[\"Login\"],\"show\":[\"DashboardRealtime\",\"Charts\",\"PaineldeRegras\",\"DashboardHistórico\"]}};\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":753.5000305175781,
      "y":406.00000381469727,
      "wires":[
         [
            "20fd8937.dd4266"
         ]
      ]
   },
   {
      "id":"b2be132.735e2f",
      "type":"function",
      "z":"2c059401.01b95c",
      "name":"Signin Goup",
      "func":"var msg = {};\nmsg.payload = {\"tabs\":{\"hide\":[\"DashboardRealtime\",\"Charts\",\"PaineldeRegras\",\"DashboardHistórico\"],\n\"show\":[\"Login\"]}};\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":724.5000915527344,
      "y":447.0000419616699,
      "wires":[
         [
            "b1dea613.872128"
         ]
      ]
   },
   {
      "id":"b1dea613.872128",
      "type":"ui_ui_control",
      "z":"2c059401.01b95c",
      "name":"Go to Signin Group",
      "x":1044.5002479553223,
      "y":444.0000419616699,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"670697a.0475a68",
      "type":"debug",
      "z":"2c059401.01b95c",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "x":824.0590744018555,
      "y":654.6424465179443,
      "wires":[

      ]
   },
   {
      "id":"905efa50.507ee8",
      "type":"debug",
      "z":"2c059401.01b95c",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "x":391.5000419616699,
      "y":260.5347557067871,
      "wires":[

      ]
   },
   {
      "id":"7d719bd7.411604",
      "type":"ui_toast",
      "z":"2c059401.01b95c",
      "position":"dialog",
      "displayTime":"3",
      "highlight":"",
      "outputs":1,
      "ok":"OK",
      "cancel":"",
      "topic":"System In Use.",
      "name":"System In-Use Dialog",
      "x":1031.1111793518066,
      "y":292.1215353012085,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"79a34d29.9f1124",
      "type":"function",
      "z":"2c059401.01b95c",
      "name":"= 4 : System In Use",
      "func":"msg.payload = \"System is used by other user.\";\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":772.4443283081055,
      "y":293.1215286254883,
      "wires":[
         [
            "7d719bd7.411604"
         ]
      ]
   },
   {
      "id":"1e7affc3.df4ee",
      "type":"ui_group",
      "z":"",
      "name":"Sign1",
      "tab":"cfa7298e.5dfa78",
      "disp":true,
      "width":"6",
      "collapse":false
   },
   {
      "id":"16df44c2.3513fb",
      "type":"ui_group",
      "z":"",
      "name":"SensorData",
      "tab":"",
      "order":2,
      "disp":true,
      "width":"6",
      "collapse":false
   },
   {
      "id":"ec6c1680.ac4ec8",
      "type":"ui_group",
      "z":"",
      "name":"History",
      "tab":"",
      "order":3,
      "disp":true,
      "width":"6",
      "collapse":false
   },
   {
      "id":"cfa7298e.5dfa78",
      "type":"ui_tab",
      "z":"",
      "name":"Login",
      "icon":"dashboard",
      "order":1,
      "disabled":false,
      "hidden":false
   }
]