Realtime.json
[
   {
      "id":"c7e40c5a.d8ed",
      "type":"tab",
      "label":"Dashboard Realtime",
      "disabled":false,
      "info":""
   },
   {
      "id":"ddaf3c19.07563",
      "type":"ui_button",
      "z":"c7e40c5a.d8ed",
      "name":"OFF",
      "group":"71ff9539.c88bec",
      "order":4,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"OFF",
      "tooltip":"",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"true",
      "payloadType":"bool",
      "topic":"",
      "x":90,
      "y":460,
      "wires":[
         [
            "e336b3d8.bc1e2"
         ]
      ]
   },
   {
      "id":"d2d62222.342a2",
      "type":"ui_button",
      "z":"c7e40c5a.d8ed",
      "name":"ON",
      "group":"71ff9539.c88bec",
      "order":3,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"ON",
      "tooltip":"",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"false",
      "payloadType":"bool",
      "topic":"",
      "x":70,
      "y":520,
      "wires":[
         [
            "e336b3d8.bc1e2"
         ]
      ]
   },
   {
      "id":"e336b3d8.bc1e2",
      "type":"change",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "rules":[
         {
            "t":"change",
            "p":"payload",
            "pt":"msg",
            "from":"true",
            "fromt":"bool",
            "to":"0",
            "tot":"str"
         },
         {
            "t":"change",
            "p":"payload",
            "pt":"msg",
            "from":"false",
            "fromt":"bool",
            "to":"1",
            "tot":"str"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":280,
      "y":440,
      "wires":[
         [
            "f0bd7982.cb23e8",
            "f1b7377.08cb3c8",
            "a9c4b96b.a4c998"
         ]
      ]
   },
   {
      "id":"f0bd7982.cb23e8",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"var chave2Flow1;\nif(msg.payload == 1)\n    msg.payload = \"LIGADO\";\nelse if(msg.payload == 0)\n    msg.payload = \"DESLIGADO\";\nelse\n    msg.payload = \"TESTE\";\nglobal.set(\"chave2Flow1\",msg);\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":510,
      "y":520,
      "wires":[
         [
            "cdc45d1.80da2a"
         ]
      ]
   },
   {
      "id":"4a655eb4.92d4c",
      "type":"firebase modify",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/Sensor1",
      "method":"push",
      "value":"msg.payload",
      "priority":"msg.priority",
      "x":950,
      "y":1660,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"5e1f6fca.300b9",
      "type":"switch",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"cont",
            "v":"Entrada 1",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"Entrada 2",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"Entrada 3",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"Entrada 4",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"Entrada 5",
            "vt":"str"
         },
         {
            "t":"else"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":6,
      "x":416.5,
      "y":1686,
      "wires":[
         [
            "1e35c4db.b45aab"
         ],
         [
            "97706b15.676a68"
         ],
         [
            "53fd2da5.91b164"
         ],
         [
            "16ffd140.5d750f"
         ],
         [
            "5b724fd8.6e9c7"
         ],
         [
            "c5d09501.dec578"
         ]
      ]
   },
   {
      "id":"1297ca0e.c94ae6",
      "type":"firebase modify",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/Sensor2",
      "method":"push",
      "value":"msg.payload",
      "priority":"msg.priority",
      "x":947.5,
      "y":1715,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"d59dff32.555b6",
      "type":"firebase modify",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/Sensor3",
      "method":"push",
      "value":"msg.payload",
      "priority":"msg.priority",
      "x":947.5,
      "y":1768,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"7196c76d.c78cf8",
      "type":"firebase modify",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/Sensor4",
      "method":"push",
      "value":"msg.payload",
      "priority":"msg.priority",
      "x":947.5,
      "y":1815,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"83dfce50.25684",
      "type":"firebase modify",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/Outros",
      "method":"push",
      "value":"msg.payload",
      "priority":"msg.priority",
      "x":946.5,
      "y":1905,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"2bda75b3.fa30aa",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"var leituraFlow1;\nglobal.set(\"leituraFlow1\",msg);\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":260.5,
      "y":1685,
      "wires":[
         [
            "5e1f6fca.300b9"
         ]
      ]
   },
   {
      "id":"56fdfdfe.992614",
      "type":"firebase modify",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/Sensor1RealTime",
      "method":"set",
      "value":"msg.payload",
      "priority":"msg.priority",
      "x":979.5,
      "y":1971,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"1ea4ecc7.e80f23",
      "type":"firebase modify",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/Sensor2RealTime",
      "method":"set",
      "value":"msg.payload",
      "priority":"msg.priority",
      "x":977,
      "y":2019,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"370ae4ff.7098ec",
      "type":"firebase modify",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/Sensor3RealTime",
      "method":"set",
      "value":"msg.payload",
      "priority":"msg.priority",
      "x":977,
      "y":2064,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"8a227347.8ebcd",
      "type":"firebase modify",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/Sensor4RealTime",
      "method":"set",
      "value":"msg.payload",
      "priority":"msg.priority",
      "x":977,
      "y":2111,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"c117faf8.bd4fe8",
      "type":"firebase modify",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/OutrosRealTime",
      "method":"set",
      "value":"msg.payload",
      "priority":"msg.priority",
      "x":970,
      "y":2210,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"794d4a65.787f94",
      "type":"switch",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"cont",
            "v":"Entrada 1",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"Entrada 2",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"Entrada 3",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"Entrada 4",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"Entrada 5",
            "vt":"str"
         },
         {
            "t":"else"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":6,
      "x":410,
      "y":2003,
      "wires":[
         [
            "577ae845.890e48"
         ],
         [
            "4e5a866d.7ee818"
         ],
         [
            "bc6afd4a.d8d4c"
         ],
         [
            "5c9de75d.ff2ca8"
         ],
         [
            "959932eb.4717f"
         ],
         [
            "960e6ebe.7fb0e"
         ]
      ]
   },
   {
      "id":"7f81bb90.372c84",
      "type":"firebase.on",
      "z":"c7e40c5a.d8ed",
      "name":"Sensor1",
      "firebaseconfig":"",
      "childpath":"/Sensor1RealTime",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":100,
      "y":1300,
      "wires":[
         [
            "b9eeb32b.3f3db"
         ]
      ]
   },
   {
      "id":"41c5006.9d28d",
      "type":"ui_text",
      "z":"c7e40c5a.d8ed",
      "group":"e01fefd.7d19a1",
      "order":5,
      "width":0,
      "height":0,
      "name":"",
      "label":"Sensor1 ",
      "format":"{{msg.payload}}W",
      "layout":"row-spread",
      "x":760,
      "y":260,
      "wires":[

      ]
   },
   {
      "id":"3df0388d.9ded58",
      "type":"firebase.on",
      "z":"c7e40c5a.d8ed",
      "name":"Sensor2",
      "firebaseconfig":"",
      "childpath":"/Sensor2RealTime",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":101.5,
      "y":1354,
      "wires":[
         [
            "f55191b2.279c2"
         ]
      ]
   },
   {
      "id":"a185e331.31a8a",
      "type":"ui_text",
      "z":"c7e40c5a.d8ed",
      "group":"71ff9539.c88bec",
      "order":5,
      "width":0,
      "height":0,
      "name":"",
      "label":"Sensor2",
      "format":"{{msg.payload}}W",
      "layout":"row-spread",
      "x":740,
      "y":540,
      "wires":[

      ]
   },
   {
      "id":"68a57bea.393704",
      "type":"firebase.on",
      "z":"c7e40c5a.d8ed",
      "name":"Sensor3",
      "firebaseconfig":"",
      "childpath":"/Sensor3RealTime",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":100.5,
      "y":1409,
      "wires":[
         [
            "19c968ab.d30f37"
         ]
      ]
   },
   {
      "id":"b96e3ee0.e4172",
      "type":"ui_text",
      "z":"c7e40c5a.d8ed",
      "group":"eaeda72a.3cf868",
      "order":5,
      "width":0,
      "height":0,
      "name":"",
      "label":"Sensor3",
      "format":"{{msg.payload}}W",
      "layout":"row-spread",
      "x":1040,
      "y":760,
      "wires":[

      ]
   },
   {
      "id":"fac1f656.1af528",
      "type":"firebase.on",
      "z":"c7e40c5a.d8ed",
      "name":"Sensor4",
      "firebaseconfig":"",
      "childpath":"/Sensor4RealTime",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":97.5,
      "y":1468,
      "wires":[
         [
            "d37b2c7f.f3cb2"
         ]
      ]
   },
   {
      "id":"e31a9941.87c598",
      "type":"ui_text",
      "z":"c7e40c5a.d8ed",
      "group":"4f0d55a8.ef46bc",
      "order":5,
      "width":0,
      "height":0,
      "name":"",
      "label":"Sensor4",
      "format":"{{msg.payload}}W",
      "layout":"row-spread",
      "x":1040,
      "y":960,
      "wires":[

      ]
   },
   {
      "id":"e8eaabe2.7aa598",
      "type":"ui_text",
      "z":"c7e40c5a.d8ed",
      "group":"",
      "order":2,
      "width":"0",
      "height":"0",
      "name":"",
      "label":"Sensor Outros",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":320,
      "y":1580,
      "wires":[

      ]
   },
   {
      "id":"3f29826a.74408e",
      "type":"firebase.on",
      "z":"c7e40c5a.d8ed",
      "name":"Outros",
      "firebaseconfig":"",
      "childpath":"/OutrosRealTime",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":110,
      "y":1580,
      "wires":[
         [
            "e8eaabe2.7aa598"
         ]
      ]
   },
   {
      "id":"e088d66e.b69f38",
      "type":"ui_button",
      "z":"c7e40c5a.d8ed",
      "name":"OFF",
      "group":"e01fefd.7d19a1",
      "order":4,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"OFF",
      "tooltip":"",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"true",
      "payloadType":"bool",
      "topic":"",
      "x":130,
      "y":280,
      "wires":[
         [
            "378ba5d7.23409a"
         ]
      ]
   },
   {
      "id":"3c2e7bc7.e251d4",
      "type":"ui_button",
      "z":"c7e40c5a.d8ed",
      "name":"ON",
      "group":"e01fefd.7d19a1",
      "order":3,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"ON",
      "tooltip":"",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"false",
      "payloadType":"bool",
      "topic":"",
      "x":130,
      "y":320,
      "wires":[
         [
            "378ba5d7.23409a"
         ]
      ]
   },
   {
      "id":"378ba5d7.23409a",
      "type":"change",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "rules":[
         {
            "t":"change",
            "p":"payload",
            "pt":"msg",
            "from":"true",
            "fromt":"bool",
            "to":"0",
            "tot":"str"
         },
         {
            "t":"change",
            "p":"payload",
            "pt":"msg",
            "from":"false",
            "fromt":"bool",
            "to":"1",
            "tot":"str"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":320,
      "y":300,
      "wires":[
         [
            "2f3f7141.967f5e",
            "d323e121.7d38c",
            "c0ab0fb7.08cd3"
         ]
      ]
   },
   {
      "id":"7d13baed.efae84",
      "type":"ui_button",
      "z":"c7e40c5a.d8ed",
      "name":"OFF",
      "group":"eaeda72a.3cf868",
      "order":4,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"OFF",
      "tooltip":"",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"true",
      "payloadType":"bool",
      "topic":"",
      "x":150,
      "y":720,
      "wires":[
         [
            "ac2f451a.344ff8"
         ]
      ]
   },
   {
      "id":"5dccd02f.4c07b",
      "type":"ui_button",
      "z":"c7e40c5a.d8ed",
      "name":"ON",
      "group":"eaeda72a.3cf868",
      "order":3,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"ON",
      "tooltip":"",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"false",
      "payloadType":"bool",
      "topic":"",
      "x":130,
      "y":780,
      "wires":[
         [
            "ac2f451a.344ff8"
         ]
      ]
   },
   {
      "id":"ac2f451a.344ff8",
      "type":"change",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "rules":[
         {
            "t":"change",
            "p":"payload",
            "pt":"msg",
            "from":"true",
            "fromt":"bool",
            "to":"0",
            "tot":"str"
         },
         {
            "t":"change",
            "p":"payload",
            "pt":"msg",
            "from":"false",
            "fromt":"bool",
            "to":"1",
            "tot":"str"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":320,
      "y":755,
      "wires":[
         [
            "1220abc8.746ba4",
            "54e51d12.66dd94",
            "5fa2fe6e.3b555"
         ]
      ]
   },
   {
      "id":"1220abc8.746ba4",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"var chave3Flow1;\nif(msg.payload == 1)\n    msg.payload = \"LIGADO\";\nelse if(msg.payload == 0)\n    msg.payload = \"DESLIGADO\";\nelse\n    msg.payload = \"TESTE\";\nglobal.set(\"chave3Flow1\",msg);\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":810,
      "y":720,
      "wires":[
         [
            "b9237135.c7853"
         ]
      ]
   },
   {
      "id":"8e46aa61.03f0c8",
      "type":"ui_button",
      "z":"c7e40c5a.d8ed",
      "name":"OFF",
      "group":"4f0d55a8.ef46bc",
      "order":4,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"OFF",
      "tooltip":"",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"true",
      "payloadType":"bool",
      "topic":"",
      "x":230,
      "y":900,
      "wires":[
         [
            "1334e287.a8dfdd"
         ]
      ]
   },
   {
      "id":"de2c6a84.b61df8",
      "type":"ui_button",
      "z":"c7e40c5a.d8ed",
      "name":"ON",
      "group":"4f0d55a8.ef46bc",
      "order":3,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"ON",
      "tooltip":"",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"false",
      "payloadType":"bool",
      "topic":"",
      "x":230,
      "y":940,
      "wires":[
         [
            "1334e287.a8dfdd"
         ]
      ]
   },
   {
      "id":"1334e287.a8dfdd",
      "type":"change",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "rules":[
         {
            "t":"change",
            "p":"payload",
            "pt":"msg",
            "from":"true",
            "fromt":"bool",
            "to":"0",
            "tot":"str"
         },
         {
            "t":"change",
            "p":"payload",
            "pt":"msg",
            "from":"false",
            "fromt":"bool",
            "to":"1",
            "tot":"str"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":380,
      "y":920,
      "wires":[
         [
            "5bc7bf2e.62db8",
            "f9e05144.42454",
            "c53f5066.ed993"
         ]
      ]
   },
   {
      "id":"5bc7bf2e.62db8",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"var chave4Flow1;\nif(msg.payload == 1)\n    msg.payload = \"LIGADO\";\nelse if(msg.payload == 0)\n    msg.payload = \"DESLIGADO\";\nelse\n    msg.payload = \"TESTE\";\nglobal.set(\"chave4Flow1\",msg);\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":810,
      "y":920,
      "wires":[
         [
            "95b14241.06a7a"
         ]
      ]
   },
   {
      "id":"324ce4f6.4ced7c",
      "type":"ui_text",
      "z":"c7e40c5a.d8ed",
      "group":"e01fefd.7d19a1",
      "order":1,
      "width":0,
      "height":0,
      "name":"",
      "label":"Chave1",
      "format":"",
      "layout":"row-spread",
      "x":1240,
      "y":760,
      "wires":[

      ]
   },
   {
      "id":"d9853b60.4323a8",
      "type":"ui_text",
      "z":"c7e40c5a.d8ed",
      "group":"71ff9539.c88bec",
      "order":1,
      "width":0,
      "height":0,
      "name":"",
      "label":"Chave2",
      "format":"",
      "layout":"row-spread",
      "x":1240,
      "y":800,
      "wires":[

      ]
   },
   {
      "id":"24b8d59f.be46da",
      "type":"ui_text",
      "z":"c7e40c5a.d8ed",
      "group":"eaeda72a.3cf868",
      "order":1,
      "width":0,
      "height":0,
      "name":"",
      "label":"Chave3",
      "format":"",
      "layout":"row-spread",
      "x":1240,
      "y":840,
      "wires":[

      ]
   },
   {
      "id":"67333b34.b62374",
      "type":"ui_text",
      "z":"c7e40c5a.d8ed",
      "group":"4f0d55a8.ef46bc",
      "order":1,
      "width":0,
      "height":0,
      "name":"",
      "label":"Chave4",
      "format":"",
      "layout":"row-spread",
      "x":1240,
      "y":880,
      "wires":[

      ]
   },
   {
      "id":"d323e121.7d38c",
      "type":"arduino out",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "pin":"8",
      "state":"OUTPUT",
      "arduino":"7ccecbb2.e008d4",
      "x":510,
      "y":160,
      "wires":[

      ]
   },
   {
      "id":"f1b7377.08cb3c8",
      "type":"arduino out",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "pin":"9",
      "state":"OUTPUT",
      "arduino":"7ccecbb2.e008d4",
      "x":730,
      "y":420,
      "wires":[

      ]
   },
   {
      "id":"54e51d12.66dd94",
      "type":"arduino out",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "pin":"10",
      "state":"OUTPUT",
      "arduino":"7ccecbb2.e008d4",
      "x":800,
      "y":671,
      "wires":[

      ]
   },
   {
      "id":"f9e05144.42454",
      "type":"arduino out",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "pin":"11",
      "state":"OUTPUT",
      "arduino":"7ccecbb2.e008d4",
      "x":812,
      "y":871,
      "wires":[

      ]
   },
   {
      "id":"2bc9590e.6cbe66",
      "type":"serial in",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "serial":"54fa66e.12f3698",
      "x":90,
      "y":1685,
      "wires":[
         [
            "2bda75b3.fa30aa",
            "794d4a65.787f94"
         ]
      ]
   },
   {
      "id":"83794ea3.1ce69",
      "type":"ui_text",
      "z":"c7e40c5a.d8ed",
      "group":"",
      "order":1,
      "width":0,
      "height":0,
      "name":"",
      "label":"Outros",
      "format":"",
      "layout":"row-spread",
      "x":490,
      "y":1580,
      "wires":[

      ]
   },
   {
      "id":"5943f3e4.8e1c6c",
      "type":"ui_gauge",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "group":"e01fefd.7d19a1",
      "order":2,
      "width":0,
      "height":0,
      "gtype":"gage",
      "title":"Gauge1",
      "label":"units",
      "format":"{{value}}",
      "min":0,
      "max":"10",
      "colors":[
         "#00b500",
         "#e6e600",
         "#ca3838"
      ],
      "seg1":"",
      "seg2":"",
      "x":760,
      "y":300,
      "wires":[

      ]
   },
   {
      "id":"6e74a369.2e719c",
      "type":"ui_gauge",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "group":"71ff9539.c88bec",
      "order":2,
      "width":0,
      "height":0,
      "gtype":"gage",
      "title":"Gauge2",
      "label":"units",
      "format":"{{value}}",
      "min":0,
      "max":10,
      "colors":[
         "#00b500",
         "#e6e600",
         "#ca3838"
      ],
      "seg1":"",
      "seg2":"",
      "x":900,
      "y":620,
      "wires":[

      ]
   },
   {
      "id":"671bdea0.f20f7",
      "type":"ui_gauge",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "group":"4f0d55a8.ef46bc",
      "order":2,
      "width":0,
      "height":0,
      "gtype":"gage",
      "title":"Gauge4",
      "label":"units",
      "format":"{{value}}",
      "min":0,
      "max":10,
      "colors":[
         "#00b500",
         "#e6e600",
         "#ca3838"
      ],
      "seg1":"",
      "seg2":"",
      "x":1040,
      "y":1000,
      "wires":[

      ]
   },
   {
      "id":"c338bd94.ec512",
      "type":"ui_gauge",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "group":"eaeda72a.3cf868",
      "order":2,
      "width":0,
      "height":0,
      "gtype":"gage",
      "title":"Gauge3",
      "label":"units",
      "format":"{{value}}",
      "min":0,
      "max":10,
      "colors":[
         "#00b500",
         "#e6e600",
         "#ca3838"
      ],
      "seg1":"",
      "seg2":"",
      "x":1040,
      "y":800,
      "wires":[

      ]
   },
   {
      "id":"ef3c3296.4ecad",
      "type":"ui_text",
      "z":"c7e40c5a.d8ed",
      "group":"e01fefd.7d19a1",
      "order":5,
      "width":0,
      "height":0,
      "name":"",
      "label":"Status1",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":760,
      "y":220,
      "wires":[

      ]
   },
   {
      "id":"426a96dd.99b528",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"var dateNowFlow1 = new Date();\nglobal.set(\"dateNowFlow1\",dateNowFlow1);\nvar timeAsStringFlow1 = dateNowFlow1.toLocaleTimeString();\nglobal.set(\"timeAsStringFlow1\",timeAsStringFlow1);\nmsg.payload = timeAsStringFlow1;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":650,
      "y":100,
      "wires":[
         [
            "44f8745c.e0f5fc"
         ]
      ]
   },
   {
      "id":"44f8745c.e0f5fc",
      "type":"ui_text",
      "z":"c7e40c5a.d8ed",
      "group":"",
      "order":6,
      "width":0,
      "height":0,
      "name":"",
      "label":"Hora Atual",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":810,
      "y":100,
      "wires":[

      ]
   },
   {
      "id":"cba59df0.017a9",
      "type":"inject",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "topic":"",
      "payload":"time",
      "payloadType":"global",
      "repeat":"1",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":490,
      "y":100,
      "wires":[
         [
            "426a96dd.99b528"
         ]
      ]
   },
   {
      "id":"2f3f7141.967f5e",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"var chave1Flow1;\nif(msg.payload == 1)\n    msg.payload = \"LIGADO\";\nelse if(msg.payload == 0)\n    msg.payload = \"DESLIGADO\";\nelse\n    msg.payload = \"TESTE\";\nglobal.set(\"chave1Flow1\",msg);\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":590,
      "y":220,
      "wires":[
         [
            "ef3c3296.4ecad"
         ]
      ]
   },
   {
      "id":"cdc45d1.80da2a",
      "type":"ui_text",
      "z":"c7e40c5a.d8ed",
      "group":"71ff9539.c88bec",
      "order":5,
      "width":0,
      "height":0,
      "name":"",
      "label":"Status2",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":740,
      "y":480,
      "wires":[

      ]
   },
   {
      "id":"b9237135.c7853",
      "type":"ui_text",
      "z":"c7e40c5a.d8ed",
      "group":"eaeda72a.3cf868",
      "order":5,
      "width":0,
      "height":0,
      "name":"",
      "label":"Status3",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":1040,
      "y":720,
      "wires":[

      ]
   },
   {
      "id":"95b14241.06a7a",
      "type":"ui_text",
      "z":"c7e40c5a.d8ed",
      "group":"4f0d55a8.ef46bc",
      "order":5,
      "width":0,
      "height":0,
      "name":"",
      "label":"Status4",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":1040,
      "y":920,
      "wires":[

      ]
   },
   {
      "id":"b9eeb32b.3f3db",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"var sensor1Flow1;\nvar biggerFlow1;\nif(msg.payload.indexOf(\"Entrada\") != -1){\n    msg.payload = Number(msg.payload.substring(12,msg.payload.length).replace(\"\\r\\n\",\"\"));\n}\nglobal.set(\"sensor1Flow1\",msg);\nglobal.set(\"biggerFlow1\",msg);\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "x":304.99999618530273,
      "y":1300.2499895095825,
      "wires":[
         [
            "a2c5d2ee.8f7d3"
         ]
      ]
   },
   {
      "id":"f55191b2.279c2",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"var sensor2Flow1;\nif(msg.payload.indexOf(\"Entrada\") != -1){\n    msg.payload = Number(msg.payload.substring(12,msg.payload.length).replace(\"\\r\\n\",\"\"));\n}\nglobal.set(\"sensor2Flow1\",msg);\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "x":305.99999618530273,
      "y":1353.2499895095825,
      "wires":[
         [
            "a2c5d2ee.8f7d3"
         ]
      ]
   },
   {
      "id":"19c968ab.d30f37",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"var sensor3Flow1;\nif(msg.payload.indexOf(\"Entrada\") != -1){\n    msg.payload = Number(msg.payload.substring(12,msg.payload.length).replace(\"\\r\\n\",\"\"));\n}\nglobal.set(\"sensor3Flow1\",msg);\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "x":305.99999618530273,
      "y":1409.2499895095825,
      "wires":[
         [
            "a2c5d2ee.8f7d3"
         ]
      ]
   },
   {
      "id":"d37b2c7f.f3cb2",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"var sensor4Flow1;\nif(msg.payload.indexOf(\"Entrada\") != -1){\n    msg.payload = Number(msg.payload.substring(12,msg.payload.length).replace(\"\\r\\n\",\"\"));\n}\nglobal.set(\"sensor4Flow1\",msg);\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "x":295.99999618530273,
      "y":1467.2499895095825,
      "wires":[
         [
            "a2c5d2ee.8f7d3"
         ]
      ]
   },
   {
      "id":"63113fb8.8ee0c",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"var dateNowFlow1 = new Date();\nvar data = {\"Date\":dateNowFlow1,\"Sensor\":msg.payload}\nmsg.payload = JSON.stringify(data);\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":310,
      "y":2340,
      "wires":[
         [
            "70667970.7aeeb8"
         ]
      ]
   },
   {
      "id":"70667970.7aeeb8",
      "type":"firebase modify",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/Teste",
      "method":"push",
      "value":"msg.payload",
      "priority":"msg.priority",
      "x":640,
      "y":2340,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"33acc21.97cbe3e",
      "type":"inject",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "topic":"",
      "payload":"8.0",
      "payloadType":"str",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":130,
      "y":2340,
      "wires":[
         [
            "63113fb8.8ee0c"
         ]
      ]
   },
   {
      "id":"1e35c4db.b45aab",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"var dateNowFlow1 = new Date();\nvar data = {\"Date\":dateNowFlow1,\"Sensor\":msg.payload}\nmsg.payload = JSON.stringify(data);\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":628.7499847412109,
      "y":1659.7499866485596,
      "wires":[
         [
            "4a655eb4.92d4c"
         ]
      ]
   },
   {
      "id":"97706b15.676a68",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"var dateNowFlow1 = new Date();\nvar data = {\"Date\":dateNowFlow1,\"Sensor\":msg.payload}\nmsg.payload = JSON.stringify(data);\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":628.7499847412109,
      "y":1714.7499866485596,
      "wires":[
         [
            "1297ca0e.c94ae6"
         ]
      ]
   },
   {
      "id":"16ffd140.5d750f",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"var dateNowFlow1 = new Date();\nvar data = {\"Date\":dateNowFlow1,\"Sensor\":msg.payload}\nmsg.payload = JSON.stringify(data);\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":628.7499847412109,
      "y":1814.7499866485596,
      "wires":[
         [
            "7196c76d.c78cf8"
         ]
      ]
   },
   {
      "id":"53fd2da5.91b164",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"var dateNowFlow1 = new Date();\nvar data = {\"Date\":dateNowFlow1,\"Sensor\":msg.payload}\nmsg.payload = JSON.stringify(data);\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":628.7499847412109,
      "y":1767.7499866485596,
      "wires":[
         [
            "d59dff32.555b6"
         ]
      ]
   },
   {
      "id":"c5d09501.dec578",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"var dateNowFlow1 = new Date();\nvar data = {\"Date\":dateNowFlow1,\"Sensor\":msg.payload}\nmsg.payload = JSON.stringify(data);\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":628.7499847412109,
      "y":1904.7499866485596,
      "wires":[
         [
            "83dfce50.25684"
         ]
      ]
   },
   {
      "id":"7f8e1dd3.c84e84",
      "type":"firebase.on",
      "z":"c7e40c5a.d8ed",
      "name":"Sensor1",
      "firebaseconfig":"",
      "childpath":"/Sensor1RealTime",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":120,
      "y":2400,
      "wires":[
         [
            "e284c282.0c18"
         ]
      ]
   },
   {
      "id":"740f0b9d.2fade4",
      "type":"firebase.on",
      "z":"c7e40c5a.d8ed",
      "name":"Sensor2",
      "firebaseconfig":"",
      "childpath":"/Sensor2RealTime",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":121.5,
      "y":2459,
      "wires":[
         [
            "3d7e5ab9.f52856"
         ]
      ]
   },
   {
      "id":"21102656.015b5a",
      "type":"firebase.on",
      "z":"c7e40c5a.d8ed",
      "name":"Sensor3",
      "firebaseconfig":"",
      "childpath":"/Sensor3RealTime",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":120.5,
      "y":2519,
      "wires":[
         [
            "392f48ab.773ef8"
         ]
      ]
   },
   {
      "id":"8363fbad.7695c8",
      "type":"firebase.on",
      "z":"c7e40c5a.d8ed",
      "name":"Sensor4",
      "firebaseconfig":"",
      "childpath":"/Sensor4RealTime",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":117.5,
      "y":2580,
      "wires":[
         [
            "5109131e.96c08c"
         ]
      ]
   },
   {
      "id":"e284c282.0c18",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"if(msg.payload.indexOf(\"Entrada\") != -1){\n    msg.payload = msg.payload.substring(12,msg.payload.length).replace(\"\\r\\n\",\"\");\n}\n\nvar dateNowFlow1 = new Date();\nvar data = {\"Date\":dateNowFlow1,\"Sensor\":msg.payload}\nmsg.payload = JSON.stringify(data);\nreturn msg;\n\n",
      "outputs":1,
      "noerr":0,
      "x":310,
      "y":2400,
      "wires":[
         [
            "89af3fc3.88f19"
         ]
      ]
   },
   {
      "id":"3d7e5ab9.f52856",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"if(msg.payload.indexOf(\"Entrada\") != -1){\n    msg.payload = msg.payload.substring(12,msg.payload.length).replace(\"\\r\\n\",\"\");\n}\n\nvar dateNowFlow1 = new Date();\nvar data = {\"Date\":dateNowFlow1,\"Sensor\":msg.payload}\nmsg.payload = JSON.stringify(data);\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":310,
      "y":2459,
      "wires":[
         [
            "16de2d4d.a52653"
         ]
      ]
   },
   {
      "id":"5109131e.96c08c",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"if(msg.payload.indexOf(\"Entrada\") != -1){\n    msg.payload = msg.payload.substring(12,msg.payload.length).replace(\"\\r\\n\",\"\");\n}\n\nvar dateNowFlow1 = new Date();\nvar data = {\"Date\":dateNowFlow1,\"Sensor\":msg.payload}\nmsg.payload = JSON.stringify(data);\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":310,
      "y":2581,
      "wires":[
         [
            "cdb89890.eba988"
         ]
      ]
   },
   {
      "id":"392f48ab.773ef8",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"if(msg.payload.indexOf(\"Entrada\") != -1){\n    msg.payload = msg.payload.substring(12,msg.payload.length).replace(\"\\r\\n\",\"\");\n}\n\nvar dateNowFlow1 = new Date();\nvar data = {\"Date\":dateNowFlow1,\"Sensor\":msg.payload}\nmsg.payload = JSON.stringify(data);\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":310,
      "y":2520,
      "wires":[
         [
            "933a4619.02fc08"
         ]
      ]
   },
   {
      "id":"89af3fc3.88f19",
      "type":"firebase modify",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/Sensor1Historico",
      "method":"push",
      "value":"msg.payload",
      "priority":"msg.priority",
      "x":680,
      "y":2400,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"16de2d4d.a52653",
      "type":"firebase modify",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/Sensor2Historico",
      "method":"push",
      "value":"msg.payload",
      "priority":"msg.priority",
      "x":677.5,
      "y":2459,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"933a4619.02fc08",
      "type":"firebase modify",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/Sensor3Historico",
      "method":"push",
      "value":"msg.payload",
      "priority":"msg.priority",
      "x":677.5,
      "y":2520,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"cdb89890.eba988",
      "type":"firebase modify",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/Sensor4Historico",
      "method":"push",
      "value":"msg.payload",
      "priority":"msg.priority",
      "x":677.5,
      "y":2580,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"7190365e.b3ff08",
      "type":"firebase.on",
      "z":"c7e40c5a.d8ed",
      "name":"Sensor1",
      "firebaseconfig":"",
      "childpath":"/Sensor1RealTime",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":120,
      "y":2700,
      "wires":[
         [
            "7ee0ef69.1e284"
         ]
      ]
   },
   {
      "id":"31b0311b.ffd37e",
      "type":"firebase.on",
      "z":"c7e40c5a.d8ed",
      "name":"Sensor2",
      "firebaseconfig":"",
      "childpath":"/Sensor2RealTime",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":121.5,
      "y":2754,
      "wires":[
         [
            "8a8f8da4.fed2f"
         ]
      ]
   },
   {
      "id":"ec85f159.5f261",
      "type":"firebase.on",
      "z":"c7e40c5a.d8ed",
      "name":"Sensor3",
      "firebaseconfig":"",
      "childpath":"/Sensor3RealTime",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":120.5,
      "y":2809,
      "wires":[
         [
            "896b2afa.7ef918"
         ]
      ]
   },
   {
      "id":"262bfff7.16762",
      "type":"firebase.on",
      "z":"c7e40c5a.d8ed",
      "name":"Sensor4",
      "firebaseconfig":"",
      "childpath":"/Sensor4RealTime",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":117.5,
      "y":2868,
      "wires":[
         [
            "8b8fa311.4a7b9"
         ]
      ]
   },
   {
      "id":"7ee0ef69.1e284",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"var sensor1Flow1;\nif(msg.payload.indexOf(\"Entrada\") != -1){\n    msg.payload = msg.payload.substring(12,msg.payload.length).replace(\"\\r\\n\",\"\");\n}\nglobal.set(\"sensor1Flow1\",msg);\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":324.99999618530273,
      "y":2700.2499895095825,
      "wires":[
         [
            "ff58e5fb.798198"
         ]
      ]
   },
   {
      "id":"8a8f8da4.fed2f",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"var sensor2Flow1;\nif(msg.payload.indexOf(\"Entrada\") != -1){\n    msg.payload = msg.payload.substring(12,msg.payload.length).replace(\"\\r\\n\",\"\");\n}\nglobal.set(\"sensor2Flow1\",msg);\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":325.99999618530273,
      "y":2753.2499895095825,
      "wires":[
         [
            "e3faa72e.77bc78"
         ]
      ]
   },
   {
      "id":"896b2afa.7ef918",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"var sensor3Flow1;\nif(msg.payload.indexOf(\"Entrada\") != -1){\n    msg.payload = msg.payload.substring(12,msg.payload.length).replace(\"\\r\\n\",\"\");\n}\nglobal.set(\"sensor3Flow1\",msg);\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":325.99999618530273,
      "y":2809.2499895095825,
      "wires":[
         [
            "c70741b7.8312d"
         ]
      ]
   },
   {
      "id":"8b8fa311.4a7b9",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"var sensor4Flow1;\nif(msg.payload.indexOf(\"Entrada\") != -1){\n    msg.payload = msg.payload.substring(12,msg.payload.length).replace(\"\\r\\n\",\"\");\n}\nglobal.set(\"sensor4Flow1\",msg);\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":325.99999618530273,
      "y":2867.2499895095825,
      "wires":[
         [
            "dcc8fff0.8d4d4"
         ]
      ]
   },
   {
      "id":"ff58e5fb.798198",
      "type":"ui_chart",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "group":"e01fefd.7d19a1",
      "order":6,
      "width":0,
      "height":0,
      "label":"Gráfico1",
      "chartType":"line",
      "legend":"false",
      "xformat":"HH:mm:ss",
      "interpolate":"linear",
      "nodata":"",
      "dot":false,
      "ymin":"",
      "ymax":"",
      "removeOlder":"24",
      "removeOlderPoints":"",
      "removeOlderUnit":"3600",
      "cutout":0,
      "useOneColor":false,
      "colors":[
         "#1f77b4",
         "#aec7e8",
         "#ff7f0e",
         "#2ca02c",
         "#98df8a",
         "#d62728",
         "#ff9896",
         "#9467bd",
         "#c5b0d5"
      ],
      "useOldStyle":false,
      "outputs":1,
      "x":741,
      "y":2700,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"e3faa72e.77bc78",
      "type":"ui_chart",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "group":"71ff9539.c88bec",
      "order":6,
      "width":0,
      "height":0,
      "label":"Gráfico2",
      "chartType":"line",
      "legend":"false",
      "xformat":"HH:mm:ss",
      "interpolate":"linear",
      "nodata":"",
      "dot":false,
      "ymin":"",
      "ymax":"",
      "removeOlder":"24",
      "removeOlderPoints":"",
      "removeOlderUnit":"3600",
      "cutout":0,
      "useOneColor":false,
      "colors":[
         "#1f77b4",
         "#aec7e8",
         "#ff7f0e",
         "#2ca02c",
         "#98df8a",
         "#d62728",
         "#ff9896",
         "#9467bd",
         "#c5b0d5"
      ],
      "useOldStyle":false,
      "outputs":1,
      "x":742,
      "y":2755,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"c70741b7.8312d",
      "type":"ui_chart",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "group":"eaeda72a.3cf868",
      "order":6,
      "width":0,
      "height":0,
      "label":"Gráfico3",
      "chartType":"line",
      "legend":"false",
      "xformat":"HH:mm:ss",
      "interpolate":"linear",
      "nodata":"",
      "dot":false,
      "ymin":"",
      "ymax":"",
      "removeOlder":"24",
      "removeOlderPoints":"",
      "removeOlderUnit":"3600",
      "cutout":0,
      "useOneColor":false,
      "colors":[
         "#1f77b4",
         "#aec7e8",
         "#ff7f0e",
         "#2ca02c",
         "#98df8a",
         "#d62728",
         "#ff9896",
         "#9467bd",
         "#c5b0d5"
      ],
      "useOldStyle":false,
      "outputs":1,
      "x":743,
      "y":2809,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"dcc8fff0.8d4d4",
      "type":"ui_chart",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "group":"4f0d55a8.ef46bc",
      "order":6,
      "width":0,
      "height":0,
      "label":"Gráfico4",
      "chartType":"line",
      "legend":"false",
      "xformat":"HH:mm:ss",
      "interpolate":"linear",
      "nodata":"",
      "dot":false,
      "ymin":"",
      "ymax":"",
      "removeOlder":"24",
      "removeOlderPoints":"",
      "removeOlderUnit":"3600",
      "cutout":0,
      "useOneColor":false,
      "colors":[
         "#1f77b4",
         "#aec7e8",
         "#ff7f0e",
         "#2ca02c",
         "#98df8a",
         "#d62728",
         "#ff9896",
         "#9467bd",
         "#c5b0d5"
      ],
      "useOldStyle":false,
      "outputs":1,
      "x":743,
      "y":2868,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"c0ab0fb7.08cd3",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"var chave1Flow1;\nif(msg.payload == 1)\n    msg.payload = global.get(\"sensor1Flow1\").payload;\nelse if(msg.payload == 0)\n    msg.payload = 0;\nelse\n    msg.payload = \"TESTE\";\nglobal.set(\"sensor1CorrigidoFlow1\",msg);\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":590,
      "y":280,
      "wires":[
         [
            "41c5006.9d28d",
            "5943f3e4.8e1c6c"
         ]
      ]
   },
   {
      "id":"a9c4b96b.a4c998",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"var chave2Flow1;\nif(msg.payload == 1)\n    msg.payload = global.get(\"sensor2Flow1\").payload;\nelse if(msg.payload == 0)\n    msg.payload = 0;\nelse\n    msg.payload = \"TESTE\";\nglobal.set(\"sensor2CorrigidoFlow1\",msg);\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":490,
      "y":580,
      "wires":[
         [
            "a185e331.31a8a",
            "6e74a369.2e719c"
         ]
      ]
   },
   {
      "id":"5fa2fe6e.3b555",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"var chave3Flow1;\nif(msg.payload == 1)\n    msg.payload = global.get(\"sensor3Flow1\").payload;\nelse if(msg.payload == 0)\n    msg.payload = 0;\nelse\n    msg.payload = \"TESTE\";\nglobal.set(\"sensor3CorrigidoFlow1\",msg);\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":812,
      "y":761.25,
      "wires":[
         [
            "b96e3ee0.e4172",
            "c338bd94.ec512"
         ]
      ]
   },
   {
      "id":"c53f5066.ed993",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"var chave4Flow1;\nif(msg.payload == 1)\n    msg.payload = global.get(\"sensor4Flow1\").payload;\nelse if(msg.payload == 0)\n    msg.payload = 0;\nelse\n    msg.payload = \"TESTE\";\nglobal.set(\"sensor4CorrigidoFlow1\",msg);\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":810,
      "y":960,
      "wires":[
         [
            "e31a9941.87c598",
            "671bdea0.f20f7"
         ]
      ]
   },
   {
      "id":"3afd12d0.882f9e",
      "type":"firebase.on",
      "z":"c7e40c5a.d8ed",
      "name":"Sensor5",
      "firebaseconfig":"",
      "childpath":"/Sensor5RealTime",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":120,
      "y":2940,
      "wires":[
         [
            "1b7e54e.e3d37ab"
         ]
      ]
   },
   {
      "id":"1b7e54e.e3d37ab",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"var sensor5Flow1;\nif(msg.payload.indexOf(\"Entrada\") != -1){\n    msg.payload = msg.payload.substring(12,msg.payload.length).replace(\"\\r\\n\",\"\");\n}\nglobal.set(\"sensor5Flow1\",msg);\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":328.49999618530273,
      "y":2939.2499895095825,
      "wires":[
         [
            "6fe10ca9.e7ec04"
         ]
      ]
   },
   {
      "id":"6fe10ca9.e7ec04",
      "type":"ui_chart",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "group":"11d13100.f3d63f",
      "order":6,
      "width":0,
      "height":0,
      "label":"Gráfico5",
      "chartType":"line",
      "legend":"false",
      "xformat":"HH:mm:ss",
      "interpolate":"linear",
      "nodata":"",
      "dot":false,
      "ymin":"",
      "ymax":"",
      "removeOlder":"24",
      "removeOlderPoints":"",
      "removeOlderUnit":"3600",
      "cutout":0,
      "useOneColor":false,
      "colors":[
         "#1f77b4",
         "#aec7e8",
         "#ff7f0e",
         "#2ca02c",
         "#98df8a",
         "#d62728",
         "#ff9896",
         "#9467bd",
         "#c5b0d5"
      ],
      "useOldStyle":false,
      "outputs":1,
      "x":745.5,
      "y":2940,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"3cc3e22a.e01e7e",
      "type":"firebase.on",
      "z":"c7e40c5a.d8ed",
      "name":"Sensor5",
      "firebaseconfig":"",
      "childpath":"/Sensor5RealTime",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":120,
      "y":2640,
      "wires":[
         [
            "23f8bf7f.27541"
         ]
      ]
   },
   {
      "id":"23f8bf7f.27541",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"if(msg.payload.indexOf(\"Entrada\") != -1){\n    msg.payload = msg.payload.substring(12,msg.payload.length).replace(\"\\r\\n\",\"\");\n}\n\nvar dateNowFlow1 = new Date();\nvar data = {\"Date\":dateNowFlow1,\"Sensor\":msg.payload}\nmsg.payload = JSON.stringify(data);\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":312.5,
      "y":2641,
      "wires":[
         [
            "425a237.39bc3dc"
         ]
      ]
   },
   {
      "id":"425a237.39bc3dc",
      "type":"firebase modify",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/Sensor5Historico",
      "method":"push",
      "value":"msg.payload",
      "priority":"msg.priority",
      "x":680,
      "y":2640,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"e4f80586.651e38",
      "type":"firebase modify",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/Sensor5RealTime",
      "method":"set",
      "value":"msg.payload",
      "priority":"msg.priority",
      "x":980,
      "y":2164,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"546f156a.1115fc",
      "type":"firebase modify",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/Sensor5",
      "method":"push",
      "value":"msg.payload",
      "priority":"msg.priority",
      "x":950,
      "y":1860,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"5b724fd8.6e9c7",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"var dateNowFlow1 = new Date();\nvar data = {\"Date\":dateNowFlow1,\"Sensor\":msg.payload}\nmsg.payload = JSON.stringify(data);\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":631.2499847412109,
      "y":1859.7499866485596,
      "wires":[
         [
            "546f156a.1115fc"
         ]
      ]
   },
   {
      "id":"4ef09884.8c9aa8",
      "type":"firebase.on",
      "z":"c7e40c5a.d8ed",
      "name":"Sensor5",
      "firebaseconfig":"",
      "childpath":"/Sensor5RealTime",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":100,
      "y":1520,
      "wires":[
         [
            "e71cede5.5543d"
         ]
      ]
   },
   {
      "id":"e71cede5.5543d",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"var sensor5Flow1;\nif(msg.payload.indexOf(\"Entrada\") != -1){\n    msg.payload = Number(msg.payload.substring(12,msg.payload.length).replace(\"\\r\\n\",\"\"));\n}\nglobal.set(\"sensor5Flow1\",msg);\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "x":298.49999618530273,
      "y":1519.2499895095825,
      "wires":[
         [
            "a2c5d2ee.8f7d3"
         ]
      ]
   },
   {
      "id":"665be3a0.09287c",
      "type":"ui_text",
      "z":"c7e40c5a.d8ed",
      "group":"11d13100.f3d63f",
      "order":5,
      "width":0,
      "height":0,
      "name":"",
      "label":"Sensor5",
      "format":"{{msg.payload}}W",
      "layout":"row-spread",
      "x":1040,
      "y":1171,
      "wires":[

      ]
   },
   {
      "id":"fe1f70fe.b25d",
      "type":"ui_button",
      "z":"c7e40c5a.d8ed",
      "name":"OFF",
      "group":"11d13100.f3d63f",
      "order":4,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"OFF",
      "tooltip":"",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"true",
      "payloadType":"bool",
      "topic":"",
      "x":230,
      "y":1100,
      "wires":[
         [
            "4c5d0633.3b3f08"
         ]
      ]
   },
   {
      "id":"ab019266.df98a",
      "type":"ui_button",
      "z":"c7e40c5a.d8ed",
      "name":"ON",
      "group":"11d13100.f3d63f",
      "order":3,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"ON",
      "tooltip":"",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"false",
      "payloadType":"bool",
      "topic":"",
      "x":230,
      "y":1140,
      "wires":[
         [
            "4c5d0633.3b3f08"
         ]
      ]
   },
   {
      "id":"4c5d0633.3b3f08",
      "type":"change",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "rules":[
         {
            "t":"change",
            "p":"payload",
            "pt":"msg",
            "from":"true",
            "fromt":"bool",
            "to":"0",
            "tot":"str"
         },
         {
            "t":"change",
            "p":"payload",
            "pt":"msg",
            "from":"false",
            "fromt":"bool",
            "to":"1",
            "tot":"str"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":380,
      "y":1120,
      "wires":[
         [
            "d7243e61.1a8ed",
            "4d124bd2.2f4ea4",
            "40f3a8a8.329e68"
         ]
      ]
   },
   {
      "id":"d7243e61.1a8ed",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"var chave5Flow1;\nif(msg.payload == 1)\n    msg.payload = \"LIGADO\";\nelse if(msg.payload == 0)\n    msg.payload = \"DESLIGADO\";\nelse\n    msg.payload = \"TESTE\";\nglobal.set(\"chave5Flow1\",msg);\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":810,
      "y":1131,
      "wires":[
         [
            "673af12d.dc4aa"
         ]
      ]
   },
   {
      "id":"330d9351.b6bf7c",
      "type":"ui_text",
      "z":"c7e40c5a.d8ed",
      "group":"11d13100.f3d63f",
      "order":1,
      "width":0,
      "height":0,
      "name":"",
      "label":"Chave5",
      "format":"",
      "layout":"row-spread",
      "x":1240,
      "y":920,
      "wires":[

      ]
   },
   {
      "id":"c296d84d.bb77e8",
      "type":"ui_gauge",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "group":"11d13100.f3d63f",
      "order":2,
      "width":0,
      "height":0,
      "gtype":"gage",
      "title":"Gauge5",
      "label":"units",
      "format":"{{value}}",
      "min":0,
      "max":10,
      "colors":[
         "#00b500",
         "#e6e600",
         "#ca3838"
      ],
      "seg1":"",
      "seg2":"",
      "x":1040,
      "y":1211,
      "wires":[

      ]
   },
   {
      "id":"673af12d.dc4aa",
      "type":"ui_text",
      "z":"c7e40c5a.d8ed",
      "group":"11d13100.f3d63f",
      "order":5,
      "width":0,
      "height":0,
      "name":"",
      "label":"Status5",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":1040,
      "y":1131,
      "wires":[

      ]
   },
   {
      "id":"4d124bd2.2f4ea4",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"var sensor5Flow1;\nif(msg.payload == 1)\n    msg.payload = global.get(\"sensor5Flow1\").payload;\nelse if(msg.payload == 0)\n    msg.payload = 0;\nelse\n    msg.payload = \"TESTE\";\nglobal.set(\"sensor5CorrigidoFlow1\",msg);\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":810,
      "y":1171,
      "wires":[
         [
            "665be3a0.09287c",
            "c296d84d.bb77e8"
         ]
      ]
   },
   {
      "id":"a2c5d2ee.8f7d3",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"if(Number(msg.payload) >= Number(global.get(\"biggerFlow1\").payload))\n    global.set(\"biggerFlow1\",msg);\nelse if(global.get(\"biggerFlow1\").payload == \"\")\n    global.set(\"biggerFlow1\",0);\nreturn global.get(\"biggerFlow1\");\n\n",
      "outputs":1,
      "noerr":0,
      "x":530,
      "y":1299,
      "wires":[
         [
            "8b1eb6e1.2345c8",
            "304f8ad9.52c716",
            "c5dada45.4599e8",
            "35ed9981.bb7a26",
            "211675a3.21866a",
            "d710995e.ff0188",
            "c81d3f0f.a23ef"
         ]
      ]
   },
   {
      "id":"8b1eb6e1.2345c8",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"msg = global.get(\"chave1Flow1\",msg);\nmsg.ui_control = {\"min\":0,\"max\":Number(global.get(\"biggerFlow1\").payload)};\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":670,
      "y":340,
      "wires":[
         [
            "5943f3e4.8e1c6c"
         ]
      ]
   },
   {
      "id":"d710995e.ff0188",
      "type":"ui_text",
      "z":"c7e40c5a.d8ed",
      "group":"30a34d0f.4897a2",
      "order":5,
      "width":0,
      "height":0,
      "name":"",
      "label":"Maior",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":710,
      "y":1297,
      "wires":[

      ]
   },
   {
      "id":"304f8ad9.52c716",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"msg = global.get(\"chave2Flow1\",msg);\nmsg.ui_control = {\"min\":0,\"max\":Number(global.get(\"biggerFlow1\").payload)};\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":710,
      "y":620,
      "wires":[
         [
            "6e74a369.2e719c"
         ]
      ]
   },
   {
      "id":"c5dada45.4599e8",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"msg = global.get(\"chave3Flow1\",msg);\nmsg.ui_control = {\"min\":0,\"max\":Number(global.get(\"biggerFlow1\").payload)};\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":811.5000152587891,
      "y":803.5000057220459,
      "wires":[
         [
            "c338bd94.ec512"
         ]
      ]
   },
   {
      "id":"35ed9981.bb7a26",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"msg = global.get(\"chave4Flow1\",msg);\nmsg.ui_control = {\"min\":0,\"max\":Number(global.get(\"biggerFlow1\").payload)};\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":810,
      "y":1000,
      "wires":[
         [
            "671bdea0.f20f7"
         ]
      ]
   },
   {
      "id":"211675a3.21866a",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"msg = global.get(\"chave5Flow1\",msg);\nmsg.ui_control = {\"min\":0,\"max\":Number(global.get(\"biggerFlow1\").payload)};\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":810,
      "y":1211,
      "wires":[
         [
            "c296d84d.bb77e8"
         ]
      ]
   },
   {
      "id":"577ae845.890e48",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"msg.payload = msg.payload.replace(\"\\r\\n\",\"\");\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":630,
      "y":1970,
      "wires":[
         [
            "56fdfdfe.992614"
         ]
      ]
   },
   {
      "id":"4e5a866d.7ee818",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"msg.payload = msg.payload.replace(\"\\r\\n\",\"\");\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":630,
      "y":2019,
      "wires":[
         [
            "1ea4ecc7.e80f23"
         ]
      ]
   },
   {
      "id":"bc6afd4a.d8d4c",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"msg.payload = msg.payload.replace(\"\\r\\n\",\"\");\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":631,
      "y":2064,
      "wires":[
         [
            "370ae4ff.7098ec"
         ]
      ]
   },
   {
      "id":"5c9de75d.ff2ca8",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"msg.payload = msg.payload.replace(\"\\r\\n\",\"\");\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":631,
      "y":2110,
      "wires":[
         [
            "8a227347.8ebcd"
         ]
      ]
   },
   {
      "id":"959932eb.4717f",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"msg.payload = msg.payload.replace(\"\\r\\n\",\"\");\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":631,
      "y":2164,
      "wires":[
         [
            "e4f80586.651e38"
         ]
      ]
   },
   {
      "id":"960e6ebe.7fb0e",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"msg.payload = msg.payload.replace(\"\\r\\n\",\"\");\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":631,
      "y":2209,
      "wires":[
         [
            "c117faf8.bd4fe8"
         ]
      ]
   },
   {
      "id":"40f3a8a8.329e68",
      "type":"arduino out",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "pin":"12",
      "state":"OUTPUT",
      "arduino":"7ccecbb2.e008d4",
      "x":800,
      "y":1083,
      "wires":[

      ]
   },
   {
      "id":"7eb9f32.01aa20c",
      "type":"inject",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "topic":"",
      "payload":"chave1Flow1.payload",
      "payloadType":"global",
      "repeat":"1",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":190,
      "y":160,
      "wires":[
         [
            "f1fba653.27d3a8"
         ]
      ]
   },
   {
      "id":"f1fba653.27d3a8",
      "type":"switch",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"eq",
            "v":"LIGADO",
            "vt":"str"
         },
         {
            "t":"eq",
            "v":"DESLIGADO",
            "vt":"str"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":150,
      "y":220,
      "wires":[
         [
            "d6cbce41.e04c5"
         ],
         [
            "25428605.c0b8ea"
         ]
      ]
   },
   {
      "id":"d6cbce41.e04c5",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"msg.payload = 1;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":310,
      "y":220,
      "wires":[
         [
            "d323e121.7d38c",
            "2f3f7141.967f5e",
            "c0ab0fb7.08cd3"
         ]
      ]
   },
   {
      "id":"25428605.c0b8ea",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"msg.payload = 0;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":310,
      "y":260,
      "wires":[
         [
            "d323e121.7d38c",
            "2f3f7141.967f5e",
            "c0ab0fb7.08cd3"
         ]
      ]
   },
   {
      "id":"92c4b2c3.0841e",
      "type":"inject",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "topic":"",
      "payload":"chave2Flow1.payload",
      "payloadType":"global",
      "repeat":"1",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":130,
      "y":380,
      "wires":[
         [
            "4cb90ff7.32089"
         ]
      ]
   },
   {
      "id":"4cb90ff7.32089",
      "type":"switch",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"eq",
            "v":"LIGADO",
            "vt":"str"
         },
         {
            "t":"eq",
            "v":"DESLIGADO",
            "vt":"str"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":330,
      "y":380,
      "wires":[
         [
            "c719d633.00ee78"
         ],
         [
            "23f08b51.7c3e54"
         ]
      ]
   },
   {
      "id":"c719d633.00ee78",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"msg.payload = 1;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":510,
      "y":380,
      "wires":[
         [
            "f1b7377.08cb3c8",
            "f0bd7982.cb23e8",
            "a9c4b96b.a4c998"
         ]
      ]
   },
   {
      "id":"23f08b51.7c3e54",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"msg.payload = 0;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":510,
      "y":440,
      "wires":[
         [
            "f1b7377.08cb3c8",
            "f0bd7982.cb23e8",
            "a9c4b96b.a4c998"
         ]
      ]
   },
   {
      "id":"b1a9aaaa.cf61b8",
      "type":"inject",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "topic":"",
      "payload":"chave3Flow1.payload",
      "payloadType":"global",
      "repeat":"1",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":170,
      "y":660,
      "wires":[
         [
            "7ae6b1d2.04cba"
         ]
      ]
   },
   {
      "id":"7ae6b1d2.04cba",
      "type":"switch",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"eq",
            "v":"LIGADO",
            "vt":"str"
         },
         {
            "t":"eq",
            "v":"DESLIGADO",
            "vt":"str"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":430,
      "y":660,
      "wires":[
         [
            "a7ab04da.214928"
         ],
         [
            "3d59f9c0.eaea86"
         ]
      ]
   },
   {
      "id":"a7ab04da.214928",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"msg.payload = 1;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":570,
      "y":655,
      "wires":[
         [
            "54e51d12.66dd94",
            "1220abc8.746ba4",
            "5fa2fe6e.3b555"
         ]
      ]
   },
   {
      "id":"3d59f9c0.eaea86",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"msg.payload = 0;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":570,
      "y":695,
      "wires":[
         [
            "54e51d12.66dd94",
            "1220abc8.746ba4",
            "5fa2fe6e.3b555"
         ]
      ]
   },
   {
      "id":"e28c0cf1.1aed2",
      "type":"inject",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "topic":"",
      "payload":"chave4Flow1.payload",
      "payloadType":"global",
      "repeat":"1",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":150,
      "y":860,
      "wires":[
         [
            "5aabfd0b.a223d4"
         ]
      ]
   },
   {
      "id":"5aabfd0b.a223d4",
      "type":"switch",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"eq",
            "v":"LIGADO",
            "vt":"str"
         },
         {
            "t":"eq",
            "v":"DESLIGADO",
            "vt":"str"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":410,
      "y":860,
      "wires":[
         [
            "c32a76f6.588b98"
         ],
         [
            "99dbf601.1a8618"
         ]
      ]
   },
   {
      "id":"c32a76f6.588b98",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"msg.payload = 1;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":570,
      "y":860,
      "wires":[
         [
            "f9e05144.42454",
            "5bc7bf2e.62db8",
            "c53f5066.ed993"
         ]
      ]
   },
   {
      "id":"99dbf601.1a8618",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"msg.payload = 0;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":570,
      "y":900,
      "wires":[
         [
            "f9e05144.42454",
            "5bc7bf2e.62db8",
            "c53f5066.ed993"
         ]
      ]
   },
   {
      "id":"ed8c936f.0cf0f",
      "type":"inject",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "topic":"",
      "payload":"chave4Flow1.payload",
      "payloadType":"global",
      "repeat":"1",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":150,
      "y":1060,
      "wires":[
         [
            "c8eedd79.aa152"
         ]
      ]
   },
   {
      "id":"c8eedd79.aa152",
      "type":"switch",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"eq",
            "v":"LIGADO",
            "vt":"str"
         },
         {
            "t":"eq",
            "v":"DESLIGADO",
            "vt":"str"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":410,
      "y":1060,
      "wires":[
         [
            "4ba99ede.4bdaf"
         ],
         [
            "f2d974e3.4a1468"
         ]
      ]
   },
   {
      "id":"4ba99ede.4bdaf",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"msg.payload = 1;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":570,
      "y":1060,
      "wires":[
         [
            "40f3a8a8.329e68",
            "d7243e61.1a8ed",
            "4d124bd2.2f4ea4"
         ]
      ]
   },
   {
      "id":"f2d974e3.4a1468",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "func":"msg.payload = 0;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":570,
      "y":1100,
      "wires":[
         [
            "40f3a8a8.329e68",
            "d7243e61.1a8ed",
            "4d124bd2.2f4ea4"
         ]
      ]
   },
   {
      "id":"c81d3f0f.a23ef",
      "type":"firebase modify",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/MaiorFlow1",
      "method":"set",
      "value":"msg.payload",
      "priority":"msg.priority",
      "x":860,
      "y":1340,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"7b391a1d.2f8214",
      "type":"firebase.on",
      "z":"c7e40c5a.d8ed",
      "name":"MaiorFlow1",
      "firebaseconfig":"",
      "childpath":"/MaiorFlow1",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":90,
      "y":1240,
      "wires":[
         [
            "a2c5d2ee.8f7d3"
         ]
      ]
   },
   {
      "id":"9bfd4c2e.0249a",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"f_forms",
      "func":"var Sensor1 = global.get(\"sensor1Flow1\");\nvar Sensor2 = global.get(\"sensor2Flow1\");\nvar Sensor3 = global.get(\"sensor3Flow1\");\nvar Sensor4 = global.get(\"sensor4Flow1\");\nvar Sensor5 = global.get(\"sensor5Flow1\");\n\nconsole.log(\"S1\" + Sensor1.payload);\nconsole.log(\"S2\" + Sensor2.payload);\nconsole.log(\"S3\" + Sensor3.payload);\nconsole.log(\"S4\" + Sensor4.payload);\nconsole.log(\"S5\" + Sensor5.payload);\n\nmsg.payload = {};\n\nmsg.payload.Sensor1 = parseInt(Sensor1.payload);\nmsg.payload.Sensor2 = parseInt(Sensor2.payload);\nmsg.payload.Sensor3 = parseInt(Sensor3.payload);\nmsg.payload.Sensor4 = parseInt(Sensor4.payload);\nmsg.payload.Sensor5 = parseInt(Sensor5.payload);\n\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":960,
      "y":400,
      "wires":[
         [
            "59d7fa4.2a9b004"
         ]
      ]
   },
   {
      "id":"59d7fa4.2a9b004",
      "type":"http request",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "method":"GET",
      "ret":"txt",
      "paytoqs":false,
      "url":"https://docs.google.com/forms/d/e/1FAIpQLSc6mCjwwCXBPnX2meZczKmrMQljxwlp_DWrnVhxeyq_HaG5Gw/formResponse?usp=pp_url &entry.1113514945={{payload.Sensor1}}&entry.439679604={{payload.Sensor2}}&entry.2028156176={{payload.Sensor3}}&entry.1851167786={{payload.Sensor4}}&entry.1554509448={{payload.Sensor5}}",
      "tls":"",
      "persist":false,
      "proxy":"",
      "authType":"basic",
      "x":1150,
      "y":280,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"5bed038b.bf115c",
      "type":"function",
      "z":"c7e40c5a.d8ed",
      "name":"f_mail",
      "func":"var Sensor1 = global.get(\"sensor1Flow1\");\nvar Sensor2 = global.get(\"sensor2Flow1\");\nvar Sensor3 = global.get(\"sensor3Flow1\");\nvar Sensor4 = global.get(\"sensor4Flow1\");\nvar Sensor5 = global.get(\"sensor5Flow1\");\n\nconsole.log(\"S1\" + Sensor1.payload);\nconsole.log(\"S2\" + Sensor2.payload);\nconsole.log(\"S3\" + Sensor3.payload);\nconsole.log(\"S4\" + Sensor4.payload);\nconsole.log(\"S5\" + Sensor5.payload);\n\nmsg.payload = {};\n\nmsg.payload.Sensor1 = parseInt(Sensor1.payload);\nmsg.payload.Sensor2 = parseInt(Sensor2.payload);\nmsg.payload.Sensor3 = parseInt(Sensor3.payload);\nmsg.payload.Sensor4 = parseInt(Sensor4.payload);\nmsg.payload.Sensor5 = parseInt(Sensor5.payload);\n\n\nmsg = {\n    \n    payload:\n    \"Sensor 1 = \" + msg.payload.Sensor1 + \"\\n\\n\" +\n    \"Sensor 2 = \" + msg.payload.Sensor2 + \"\\n\\n\" +\n    \"Sensor 3 = \" + msg.payload.Sensor3 + \"\\n\\n\" +\n    \"Sensor 4 = \" + msg.payload.Sensor4 + \"\\n\\n\" +\n    \"Sensor 5 = \" + msg.payload.Sensor5 + \"\\n\\n\",\n    topic: \"node-red - Status!!!\" + Date().toString()\n}\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":970,
      "y":140,
      "wires":[
         [
            "809751be.4d6e2"
         ]
      ]
   },
   {
      "id":"809751be.4d6e2",
      "type":"e-mail",
      "z":"c7e40c5a.d8ed",
      "server":"smtp.gmail.com",
      "port":"465",
      "secure":true,
      "tls":true,
      "name":"matheussni@gmail.com",
      "dname":"envia_mail",
      "x":1150,
      "y":220,
      "wires":[

      ]
   },
   {
      "id":"af6302e8.83178",
      "type":"inject",
      "z":"c7e40c5a.d8ed",
      "name":"",
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":960,
      "y":260,
      "wires":[
         [
            "9bfd4c2e.0249a",
            "5bed038b.bf115c"
         ]
      ]
   },
   {
      "id":"71ff9539.c88bec",
      "type":"ui_group",
      "z":"",
      "name":"Sensor2",
      "tab":"4ac2a4e1.9ba53c",
      "order":3,
      "disp":true,
      "width":"6",
      "collapse":false
   },
   {
      "id":"e01fefd.7d19a1",
      "type":"ui_group",
      "z":"",
      "name":"Sensor1",
      "tab":"4ac2a4e1.9ba53c",
      "order":2,
      "disp":true,
      "width":"6",
      "collapse":false
   },
   {
      "id":"eaeda72a.3cf868",
      "type":"ui_group",
      "z":"",
      "name":"Sensor 3",
      "tab":"4ac2a4e1.9ba53c",
      "order":4,
      "disp":true,
      "width":"6",
      "collapse":false
   },
   {
      "id":"4f0d55a8.ef46bc",
      "type":"ui_group",
      "z":"",
      "name":"Sensor4",
      "tab":"4ac2a4e1.9ba53c",
      "order":5,
      "disp":true,
      "width":"6",
      "collapse":false
   },
   {
      "id":"7ccecbb2.e008d4",
      "type":"arduino-board",
      "z":"",
      "device":"/dev/ttyUSB0"
   },
   {
      "id":"54fa66e.12f3698",
      "type":"serial-port",
      "z":"",
      "serialport":"/dev/ttyUSB1",
      "serialbaud":"9600",
      "databits":"8",
      "parity":"none",
      "stopbits":"1",
      "waitfor":"",
      "newline":"\\n",
      "bin":"false",
      "out":"char",
      "addchar":"",
      "responsetimeout":"1000"
   },
   {
      "id":"11d13100.f3d63f",
      "type":"ui_group",
      "z":"",
      "name":"Sensor 5",
      "tab":"4ac2a4e1.9ba53c",
      "order":6,
      "disp":true,
      "width":"6",
      "collapse":false
   },
   {
      "id":"30a34d0f.4897a2",
      "type":"ui_group",
      "z":"",
      "name":"Início",
      "tab":"4ac2a4e1.9ba53c",
      "order":1,
      "disp":true,
      "width":"6",
      "collapse":false
   },
   {
      "id":"4ac2a4e1.9ba53c",
      "type":"ui_tab",
      "z":"",
      "name":"DashboardRealtime1",
      "icon":"dashboard",
      "order":2,
      "disabled":false,
      "hidden":false
   }
]