Regra.json
[
   {
      "id":"5c635d35.8ccf14",
      "type":"tab",
      "label":"Flow 3",
      "disabled":false,
      "info":""
   },
   {
      "id":"73636574.2f262c",
      "type":"function",
      "z":"5c635d35.8ccf14",
      "name":"",
      "func":"var dateNowFlow3 = new Date();\nglobal.set(\"dateNowFlow3\",dateNowFlow3);\nvar timeAsStringFlow3 = dateNowFlow3.toLocaleTimeString();\nglobal.set(\"timeAsStringFlow3\",timeAsStringFlow3);\ndate = new Date();\ndate = (('00' + date.getHours()).slice(-2) + ':' + ('00' + date.getMinutes()).slice(-2) + ':' + ('00' + date.getSeconds()).slice(-2));\nmsg.payload = date;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":450,
      "y":280,
      "wires":[
         [
            "1c6b1579.c9adab"
         ]
      ]
   },
   {
      "id":"1c6b1579.c9adab",
      "type":"ui_text",
      "z":"5c635d35.8ccf14",
      "group":"c4c343a.f22bfc",
      "order":1,
      "width":0,
      "height":0,
      "name":"",
      "label":"Hora Atual",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":590,
      "y":280,
      "wires":[

      ]
   },
   {
      "id":"a4828f97.710da",
      "type":"inject",
      "z":"5c635d35.8ccf14",
      "name":"",
      "topic":"",
      "payload":"time",
      "payloadType":"global",
      "repeat":"1",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":290,
      "y":280,
      "wires":[
         [
            "73636574.2f262c"
         ]
      ]
   },
   {
      "id":"49403faf.9902",
      "type":"ui_text_input",
      "z":"5c635d35.8ccf14",
      "name":"",
      "label":"Hora de Ligar Sensor 1",
      "tooltip":"",
      "group":"8efe866f.191ab8",
      "order":1,
      "width":0,
      "height":0,
      "passthru":true,
      "mode":"text",
      "delay":300,
      "topic":"",
      "x":310,
      "y":340,
      "wires":[
         [
            "bd714208.46782"
         ]
      ]
   },
   {
      "id":"c8528e3f.41ab6",
      "type":"firebase modify",
      "z":"5c635d35.8ccf14",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/input11Hora",
      "method":"set",
      "value":"msg.payload",
      "priority":"msg.priority",
      "x":900,
      "y":340,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"49277591.21e1fc",
      "type":"ui_text_input",
      "z":"5c635d35.8ccf14",
      "name":"",
      "label":"Hora de Desligar Sensor 1",
      "tooltip":"",
      "group":"9e4d8637.79c598",
      "order":1,
      "width":0,
      "height":0,
      "passthru":true,
      "mode":"text",
      "delay":300,
      "topic":"",
      "x":320,
      "y":460,
      "wires":[
         [
            "90957bea.c5c9f8"
         ]
      ]
   },
   {
      "id":"840eae0b.721b6",
      "type":"firebase modify",
      "z":"5c635d35.8ccf14",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/input21Hora",
      "method":"set",
      "value":"msg.payload",
      "priority":"msg.priority",
      "x":900,
      "y":460,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"89d3328a.6b4c1",
      "type":"inject",
      "z":"5c635d35.8ccf14",
      "name":"",
      "topic":"",
      "payload":"",
      "payloadType":"num",
      "repeat":"1",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":270,
      "y":800,
      "wires":[
         [
            "a01eb55b.e63f68",
            "e57029f1.b20918"
         ]
      ]
   },
   {
      "id":"a01eb55b.e63f68",
      "type":"function",
      "z":"5c635d35.8ccf14",
      "name":"Executa Ligar e Desligar",
      "func":"var input1 = global.get(\"input11Hora\").payload;\nvar input2 = global.get(\"input21Hora\").payload;\nvar dateNowFlow3 = global.get(\"dateNowFlow3\");\nvar timeAsStringFlow3 = global.get(\"timeAsStringFlow3\");\n\nvar splitAux1 = input1.toString().split(':');\nvar splitAux2 = input2.toString().split(':');\nvar date1;\nif(splitAux1[0].substring(1,1)==\"0\")\n    date1 = new Date(null, null, null, splitAux1[0].substring(2,splitAux1[0].length-1), splitAux1[1]);\nelse\n    date1 = new Date(null, null, null, splitAux1[0], splitAux1[1]);\nvar date2;\nif(splitAux2[0].substring(1,1)==\"0\")\n    date2 = new Date(null, null, null, splitAux2[0].substring(2,splitAux2[0].length), splitAux2[1]);\nelse\n    date2 = new Date(null, null, null, splitAux2[0], splitAux2[1]);\nvar date = new Date(null, null, null, dateNowFlow3.getHours(), dateNowFlow3.getMinutes());\n\nmsg.payload =  global.get(\"chave1Flow1\").payload;\nmsg.color = \"white\";\n\nif(global.get(\"input11HoraErro\") != global.get(\"input11Hora\").payload)\nif( global.get(\"erroInput11Hora\") != undefined){\n        if(global.get(\"erroInput11Hora\") == 1){\n            msg.payload = \"Erro no formato do input Hora 1 (HH:mm).\";\n            msg.color = \"red\";\n        }\n        else if(global.get(\"erroInput11Hora\") == 2 || date1.getTime() >= date2.getTime()){\n            msg.payload = \"Hora 2 deve ser uma hora futura à hora 1.\";\n            msg.color = \"red\";\n        }\n}\nif(global.get(\"input21HoraErro\") != global.get(\"input21Hora\").payload)\nif( global.get(\"erroInput21Hora\") != undefined){\n        if(global.get(\"erroInput21Hora\") == 1){\n            msg.payload = \"Erro no formato do input Hora 2 (HH:mm).\";\n            msg.color = \"red\";\n        }\n        else if(global.get(\"erroInput21Hora\") == 2 || date1.getTime() >= date2.getTime()){\n            msg.payload = \"Hora 2 deve ser uma hora futura à hora 1.\";\n            msg.color = \"red\"; \n        }\n}\nif( global.get(\"erroInput11Hora\") != undefined && global.get(\"erroInput21Hora\") != undefined)\nif(global.get(\"limparRegra11\") != undefined){\n    if(global.get(\"limparRegra11\").payload == \"false\" || global.get(\"limparRegra11\").payload == false){\n        if(global.get(\"input11HoraErro\") == global.get(\"input11Hora\").payload && global.get(\"input21HoraErro\") == global.get(\"input21Hora\").payload){\n            if(date.getTime() >= date1.getTime()){\n                msg.payload = \"LIGADO\";\n                global.set(\"chave1Flow1\",msg);\n                msg.color = \"white\";\n            }\n            if(date.getTime() >= date2.getTime()){\n                msg.payload = \"DESLIGADO\";\n                global.set(\"chave1Flow1\",msg);\n                msg.color = \"white\";\n            }\n        }\n    }\n}\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":530,
      "y":800,
      "wires":[
         [
            "8779304c.42a68"
         ]
      ]
   },
   {
      "id":"90957bea.c5c9f8",
      "type":"function",
      "z":"5c635d35.8ccf14",
      "name":"Trata Entrada",
      "func":"let re = /^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/;\nlet str = msg.payload;\nlet result = str.match(re);\n\nglobal.set(\"input21HoraErro\",msg.payload);\n\nif(result == null){\n    msg.payload = global.get(\"input21Hora\").payload;\n    global.set(\"erroInput21Hora\",1);\n    return msg;\n}\n\nvar input1 = global.get(\"input11Hora\").payload;\nvar input2 = global.get(\"input21Hora\").payload;\nvar splitAux1 = input1.toString().split(':');\nvar splitAux2 = result[0].toString().split(':');\nif(splitAux1[0].substring(1,1)==\"0\")\n    var date1 = new Date(null, null, null, splitAux1[0].substring(2,splitAux1[0].length-1), splitAux1[1]);\nelse\n    var date1 = new Date(null, null, null, splitAux1[0], splitAux1[1]);\n\nif(splitAux2[0].substring(1,1)==\"0\")\n    var date2 = new Date(null, null, null, splitAux2[0].substring(2,splitAux2[0].length), splitAux2[1]);\nelse\n    var date2 = new Date(null, null, null, splitAux2[0], splitAux2[1]);\n\nif(result != null){\n    if(date1.getTime() >= date2.getTime()){\n        msg.payload = global.get(\"input21Hora\").payload;\n        global.set(\"erroInput11Hora\",2);\n        global.set(\"erroInput21Hora\",2);\n    }\n    else{\n        msg.payload = result[0];\n        global.set(\"erroInput21Hora\",0);\n        if(global.get(\"input11HoraErro\") == global.get(\"input11Hora\").payload)\n            if(global.get(\"erroInput11Hora\") == 2)\n                global.set(\"erroInput11Hora\",0);\n    }\n}\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "x":560,
      "y":460,
      "wires":[
         [
            "840eae0b.721b6",
            "df9cb2f4.5f263"
         ]
      ]
   },
   {
      "id":"bbe1c4ac.71adb8",
      "type":"firebase.on",
      "z":"5c635d35.8ccf14",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/input11Hora",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":410,
      "y":520,
      "wires":[
         [
            "9f716691.b51d18"
         ]
      ]
   },
   {
      "id":"6c3a8e8f.300e2",
      "type":"firebase.on",
      "z":"5c635d35.8ccf14",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/input21Hora",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":410,
      "y":600,
      "wires":[
         [
            "63a23922.6faf38"
         ]
      ]
   },
   {
      "id":"9f716691.b51d18",
      "type":"function",
      "z":"5c635d35.8ccf14",
      "name":"Lê e atribui em variável",
      "func":"global.set(\"input11Hora\",msg)\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":790,
      "y":520,
      "wires":[
         [
            "8bb193c6.c64f3",
            "49403faf.9902"
         ]
      ]
   },
   {
      "id":"63a23922.6faf38",
      "type":"function",
      "z":"5c635d35.8ccf14",
      "name":"Lê e atribui em variável",
      "func":"global.set(\"input21Hora\",msg)\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":810,
      "y":600,
      "wires":[
         [
            "6f52eac7.c54b24",
            "49277591.21e1fc"
         ]
      ]
   },
   {
      "id":"4d7df964.103348",
      "type":"ui_button",
      "z":"5c635d35.8ccf14",
      "name":"",
      "group":"3812b007.4fd35",
      "order":1,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"Desativar Regra 1",
      "tooltip":"",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"true",
      "payloadType":"bool",
      "topic":"",
      "x":290,
      "y":680,
      "wires":[
         [
            "efe19782.8c9fd8"
         ]
      ]
   },
   {
      "id":"efe19782.8c9fd8",
      "type":"function",
      "z":"5c635d35.8ccf14",
      "name":"Manda 1",
      "func":"if(global.get(\"limparRegra11\",msg) != undefined){\n    var limparRegra1 = global.get(\"limparRegra11\",msg).payload;\n    if(limparRegra1 == 1){\n            msg.payload = \"false\";\n            global.set(\"limparRegra11\",msg);\n    }\n    else{\n        msg.payload = \"true\";\n        global.set(\"limparRegra11\",msg);\n    }\n}\nelse{\n    msg.payload = \"true\";\n    global.set(\"limparRegra11\",msg);\n}\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":540,
      "y":680,
      "wires":[
         [
            "ff2dcb79.6cda08"
         ]
      ]
   },
   {
      "id":"8779304c.42a68",
      "type":"ui_text",
      "z":"5c635d35.8ccf14",
      "group":"b4dc653e.028468",
      "order":1,
      "width":0,
      "height":0,
      "name":"",
      "label":"Sensor1",
      "format":"<font color= {{msg.color}} > {{msg.payload}} </font>",
      "layout":"row-spread",
      "x":780,
      "y":800,
      "wires":[

      ]
   },
   {
      "id":"8bb193c6.c64f3",
      "type":"ui_text",
      "z":"5c635d35.8ccf14",
      "group":"8efe866f.191ab8",
      "order":2,
      "width":0,
      "height":0,
      "name":"",
      "label":"Hora 1",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":1000,
      "y":520,
      "wires":[

      ]
   },
   {
      "id":"6f52eac7.c54b24",
      "type":"ui_text",
      "z":"5c635d35.8ccf14",
      "group":"9e4d8637.79c598",
      "order":2,
      "width":0,
      "height":0,
      "name":"",
      "label":"Hora 2",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":1020,
      "y":600,
      "wires":[

      ]
   },
   {
      "id":"2cc90391.2748ec",
      "type":"ui_text",
      "z":"5c635d35.8ccf14",
      "group":"3812b007.4fd35",
      "order":2,
      "width":0,
      "height":0,
      "name":"",
      "label":"Desativar Regra 1",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":750,
      "y":740,
      "wires":[

      ]
   },
   {
      "id":"ff2dcb79.6cda08",
      "type":"firebase modify",
      "z":"5c635d35.8ccf14",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/regraSensor11",
      "method":"set",
      "value":"msg.payload",
      "priority":"msg.priority",
      "x":850,
      "y":680,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"eb81da70.df74c8",
      "type":"firebase.on",
      "z":"5c635d35.8ccf14",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/regraSensor11",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":400,
      "y":740,
      "wires":[
         [
            "2cc90391.2748ec"
         ]
      ]
   },
   {
      "id":"f63a41c5.367b",
      "type":"ui_text",
      "z":"5c635d35.8ccf14",
      "group":"b4dc653e.028468",
      "order":2,
      "width":0,
      "height":0,
      "name":"",
      "label":"Sensor1",
      "format":"<font color= {{msg.color}} > {{msg.payload}} </font>",
      "layout":"row-spread",
      "x":780,
      "y":860,
      "wires":[

      ]
   },
   {
      "id":"e57029f1.b20918",
      "type":"function",
      "z":"5c635d35.8ccf14",
      "name":"",
      "func":"msg.payload = global.get(\"chave1Flow1\").payload;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":500,
      "y":860,
      "wires":[
         [
            "f63a41c5.367b"
         ]
      ]
   },
   {
      "id":"df9cb2f4.5f263",
      "type":"function",
      "z":"5c635d35.8ccf14",
      "name":"",
      "func":"if(global.get(\"input11HoraErro\") != global.get(\"input11Hora\").payload)\n    msg.payload = global.get(\"input11HoraErro\");\nelse\n    msg.payload = global.get(\"input11Hora\").payload;\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":610,
      "y":400,
      "wires":[
         [
            "bd714208.46782"
         ]
      ]
   },
   {
      "id":"bd714208.46782",
      "type":"function",
      "z":"5c635d35.8ccf14",
      "name":"Trata Entrada",
      "func":"let re = /^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/;\nlet str = msg.payload;\nlet result = str.match(re);\n\nglobal.set(\"input11HoraErro\",msg.payload);\n\nif(result == null){\n    msg.payload = global.get(\"input11Hora\").payload;\n    global.set(\"erroInput11Hora\",1);\n    return msg;\n}\n\nvar input1 = global.get(\"input11Hora\").payload;\nvar input2 = global.get(\"input21Hora\").payload;\nvar splitAux1 = result[0].toString().split(':');\nvar splitAux2 = input2.toString().split(':');\nif(splitAux1[0].substring(1,1)==\"0\")\n    var date1 = new Date(null, null, null, splitAux1[0].substring(2,splitAux1[0].length-1), splitAux1[1]);\nelse\n    var date1 = new Date(null, null, null, splitAux1[0], splitAux1[1]);\n\nif(splitAux2[0].substring(1,1)==\"0\")\n    var date2 = new Date(null, null, null, splitAux2[0].substring(2,splitAux2[0].length), splitAux2[1]);\nelse\n    var date2 = new Date(null, null, null, splitAux2[0], splitAux2[1]);\n\nif(result != null){\n    if(date1.getTime() >= date2.getTime()){\n        msg.payload = global.get(\"input11Hora\").payload;\n        global.set(\"erroInput11Hora\",2);\n        global.set(\"erroInput21Hora\",2);\n    }\n    else{\n        if(global.get(\"input11HoraErro\") == global.get(\"input11Hora\").payload)\n        {\n            global.set(\"erroInput11Hora\",0);\n            msg.payload = result[0];\n            if(global.get(\"Input21Hora\") != undefined && global.get(\"input21HoraErro\") != undefined){\n                if(global.get(\"Input21Hora\").payload == global.get(\"input21HoraErro\")){\n                    if(global.get(\"erroInput21Hora\") == 2){\n                        global.set(\"erroInput21Hora\",0);\n                    }\n                }\n            }\n        }\n    }\n}\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "x":560,
      "y":340,
      "wires":[
         [
            "c8528e3f.41ab6"
         ]
      ]
   },
   {
      "id":"7b184b90.fd55c4",
      "type":"ui_text_input",
      "z":"5c635d35.8ccf14",
      "name":"",
      "label":"Hora de Ligar Sensor 2",
      "tooltip":"",
      "group":"8efe866f.191ab8",
      "order":3,
      "width":0,
      "height":0,
      "passthru":true,
      "mode":"text",
      "delay":300,
      "topic":"",
      "x":290,
      "y":960,
      "wires":[
         [
            "a928e80e.016af8"
         ]
      ]
   },
   {
      "id":"67af92cf.b5d6fc",
      "type":"firebase modify",
      "z":"5c635d35.8ccf14",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/input12Hora",
      "method":"set",
      "value":"msg.payload",
      "priority":"msg.priority",
      "x":880,
      "y":960,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"3330165f.dc526a",
      "type":"ui_text_input",
      "z":"5c635d35.8ccf14",
      "name":"",
      "label":"Hora de Desligar Sensor 2",
      "tooltip":"",
      "group":"9e4d8637.79c598",
      "order":3,
      "width":0,
      "height":0,
      "passthru":true,
      "mode":"text",
      "delay":300,
      "topic":"",
      "x":300,
      "y":1080,
      "wires":[
         [
            "78ca85a5.ea3adc"
         ]
      ]
   },
   {
      "id":"3e231ad6.3b44e6",
      "type":"firebase modify",
      "z":"5c635d35.8ccf14",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/input22Hora",
      "method":"set",
      "value":"msg.payload",
      "priority":"msg.priority",
      "x":880,
      "y":1080,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"8b115f0c.7998a",
      "type":"inject",
      "z":"5c635d35.8ccf14",
      "name":"",
      "topic":"",
      "payload":"",
      "payloadType":"num",
      "repeat":"1",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":250,
      "y":1420,
      "wires":[
         [
            "216a0d29.8eba82",
            "2ee6fc94.a0bdd4"
         ]
      ]
   },
   {
      "id":"216a0d29.8eba82",
      "type":"function",
      "z":"5c635d35.8ccf14",
      "name":"Executa Ligar e Desligar",
      "func":"var input1 = global.get(\"input12Hora\").payload;\nvar input2 = global.get(\"input22Hora\").payload;\nvar dateNowFlow3 = global.get(\"dateNowFlow3\");\nvar timeAsStringFlow3 = global.get(\"timeAsStringFlow3\");\n\nvar splitAux1 = input1.toString().split(':');\nvar splitAux2 = input2.toString().split(':');\nvar date1;\nif(splitAux1[0].substring(1,1)==\"0\")\n    date1 = new Date(null, null, null, splitAux1[0].substring(2,splitAux1[0].length-1), splitAux1[1]);\nelse\n    date1 = new Date(null, null, null, splitAux1[0], splitAux1[1]);\nvar date2;\nif(splitAux2[0].substring(1,1)==\"0\")\n    date2 = new Date(null, null, null, splitAux2[0].substring(2,splitAux2[0].length), splitAux2[1]);\nelse\n    date2 = new Date(null, null, null, splitAux2[0], splitAux2[1]);\nvar date = new Date(null, null, null, dateNowFlow3.getHours(), dateNowFlow3.getMinutes());\n\nmsg.payload =  global.get(\"chave2Flow1\").payload;\nmsg.color = \"white\";\n\nif(global.get(\"input12HoraErro\") != global.get(\"input12Hora\").payload)\nif( global.get(\"erroInput12Hora\") != undefined){\n        if(global.get(\"erroInput12Hora\") == 1){\n            msg.payload = \"Erro no formato do input Hora 1 (HH:mm).\";\n            msg.color = \"red\";\n        }\n        else if(global.get(\"erroInput12Hora\") == 2 || date1.getTime() >= date2.getTime()){\n            msg.payload = \"Hora 2 deve ser uma hora futura à hora 1.\";\n            msg.color = \"red\";\n        }\n}\nif(global.get(\"input22HoraErro\") != global.get(\"input22Hora\").payload)\nif( global.get(\"erroInput22Hora\") != undefined){\n        if(global.get(\"erroInput22Hora\") == 1){\n            msg.payload = \"Erro no formato do input Hora 2 (HH:mm).\";\n            msg.color = \"red\";\n        }\n        else if(global.get(\"erroInput22Hora\") == 2 || date1.getTime() >= date2.getTime()){\n            msg.payload = \"Hora 2 deve ser uma hora futura à hora 1.\";\n            msg.color = \"red\"; \n        }\n}\nif( global.get(\"erroInput12Hora\") != undefined && global.get(\"erroInput22Hora\") != undefined)\nif(global.get(\"limparRegra12\") != undefined){\n    if(global.get(\"limparRegra12\").payload == \"false\" || global.get(\"limparRegra12\").payload == false){\n        if(global.get(\"input12HoraErro\") == global.get(\"input12Hora\").payload && global.get(\"input22HoraErro\") == global.get(\"input22Hora\").payload){\n            if(date.getTime() >= date1.getTime()){\n                msg.payload = \"LIGADO\";\n                global.set(\"chave2Flow1\",msg);\n                msg.color = \"white\";\n            }\n            if(date.getTime() >= date2.getTime()){\n                msg.payload = \"DESLIGADO\";\n                global.set(\"chave2Flow1\",msg);\n                msg.color = \"white\";\n            }\n        }\n    }\n}\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":510,
      "y":1420,
      "wires":[
         [
            "23670366.d22ecc"
         ]
      ]
   },
   {
      "id":"78ca85a5.ea3adc",
      "type":"function",
      "z":"5c635d35.8ccf14",
      "name":"Trata Entrada",
      "func":"let re = /^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/;\nlet str = msg.payload;\nlet result = str.match(re);\n\nglobal.set(\"input22HoraErro\",msg.payload);\n\nif(result == null){\n    msg.payload = global.get(\"input22Hora\").payload;\n    global.set(\"erroInput22Hora\",1);\n    return msg;\n}\n\nvar input1 = global.get(\"input12Hora\").payload;\nvar input2 = global.get(\"input22Hora\").payload;\nvar splitAux1 = input1.toString().split(':');\nvar splitAux2 = result[0].toString().split(':');\nif(splitAux1[0].substring(1,1)==\"0\")\n    var date1 = new Date(null, null, null, splitAux1[0].substring(2,splitAux1[0].length-1), splitAux1[1]);\nelse\n    var date1 = new Date(null, null, null, splitAux1[0], splitAux1[1]);\n\nif(splitAux2[0].substring(1,1)==\"0\")\n    var date2 = new Date(null, null, null, splitAux2[0].substring(2,splitAux2[0].length), splitAux2[1]);\nelse\n    var date2 = new Date(null, null, null, splitAux2[0], splitAux2[1]);\n\nif(result != null){\n    if(date1.getTime() >= date2.getTime()){\n        msg.payload = global.get(\"input22Hora\").payload;\n        global.set(\"erroInput12Hora\",2);\n        global.set(\"erroInput22Hora\",2);\n    }\n    else{\n        msg.payload = result[0];\n        global.set(\"erroInput22Hora\",0);\n        if(global.get(\"input12HoraErro\") == global.get(\"input12Hora\").payload)\n            if(global.get(\"erroInput12Hora\") == 2)\n                global.set(\"erroInput12Hora\",0);\n    }\n}\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "x":540,
      "y":1080,
      "wires":[
         [
            "3e231ad6.3b44e6",
            "811b0ab1.e4f078"
         ]
      ]
   },
   {
      "id":"2b5f34e6.d3c20c",
      "type":"firebase.on",
      "z":"5c635d35.8ccf14",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/input12Hora",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":390,
      "y":1140,
      "wires":[
         [
            "43b12c5a.2394d4"
         ]
      ]
   },
   {
      "id":"445d8c30.4bcbc4",
      "type":"firebase.on",
      "z":"5c635d35.8ccf14",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/input22Hora",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":390,
      "y":1220,
      "wires":[
         [
            "d52595a5.bd46c8"
         ]
      ]
   },
   {
      "id":"43b12c5a.2394d4",
      "type":"function",
      "z":"5c635d35.8ccf14",
      "name":"Lê e atribui em variável",
      "func":"global.set(\"input12Hora\",msg)\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":770,
      "y":1140,
      "wires":[
         [
            "7b184b90.fd55c4",
            "34f945d2.653f0a"
         ]
      ]
   },
   {
      "id":"d52595a5.bd46c8",
      "type":"function",
      "z":"5c635d35.8ccf14",
      "name":"Lê e atribui em variável",
      "func":"global.set(\"input22Hora\",msg)\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":790,
      "y":1220,
      "wires":[
         [
            "5e216e94.20265",
            "3330165f.dc526a"
         ]
      ]
   },
   {
      "id":"6eceb5f1.45c02c",
      "type":"ui_button",
      "z":"5c635d35.8ccf14",
      "name":"",
      "group":"3812b007.4fd35",
      "order":3,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"Desativar Regra 2",
      "tooltip":"",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"true",
      "payloadType":"bool",
      "topic":"",
      "x":270,
      "y":1300,
      "wires":[
         [
            "ff533489.713f28"
         ]
      ]
   },
   {
      "id":"ff533489.713f28",
      "type":"function",
      "z":"5c635d35.8ccf14",
      "name":"Manda 1",
      "func":"if(global.get(\"limparRegra12\",msg) != undefined){\n    var limparRegra1 = global.get(\"limparRegra12\",msg).payload;\n    if(limparRegra1 == 1){\n            msg.payload = \"false\";\n            global.set(\"limparRegra12\",msg);\n    }\n    else{\n        msg.payload = \"true\";\n        global.set(\"limparRegra12\",msg);\n    }\n}\nelse{\n    msg.payload = \"true\";\n    global.set(\"limparRegra12\",msg);\n}\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":520,
      "y":1300,
      "wires":[
         [
            "fbe7fde7.20c25"
         ]
      ]
   },
   {
      "id":"23670366.d22ecc",
      "type":"ui_text",
      "z":"5c635d35.8ccf14",
      "group":"b4dc653e.028468",
      "order":3,
      "width":0,
      "height":0,
      "name":"",
      "label":"Sensor2",
      "format":"<font color= {{msg.color}} > {{msg.payload}} </font>",
      "layout":"row-spread",
      "x":760,
      "y":1420,
      "wires":[

      ]
   },
   {
      "id":"34f945d2.653f0a",
      "type":"ui_text",
      "z":"5c635d35.8ccf14",
      "group":"8efe866f.191ab8",
      "order":4,
      "width":0,
      "height":0,
      "name":"",
      "label":"Hora 1",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":1010,
      "y":1140,
      "wires":[

      ]
   },
   {
      "id":"5e216e94.20265",
      "type":"ui_text",
      "z":"5c635d35.8ccf14",
      "group":"9e4d8637.79c598",
      "order":4,
      "width":0,
      "height":0,
      "name":"",
      "label":"Hora 2",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":1010,
      "y":1220,
      "wires":[

      ]
   },
   {
      "id":"5648c279.cb6fbc",
      "type":"ui_text",
      "z":"5c635d35.8ccf14",
      "group":"3812b007.4fd35",
      "order":4,
      "width":0,
      "height":0,
      "name":"",
      "label":"Desativar Regra 2",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":730,
      "y":1360,
      "wires":[

      ]
   },
   {
      "id":"fbe7fde7.20c25",
      "type":"firebase modify",
      "z":"5c635d35.8ccf14",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/regraSensor12",
      "method":"set",
      "value":"msg.payload",
      "priority":"msg.priority",
      "x":830,
      "y":1300,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"904f827c.31869",
      "type":"firebase.on",
      "z":"5c635d35.8ccf14",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/regraSensor12",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":380,
      "y":1360,
      "wires":[
         [
            "5648c279.cb6fbc"
         ]
      ]
   },
   {
      "id":"f74e9f39.d65c",
      "type":"ui_text",
      "z":"5c635d35.8ccf14",
      "group":"b4dc653e.028468",
      "order":4,
      "width":0,
      "height":0,
      "name":"",
      "label":"Sensor2",
      "format":"<font color= {{msg.color}} > {{msg.payload}} </font>",
      "layout":"row-spread",
      "x":760,
      "y":1480,
      "wires":[

      ]
   },
   {
      "id":"2ee6fc94.a0bdd4",
      "type":"function",
      "z":"5c635d35.8ccf14",
      "name":"",
      "func":"msg.payload = global.get(\"chave2Flow1\").payload;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":480,
      "y":1480,
      "wires":[
         [
            "f74e9f39.d65c"
         ]
      ]
   },
   {
      "id":"811b0ab1.e4f078",
      "type":"function",
      "z":"5c635d35.8ccf14",
      "name":"",
      "func":"if(global.get(\"input12HoraErro\") != global.get(\"input12Hora\").payload)\n    msg.payload = global.get(\"input12HoraErro\");\nelse\n    msg.payload = global.get(\"input12Hora\").payload;\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":550,
      "y":1020,
      "wires":[
         [
            "a928e80e.016af8"
         ]
      ]
   },
   {
      "id":"a928e80e.016af8",
      "type":"function",
      "z":"5c635d35.8ccf14",
      "name":"Trata Entrada",
      "func":"let re = /^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/;\nlet str = msg.payload;\nlet result = str.match(re);\n\nglobal.set(\"input12HoraErro\",msg.payload);\n\nif(result == null){\n    msg.payload = global.get(\"input12Hora\").payload;\n    global.set(\"erroInput12Hora\",1);\n    return msg;\n}\n\nvar input1 = global.get(\"input12Hora\").payload;\nvar input2 = global.get(\"input22Hora\").payload;\nvar splitAux1 = result[0].toString().split(':');\nvar splitAux2 = input2.toString().split(':');\nif(splitAux1[0].substring(1,1)==\"0\")\n    var date1 = new Date(null, null, null, splitAux1[0].substring(2,splitAux1[0].length-1), splitAux1[1]);\nelse\n    var date1 = new Date(null, null, null, splitAux1[0], splitAux1[1]);\n\nif(splitAux2[0].substring(1,1)==\"0\")\n    var date2 = new Date(null, null, null, splitAux2[0].substring(2,splitAux2[0].length), splitAux2[1]);\nelse\n    var date2 = new Date(null, null, null, splitAux2[0], splitAux2[1]);\n\nif(result != null){\n    if(date1.getTime() >= date2.getTime()){\n        msg.payload = global.get(\"input12Hora\").payload;\n        global.set(\"erroInput12Hora\",2);\n        global.set(\"erroInput22Hora\",2);\n    }\n    else{\n        if(global.get(\"input12HoraErro\") == global.get(\"input12Hora\").payload)\n        {\n            global.set(\"erroInput12Hora\",0);\n            msg.payload = result[0];\n            if(global.get(\"Input22Hora\") != undefined && global.get(\"input22HoraErro\") != undefined){\n                if(global.get(\"Input22Hora\").payload == global.get(\"input22HoraErro\")){\n                    if(global.get(\"erroInput22Hora\") == 2){\n                        global.set(\"erroInput22Hora\",0);\n                    }\n                }\n            }\n        }\n    }\n}\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "x":540,
      "y":960,
      "wires":[
         [
            "67af92cf.b5d6fc"
         ]
      ]
   },
   {
      "id":"1a4c8465.e4994c",
      "type":"ui_text_input",
      "z":"5c635d35.8ccf14",
      "name":"",
      "label":"Hora de Ligar Sensor 3",
      "tooltip":"",
      "group":"8efe866f.191ab8",
      "order":5,
      "width":0,
      "height":0,
      "passthru":true,
      "mode":"text",
      "delay":300,
      "topic":"",
      "x":270,
      "y":1580,
      "wires":[
         [
            "514f34be.58bfdc"
         ]
      ]
   },
   {
      "id":"8666ffa7.09055",
      "type":"firebase modify",
      "z":"5c635d35.8ccf14",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/input13Hora",
      "method":"set",
      "value":"msg.payload",
      "priority":"msg.priority",
      "x":860,
      "y":1580,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"699ab15f.7a33a",
      "type":"ui_text_input",
      "z":"5c635d35.8ccf14",
      "name":"",
      "label":"Hora de Desligar Sensor 3",
      "tooltip":"",
      "group":"9e4d8637.79c598",
      "order":5,
      "width":0,
      "height":0,
      "passthru":true,
      "mode":"text",
      "delay":300,
      "topic":"",
      "x":280,
      "y":1700,
      "wires":[
         [
            "4eb7ab3.f148854"
         ]
      ]
   },
   {
      "id":"75f77934.a088d8",
      "type":"firebase modify",
      "z":"5c635d35.8ccf14",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/input23Hora",
      "method":"set",
      "value":"msg.payload",
      "priority":"msg.priority",
      "x":860,
      "y":1700,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"1f5e39.e51191c7",
      "type":"inject",
      "z":"5c635d35.8ccf14",
      "name":"",
      "topic":"",
      "payload":"",
      "payloadType":"num",
      "repeat":"1",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":230,
      "y":2040,
      "wires":[
         [
            "5d8f1051.708c4",
            "dbf4c74e.2c0c98"
         ]
      ]
   },
   {
      "id":"5d8f1051.708c4",
      "type":"function",
      "z":"5c635d35.8ccf14",
      "name":"Executa Ligar e Desligar",
      "func":"var input1 = global.get(\"input13Hora\").payload;\nvar input2 = global.get(\"input23Hora\").payload;\nvar dateNowFlow3 = global.get(\"dateNowFlow3\");\nvar timeAsStringFlow3 = global.get(\"timeAsStringFlow3\");\n\nvar splitAux1 = input1.toString().split(':');\nvar splitAux2 = input2.toString().split(':');\nvar date1;\nif(splitAux1[0].substring(1,1)==\"0\")\n    date1 = new Date(null, null, null, splitAux1[0].substring(2,splitAux1[0].length-1), splitAux1[1]);\nelse\n    date1 = new Date(null, null, null, splitAux1[0], splitAux1[1]);\nvar date2;\nif(splitAux2[0].substring(1,1)==\"0\")\n    date2 = new Date(null, null, null, splitAux2[0].substring(2,splitAux2[0].length), splitAux2[1]);\nelse\n    date2 = new Date(null, null, null, splitAux2[0], splitAux2[1]);\nvar date = new Date(null, null, null, dateNowFlow3.getHours(), dateNowFlow3.getMinutes());\n\nmsg.payload =  global.get(\"chave3Flow1\").payload;\nmsg.color = \"white\";\n\nif(global.get(\"input13HoraErro\") != global.get(\"input13Hora\").payload)\nif( global.get(\"erroInput13Hora\") != undefined){\n        if(global.get(\"erroInput13Hora\") == 1){\n            msg.payload = \"Erro no formato do input Hora 1 (HH:mm).\";\n            msg.color = \"red\";\n        }\n        else if(global.get(\"erroInput13Hora\") == 2 || date1.getTime() >= date2.getTime()){\n            msg.payload = \"Hora 2 deve ser uma hora futura à hora 1.\";\n            msg.color = \"red\";\n        }\n}\nif(global.get(\"input23HoraErro\") != global.get(\"input23Hora\").payload)\nif( global.get(\"erroInput23Hora\") != undefined){\n        if(global.get(\"erroInput23Hora\") == 1){\n            msg.payload = \"Erro no formato do input Hora 2 (HH:mm).\";\n            msg.color = \"red\";\n        }\n        else if(global.get(\"erroInput23Hora\") == 2 || date1.getTime() >= date2.getTime()){\n            msg.payload = \"Hora 2 deve ser uma hora futura à hora 1.\";\n            msg.color = \"red\"; \n        }\n}\nif( global.get(\"erroInput13Hora\") != undefined && global.get(\"erroInput23Hora\") != undefined)\nif(global.get(\"limparRegra13\") != undefined){\n    if(global.get(\"limparRegra13\").payload == \"false\" || global.get(\"limparRegra13\").payload == false){\n        if(global.get(\"input13HoraErro\") == global.get(\"input13Hora\").payload && global.get(\"input23HoraErro\") == global.get(\"input23Hora\").payload){\n            if(date.getTime() >= date1.getTime()){\n                msg.payload = \"LIGADO\";\n                global.set(\"chave3Flow1\",msg);\n                msg.color = \"white\";\n            }\n            if(date.getTime() >= date2.getTime()){\n                msg.payload = \"DESLIGADO\";\n                global.set(\"chave3Flow1\",msg);\n                msg.color = \"white\";\n            }\n        }\n    }\n}\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":490,
      "y":2040,
      "wires":[
         [
            "21166ee7.76ba82"
         ]
      ]
   },
   {
      "id":"4eb7ab3.f148854",
      "type":"function",
      "z":"5c635d35.8ccf14",
      "name":"Trata Entrada",
      "func":"let re = /^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/;\nlet str = msg.payload;\nlet result = str.match(re);\n\nglobal.set(\"input23HoraErro\",msg.payload);\n\nif(result == null){\n    msg.payload = global.get(\"input23Hora\").payload;\n    global.set(\"erroInput23Hora\",1);\n    return msg;\n}\n\nvar input1 = global.get(\"input13Hora\").payload;\nvar input2 = global.get(\"input23Hora\").payload;\nvar splitAux1 = input1.toString().split(':');\nvar splitAux2 = result[0].toString().split(':');\nif(splitAux1[0].substring(1,1)==\"0\")\n    var date1 = new Date(null, null, null, splitAux1[0].substring(2,splitAux1[0].length-1), splitAux1[1]);\nelse\n    var date1 = new Date(null, null, null, splitAux1[0], splitAux1[1]);\n\nif(splitAux2[0].substring(1,1)==\"0\")\n    var date2 = new Date(null, null, null, splitAux2[0].substring(2,splitAux2[0].length), splitAux2[1]);\nelse\n    var date2 = new Date(null, null, null, splitAux2[0], splitAux2[1]);\n\nif(result != null){\n    if(date1.getTime() >= date2.getTime()){\n        msg.payload = global.get(\"input23Hora\").payload;\n        global.set(\"erroInput13Hora\",2);\n        global.set(\"erroInput23Hora\",2);\n    }\n    else{\n        msg.payload = result[0];\n        global.set(\"erroInput23Hora\",0);\n        if(global.get(\"input13HoraErro\") == global.get(\"input13Hora\").payload)\n            if(global.get(\"erroInput13Hora\") == 2)\n                global.set(\"erroInput13Hora\",0);\n    }\n}\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "x":520,
      "y":1700,
      "wires":[
         [
            "75f77934.a088d8",
            "d46ef388.23bb7"
         ]
      ]
   },
   {
      "id":"283deae3.8b1b76",
      "type":"firebase.on",
      "z":"5c635d35.8ccf14",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/input13Hora",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":370,
      "y":1760,
      "wires":[
         [
            "270da1df.a6cfae"
         ]
      ]
   },
   {
      "id":"e056c199.20389",
      "type":"firebase.on",
      "z":"5c635d35.8ccf14",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/input23Hora",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":370,
      "y":1840,
      "wires":[
         [
            "daeba63b.866008"
         ]
      ]
   },
   {
      "id":"270da1df.a6cfae",
      "type":"function",
      "z":"5c635d35.8ccf14",
      "name":"Lê e atribui em variável",
      "func":"global.set(\"input13Hora\",msg)\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":750,
      "y":1760,
      "wires":[
         [
            "9f1200bf.014cc",
            "1a4c8465.e4994c"
         ]
      ]
   },
   {
      "id":"daeba63b.866008",
      "type":"function",
      "z":"5c635d35.8ccf14",
      "name":"Lê e atribui em variável",
      "func":"global.set(\"input23Hora\",msg)\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":770,
      "y":1840,
      "wires":[
         [
            "699ab15f.7a33a",
            "3830290d.3000b6"
         ]
      ]
   },
   {
      "id":"b3098e9e.2ce5e",
      "type":"ui_button",
      "z":"5c635d35.8ccf14",
      "name":"",
      "group":"3812b007.4fd35",
      "order":5,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"Desativar Regra 3",
      "tooltip":"",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"true",
      "payloadType":"bool",
      "topic":"",
      "x":250,
      "y":1920,
      "wires":[
         [
            "e1542111.8b26b"
         ]
      ]
   },
   {
      "id":"e1542111.8b26b",
      "type":"function",
      "z":"5c635d35.8ccf14",
      "name":"Manda 1",
      "func":"if(global.get(\"limparRegra13\",msg) != undefined){\n    var limparRegra1 = global.get(\"limparRegra13\",msg).payload;\n    if(limparRegra1 == 1){\n            msg.payload = \"false\";\n            global.set(\"limparRegra13\",msg);\n    }\n    else{\n        msg.payload = \"true\";\n        global.set(\"limparRegra13\",msg);\n    }\n}\nelse{\n    msg.payload = \"true\";\n    global.set(\"limparRegra13\",msg);\n}\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":500,
      "y":1920,
      "wires":[
         [
            "7ff1bea2.e5159"
         ]
      ]
   },
   {
      "id":"21166ee7.76ba82",
      "type":"ui_text",
      "z":"5c635d35.8ccf14",
      "group":"b4dc653e.028468",
      "order":5,
      "width":0,
      "height":0,
      "name":"",
      "label":"Sensor3",
      "format":"<font color= {{msg.color}} > {{msg.payload}} </font>",
      "layout":"row-spread",
      "x":740,
      "y":2040,
      "wires":[

      ]
   },
   {
      "id":"9f1200bf.014cc",
      "type":"ui_text",
      "z":"5c635d35.8ccf14",
      "group":"8efe866f.191ab8",
      "order":6,
      "width":0,
      "height":0,
      "name":"",
      "label":"Hora 1",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":990,
      "y":1760,
      "wires":[

      ]
   },
   {
      "id":"3830290d.3000b6",
      "type":"ui_text",
      "z":"5c635d35.8ccf14",
      "group":"9e4d8637.79c598",
      "order":6,
      "width":0,
      "height":0,
      "name":"",
      "label":"Hora 2",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":990,
      "y":1840,
      "wires":[

      ]
   },
   {
      "id":"16f30364.8bff8d",
      "type":"ui_text",
      "z":"5c635d35.8ccf14",
      "group":"3812b007.4fd35",
      "order":6,
      "width":0,
      "height":0,
      "name":"",
      "label":"Desativar Regra 3",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":710,
      "y":1980,
      "wires":[

      ]
   },
   {
      "id":"7ff1bea2.e5159",
      "type":"firebase modify",
      "z":"5c635d35.8ccf14",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/regraSensor13",
      "method":"set",
      "value":"msg.payload",
      "priority":"msg.priority",
      "x":810,
      "y":1920,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"b096d3b3.781f",
      "type":"firebase.on",
      "z":"5c635d35.8ccf14",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/regraSensor13",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":360,
      "y":1980,
      "wires":[
         [
            "16f30364.8bff8d"
         ]
      ]
   },
   {
      "id":"cc662a06.35dae8",
      "type":"ui_text",
      "z":"5c635d35.8ccf14",
      "group":"b4dc653e.028468",
      "order":6,
      "width":0,
      "height":0,
      "name":"",
      "label":"Sensor3",
      "format":"<font color= {{msg.color}} > {{msg.payload}} </font>",
      "layout":"row-spread",
      "x":740,
      "y":2100,
      "wires":[

      ]
   },
   {
      "id":"dbf4c74e.2c0c98",
      "type":"function",
      "z":"5c635d35.8ccf14",
      "name":"",
      "func":"msg.payload = global.get(\"chave3Flow1\").payload;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":460,
      "y":2100,
      "wires":[
         [
            "cc662a06.35dae8"
         ]
      ]
   },
   {
      "id":"d46ef388.23bb7",
      "type":"function",
      "z":"5c635d35.8ccf14",
      "name":"",
      "func":"if(global.get(\"input13HoraErro\") != global.get(\"input13Hora\").payload)\n    msg.payload = global.get(\"input13HoraErro\");\nelse\n    msg.payload = global.get(\"input13Hora\").payload;\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":530,
      "y":1640,
      "wires":[
         [
            "514f34be.58bfdc"
         ]
      ]
   },
   {
      "id":"514f34be.58bfdc",
      "type":"function",
      "z":"5c635d35.8ccf14",
      "name":"Trata Entrada",
      "func":"let re = /^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/;\nlet str = msg.payload;\nlet result = str.match(re);\n\nglobal.set(\"input13HoraErro\",msg.payload);\n\nif(result == null){\n    msg.payload = global.get(\"input13Hora\").payload;\n    global.set(\"erroInput13Hora\",1);\n    return msg;\n}\n\nvar input1 = global.get(\"input13Hora\").payload;\nvar input2 = global.get(\"input23Hora\").payload;\nvar splitAux1 = result[0].toString().split(':');\nvar splitAux2 = input2.toString().split(':');\nif(splitAux1[0].substring(1,1)==\"0\")\n    var date1 = new Date(null, null, null, splitAux1[0].substring(2,splitAux1[0].length-1), splitAux1[1]);\nelse\n    var date1 = new Date(null, null, null, splitAux1[0], splitAux1[1]);\n\nif(splitAux2[0].substring(1,1)==\"0\")\n    var date2 = new Date(null, null, null, splitAux2[0].substring(2,splitAux2[0].length), splitAux2[1]);\nelse\n    var date2 = new Date(null, null, null, splitAux2[0], splitAux2[1]);\n\nif(result != null){\n    if(date1.getTime() >= date2.getTime()){\n        msg.payload = global.get(\"input13Hora\").payload;\n        global.set(\"erroInput13Hora\",2);\n        global.set(\"erroInput23Hora\",2);\n    }\n    else{\n        if(global.get(\"input13HoraErro\") == global.get(\"input13Hora\").payload)\n        {\n            global.set(\"erroInput13Hora\",0);\n            msg.payload = result[0];\n            if(global.get(\"Input23Hora\") != undefined && global.get(\"input23HoraErro\") != undefined){\n                if(global.get(\"Input23Hora\").payload == global.get(\"input23HoraErro\")){\n                    if(global.get(\"erroInput23Hora\") == 2){\n                        global.set(\"erroInput23Hora\",0);\n                    }\n                }\n            }\n        }\n    }\n}\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "x":520,
      "y":1580,
      "wires":[
         [
            "8666ffa7.09055"
         ]
      ]
   },
   {
      "id":"97ee5e26.07c8d",
      "type":"ui_text_input",
      "z":"5c635d35.8ccf14",
      "name":"",
      "label":"Hora de Ligar Sensor 4",
      "tooltip":"",
      "group":"8efe866f.191ab8",
      "order":7,
      "width":0,
      "height":0,
      "passthru":true,
      "mode":"text",
      "delay":300,
      "topic":"",
      "x":250,
      "y":2200,
      "wires":[
         [
            "ab05e39f.86423"
         ]
      ]
   },
   {
      "id":"7084e56c.db541c",
      "type":"firebase modify",
      "z":"5c635d35.8ccf14",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/input14Hora",
      "method":"set",
      "value":"msg.payload",
      "priority":"msg.priority",
      "x":840,
      "y":2200,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"5eecdb73.ad3a44",
      "type":"ui_text_input",
      "z":"5c635d35.8ccf14",
      "name":"",
      "label":"Hora de Desligar Sensor 4",
      "tooltip":"",
      "group":"9e4d8637.79c598",
      "order":7,
      "width":0,
      "height":0,
      "passthru":true,
      "mode":"text",
      "delay":300,
      "topic":"",
      "x":260,
      "y":2320,
      "wires":[
         [
            "538ba63f.6f7108"
         ]
      ]
   },
   {
      "id":"1368027a.ecee7e",
      "type":"firebase modify",
      "z":"5c635d35.8ccf14",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/input24Hora",
      "method":"set",
      "value":"msg.payload",
      "priority":"msg.priority",
      "x":840,
      "y":2320,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"127874c0.e69e6b",
      "type":"inject",
      "z":"5c635d35.8ccf14",
      "name":"",
      "topic":"",
      "payload":"",
      "payloadType":"num",
      "repeat":"1",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":210,
      "y":2660,
      "wires":[
         [
            "5e928abf.a76754",
            "d45c3a7d.bfbb48"
         ]
      ]
   },
   {
      "id":"5e928abf.a76754",
      "type":"function",
      "z":"5c635d35.8ccf14",
      "name":"Executa Ligar e Desligar",
      "func":"var input1 = global.get(\"input14Hora\").payload;\nvar input2 = global.get(\"input24Hora\").payload;\nvar dateNowFlow3 = global.get(\"dateNowFlow3\");\nvar timeAsStringFlow3 = global.get(\"timeAsStringFlow3\");\n\nvar splitAux1 = input1.toString().split(':');\nvar splitAux2 = input2.toString().split(':');\nvar date1;\nif(splitAux1[0].substring(1,1)==\"0\")\n    date1 = new Date(null, null, null, splitAux1[0].substring(2,splitAux1[0].length-1), splitAux1[1]);\nelse\n    date1 = new Date(null, null, null, splitAux1[0], splitAux1[1]);\nvar date2;\nif(splitAux2[0].substring(1,1)==\"0\")\n    date2 = new Date(null, null, null, splitAux2[0].substring(2,splitAux2[0].length), splitAux2[1]);\nelse\n    date2 = new Date(null, null, null, splitAux2[0], splitAux2[1]);\nvar date = new Date(null, null, null, dateNowFlow3.getHours(), dateNowFlow3.getMinutes());\n\nmsg.payload =  global.get(\"chave4Flow1\").payload;\nmsg.color = \"white\";\n\nif(global.get(\"input14HoraErro\") != global.get(\"input14Hora\").payload)\nif( global.get(\"erroInput14Hora\") != undefined){\n        if(global.get(\"erroInput14Hora\") == 1){\n            msg.payload = \"Erro no formato do input Hora 1 (HH:mm).\";\n            msg.color = \"red\";\n        }\n        else if(global.get(\"erroInput14Hora\") == 2 || date1.getTime() >= date2.getTime()){\n            msg.payload = \"Hora 2 deve ser uma hora futura à hora 1.\";\n            msg.color = \"red\";\n        }\n}\nif(global.get(\"input24HoraErro\") != global.get(\"input24Hora\").payload)\nif( global.get(\"erroInput24Hora\") != undefined){\n        if(global.get(\"erroInput24Hora\") == 1){\n            msg.payload = \"Erro no formato do input Hora 2 (HH:mm).\";\n            msg.color = \"red\";\n        }\n        else if(global.get(\"erroInput24Hora\") == 2 || date1.getTime() >= date2.getTime()){\n            msg.payload = \"Hora 2 deve ser uma hora futura à hora 1.\";\n            msg.color = \"red\"; \n        }\n}\nif( global.get(\"erroInput14Hora\") != undefined && global.get(\"erroInput24Hora\") != undefined)\nif(global.get(\"limparRegra14\") != undefined){\n    if(global.get(\"limparRegra14\").payload == \"false\" || global.get(\"limparRegra14\").payload == false){\n        if(global.get(\"input14HoraErro\") == global.get(\"input14Hora\").payload && global.get(\"input24HoraErro\") == global.get(\"input24Hora\").payload){\n            if(date.getTime() >= date1.getTime()){\n                msg.payload = \"LIGADO\";\n                global.set(\"chave4Flow1\",msg);\n                msg.color = \"white\";\n            }\n            if(date.getTime() >= date2.getTime()){\n                msg.payload = \"DESLIGADO\";\n                global.set(\"chave4Flow1\",msg);\n                msg.color = \"white\";\n            }\n        }\n    }\n}\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":470,
      "y":2660,
      "wires":[
         [
            "4d2d7eb6.4d468"
         ]
      ]
   },
   {
      "id":"538ba63f.6f7108",
      "type":"function",
      "z":"5c635d35.8ccf14",
      "name":"Trata Entrada",
      "func":"let re = /^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/;\nlet str = msg.payload;\nlet result = str.match(re);\n\nglobal.set(\"input24HoraErro\",msg.payload);\n\nif(result == null){\n    msg.payload = global.get(\"input24Hora\").payload;\n    global.set(\"erroInput24Hora\",1);\n    return msg;\n}\n\nvar input1 = global.get(\"input14Hora\").payload;\nvar input2 = global.get(\"input24Hora\").payload;\nvar splitAux1 = input1.toString().split(':');\nvar splitAux2 = result[0].toString().split(':');\nif(splitAux1[0].substring(1,1)==\"0\")\n    var date1 = new Date(null, null, null, splitAux1[0].substring(2,splitAux1[0].length-1), splitAux1[1]);\nelse\n    var date1 = new Date(null, null, null, splitAux1[0], splitAux1[1]);\n\nif(splitAux2[0].substring(1,1)==\"0\")\n    var date2 = new Date(null, null, null, splitAux2[0].substring(2,splitAux2[0].length), splitAux2[1]);\nelse\n    var date2 = new Date(null, null, null, splitAux2[0], splitAux2[1]);\n\nif(result != null){\n    if(date1.getTime() >= date2.getTime()){\n        msg.payload = global.get(\"input24Hora\").payload;\n        global.set(\"erroInput14Hora\",2);\n        global.set(\"erroInput24Hora\",2);\n    }\n    else{\n        msg.payload = result[0];\n        global.set(\"erroInput24Hora\",0);\n        if(global.get(\"input14HoraErro\") == global.get(\"input14Hora\").payload)\n            if(global.get(\"erroInput14Hora\") == 2)\n                global.set(\"erroInput14Hora\",0);\n    }\n}\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "x":500,
      "y":2320,
      "wires":[
         [
            "1368027a.ecee7e",
            "b0c14f88.83869"
         ]
      ]
   },
   {
      "id":"166da19.fe7925e",
      "type":"firebase.on",
      "z":"5c635d35.8ccf14",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/input14Hora",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":350,
      "y":2380,
      "wires":[
         [
            "e1cbdb19.867bd8"
         ]
      ]
   },
   {
      "id":"6c19147e.7c693c",
      "type":"firebase.on",
      "z":"5c635d35.8ccf14",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/input24Hora",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":350,
      "y":2460,
      "wires":[
         [
            "2a93bd4f.57d632"
         ]
      ]
   },
   {
      "id":"e1cbdb19.867bd8",
      "type":"function",
      "z":"5c635d35.8ccf14",
      "name":"Lê e atribui em variável",
      "func":"global.set(\"input14Hora\",msg)\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":730,
      "y":2380,
      "wires":[
         [
            "407e3a8b.f62f04",
            "97ee5e26.07c8d"
         ]
      ]
   },
   {
      "id":"2a93bd4f.57d632",
      "type":"function",
      "z":"5c635d35.8ccf14",
      "name":"Lê e atribui em variável",
      "func":"global.set(\"input24Hora\",msg)\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":750,
      "y":2460,
      "wires":[
         [
            "543608b3.765e58",
            "5eecdb73.ad3a44"
         ]
      ]
   },
   {
      "id":"5f285f29.81915",
      "type":"ui_button",
      "z":"5c635d35.8ccf14",
      "name":"",
      "group":"3812b007.4fd35",
      "order":7,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"Desativar Regra 4",
      "tooltip":"",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"true",
      "payloadType":"bool",
      "topic":"",
      "x":230,
      "y":2540,
      "wires":[
         [
            "48c8107b.9ec99"
         ]
      ]
   },
   {
      "id":"48c8107b.9ec99",
      "type":"function",
      "z":"5c635d35.8ccf14",
      "name":"Manda 1",
      "func":"if(global.get(\"limparRegra14\",msg) != undefined){\n    var limparRegra1 = global.get(\"limparRegra14\",msg).payload;\n    if(limparRegra1 == 1){\n            msg.payload = \"false\";\n            global.set(\"limparRegra14\",msg);\n    }\n    else{\n        msg.payload = \"true\";\n        global.set(\"limparRegra14\",msg);\n    }\n}\nelse{\n    msg.payload = \"true\";\n    global.set(\"limparRegra14\",msg);\n}\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":480,
      "y":2540,
      "wires":[
         [
            "c7aef2ba.4cf2c"
         ]
      ]
   },
   {
      "id":"4d2d7eb6.4d468",
      "type":"ui_text",
      "z":"5c635d35.8ccf14",
      "group":"b4dc653e.028468",
      "order":7,
      "width":0,
      "height":0,
      "name":"",
      "label":"Sensor4",
      "format":"<font color= {{msg.color}} > {{msg.payload}} </font>",
      "layout":"row-spread",
      "x":720,
      "y":2660,
      "wires":[

      ]
   },
   {
      "id":"407e3a8b.f62f04",
      "type":"ui_text",
      "z":"5c635d35.8ccf14",
      "group":"8efe866f.191ab8",
      "order":8,
      "width":0,
      "height":0,
      "name":"",
      "label":"Hora 1",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":970,
      "y":2380,
      "wires":[

      ]
   },
   {
      "id":"543608b3.765e58",
      "type":"ui_text",
      "z":"5c635d35.8ccf14",
      "group":"9e4d8637.79c598",
      "order":8,
      "width":0,
      "height":0,
      "name":"",
      "label":"Hora 2",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":970,
      "y":2460,
      "wires":[

      ]
   },
   {
      "id":"ce92e7b5.e72c88",
      "type":"ui_text",
      "z":"5c635d35.8ccf14",
      "group":"3812b007.4fd35",
      "order":8,
      "width":0,
      "height":0,
      "name":"",
      "label":"Desativar Regra 4",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":690,
      "y":2600,
      "wires":[

      ]
   },
   {
      "id":"c7aef2ba.4cf2c",
      "type":"firebase modify",
      "z":"5c635d35.8ccf14",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/regraSensor14",
      "method":"set",
      "value":"msg.payload",
      "priority":"msg.priority",
      "x":790,
      "y":2540,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"4a112887.106118",
      "type":"firebase.on",
      "z":"5c635d35.8ccf14",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/regraSensor14",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":340,
      "y":2600,
      "wires":[
         [
            "ce92e7b5.e72c88"
         ]
      ]
   },
   {
      "id":"a0876c5a.d159e",
      "type":"ui_text",
      "z":"5c635d35.8ccf14",
      "group":"b4dc653e.028468",
      "order":8,
      "width":0,
      "height":0,
      "name":"",
      "label":"Sensor4",
      "format":"<font color= {{msg.color}} > {{msg.payload}} </font>",
      "layout":"row-spread",
      "x":720,
      "y":2720,
      "wires":[

      ]
   },
   {
      "id":"d45c3a7d.bfbb48",
      "type":"function",
      "z":"5c635d35.8ccf14",
      "name":"",
      "func":"msg.payload = global.get(\"chave4Flow1\").payload;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":440,
      "y":2720,
      "wires":[
         [
            "a0876c5a.d159e"
         ]
      ]
   },
   {
      "id":"b0c14f88.83869",
      "type":"function",
      "z":"5c635d35.8ccf14",
      "name":"",
      "func":"if(global.get(\"input14HoraErro\") != global.get(\"input14Hora\").payload)\n    msg.payload = global.get(\"input14HoraErro\");\nelse\n    msg.payload = global.get(\"input14Hora\").payload;\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":510,
      "y":2260,
      "wires":[
         [
            "ab05e39f.86423"
         ]
      ]
   },
   {
      "id":"ab05e39f.86423",
      "type":"function",
      "z":"5c635d35.8ccf14",
      "name":"Trata Entrada",
      "func":"let re = /^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/;\nlet str = msg.payload;\nlet result = str.match(re);\n\nglobal.set(\"input14HoraErro\",msg.payload);\n\nif(result == null){\n    msg.payload = global.get(\"input14Hora\").payload;\n    global.set(\"erroInput14Hora\",1);\n    return msg;\n}\n\nvar input1 = global.get(\"input14Hora\").payload;\nvar input2 = global.get(\"input24Hora\").payload;\nvar splitAux1 = result[0].toString().split(':');\nvar splitAux2 = input2.toString().split(':');\nif(splitAux1[0].substring(1,1)==\"0\")\n    var date1 = new Date(null, null, null, splitAux1[0].substring(2,splitAux1[0].length-1), splitAux1[1]);\nelse\n    var date1 = new Date(null, null, null, splitAux1[0], splitAux1[1]);\n\nif(splitAux2[0].substring(1,1)==\"0\")\n    var date2 = new Date(null, null, null, splitAux2[0].substring(2,splitAux2[0].length), splitAux2[1]);\nelse\n    var date2 = new Date(null, null, null, splitAux2[0], splitAux2[1]);\n\nif(result != null){\n    if(date1.getTime() >= date2.getTime()){\n        msg.payload = global.get(\"input14Hora\").payload;\n        global.set(\"erroInput14Hora\",2);\n        global.set(\"erroInput24Hora\",2);\n    }\n    else{\n        if(global.get(\"input14HoraErro\") == global.get(\"input14Hora\").payload)\n        {\n            global.set(\"erroInput14Hora\",0);\n            msg.payload = result[0];\n            if(global.get(\"Input24Hora\") != undefined && global.get(\"input24HoraErro\") != undefined){\n                if(global.get(\"Input24Hora\").payload == global.get(\"input24HoraErro\")){\n                    if(global.get(\"erroInput24Hora\") == 2){\n                        global.set(\"erroInput24Hora\",0);\n                    }\n                }\n            }\n        }\n    }\n}\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "x":500,
      "y":2200,
      "wires":[
         [
            "7084e56c.db541c"
         ]
      ]
   },
   {
      "id":"c0d7edb6.65c0e",
      "type":"ui_text_input",
      "z":"5c635d35.8ccf14",
      "name":"",
      "label":"Hora de Ligar Sensor 5",
      "tooltip":"",
      "group":"8efe866f.191ab8",
      "order":9,
      "width":0,
      "height":0,
      "passthru":true,
      "mode":"text",
      "delay":300,
      "topic":"",
      "x":270,
      "y":2820,
      "wires":[
         [
            "4ff845eb.09646c"
         ]
      ]
   },
   {
      "id":"7f8d9229.3fc61c",
      "type":"firebase modify",
      "z":"5c635d35.8ccf14",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/input15Hora",
      "method":"set",
      "value":"msg.payload",
      "priority":"msg.priority",
      "x":860,
      "y":2820,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"de2afcc3.038ed",
      "type":"ui_text_input",
      "z":"5c635d35.8ccf14",
      "name":"",
      "label":"Hora de Desligar Sensor 5",
      "tooltip":"",
      "group":"9e4d8637.79c598",
      "order":9,
      "width":0,
      "height":0,
      "passthru":true,
      "mode":"text",
      "delay":300,
      "topic":"",
      "x":280,
      "y":2940,
      "wires":[
         [
            "a0e70f21.1e51d"
         ]
      ]
   },
   {
      "id":"38c31733.8f8f58",
      "type":"firebase modify",
      "z":"5c635d35.8ccf14",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/input25Hora",
      "method":"set",
      "value":"msg.payload",
      "priority":"msg.priority",
      "x":860,
      "y":2940,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"6306ed0c.7be414",
      "type":"inject",
      "z":"5c635d35.8ccf14",
      "name":"",
      "topic":"",
      "payload":"",
      "payloadType":"num",
      "repeat":"1",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":230,
      "y":3280,
      "wires":[
         [
            "53be6611.a3a538",
            "781edadb.7c9df4"
         ]
      ]
   },
   {
      "id":"53be6611.a3a538",
      "type":"function",
      "z":"5c635d35.8ccf14",
      "name":"Executa Ligar e Desligar",
      "func":"var input1 = global.get(\"input15Hora\").payload;\nvar input2 = global.get(\"input25Hora\").payload;\nvar dateNowFlow3 = global.get(\"dateNowFlow3\");\nvar timeAsStringFlow3 = global.get(\"timeAsStringFlow3\");\n\nvar splitAux1 = input1.toString().split(':');\nvar splitAux2 = input2.toString().split(':');\nvar date1;\nif(splitAux1[0].substring(1,1)==\"0\")\n    date1 = new Date(null, null, null, splitAux1[0].substring(2,splitAux1[0].length-1), splitAux1[1]);\nelse\n    date1 = new Date(null, null, null, splitAux1[0], splitAux1[1]);\nvar date2;\nif(splitAux2[0].substring(1,1)==\"0\")\n    date2 = new Date(null, null, null, splitAux2[0].substring(2,splitAux2[0].length), splitAux2[1]);\nelse\n    date2 = new Date(null, null, null, splitAux2[0], splitAux2[1]);\nvar date = new Date(null, null, null, dateNowFlow3.getHours(), dateNowFlow3.getMinutes());\n\nmsg.payload =  global.get(\"chave5Flow1\").payload;\nmsg.color = \"white\";\n\nif(global.get(\"input15HoraErro\") != global.get(\"input15Hora\").payload)\nif( global.get(\"erroInput15Hora\") != undefined){\n        if(global.get(\"erroInput15Hora\") == 1){\n            msg.payload = \"Erro no formato do input Hora 1 (HH:mm).\";\n            msg.color = \"red\";\n        }\n        else if(global.get(\"erroInput15Hora\") == 2 || date1.getTime() >= date2.getTime()){\n            msg.payload = \"Hora 2 deve ser uma hora futura à hora 1.\";\n            msg.color = \"red\";\n        }\n}\nif(global.get(\"input25HoraErro\") != global.get(\"input25Hora\").payload)\nif( global.get(\"erroInput25Hora\") != undefined){\n        if(global.get(\"erroInput25Hora\") == 1){\n            msg.payload = \"Erro no formato do input Hora 2 (HH:mm).\";\n            msg.color = \"red\";\n        }\n        else if(global.get(\"erroInput25Hora\") == 2 || date1.getTime() >= date2.getTime()){\n            msg.payload = \"Hora 2 deve ser uma hora futura à hora 1.\";\n            msg.color = \"red\"; \n        }\n}\nif( global.get(\"erroInput15Hora\") != undefined && global.get(\"erroInput25Hora\") != undefined)\nif(global.get(\"limparRegra15\") != undefined){\n    if(global.get(\"limparRegra15\").payload == \"false\" || global.get(\"limparRegra15\").payload == false){\n        if(global.get(\"input15HoraErro\") == global.get(\"input15Hora\").payload && global.get(\"input25HoraErro\") == global.get(\"input25Hora\").payload){\n            if(date.getTime() >= date1.getTime()){\n                msg.payload = \"LIGADO\";\n                global.set(\"chave5Flow1\",msg);\n                msg.color = \"white\";\n            }\n            if(date.getTime() >= date2.getTime()){\n                msg.payload = \"DESLIGADO\";\n                global.set(\"chave5Flow1\",msg);\n                msg.color = \"white\";\n            }\n        }\n    }\n}\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":490,
      "y":3280,
      "wires":[
         [
            "1b99cf1a.f12691"
         ]
      ]
   },
   {
      "id":"a0e70f21.1e51d",
      "type":"function",
      "z":"5c635d35.8ccf14",
      "name":"Trata Entrada",
      "func":"let re = /^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/;\nlet str = msg.payload;\nlet result = str.match(re);\n\nglobal.set(\"input25HoraErro\",msg.payload);\n\nif(result == null){\n    msg.payload = global.get(\"input25Hora\").payload;\n    global.set(\"erroInput25Hora\",1);\n    return msg;\n}\n\nvar input1 = global.get(\"input15Hora\").payload;\nvar input2 = global.get(\"input25Hora\").payload;\nvar splitAux1 = input1.toString().split(':');\nvar splitAux2 = result[0].toString().split(':');\nif(splitAux1[0].substring(1,1)==\"0\")\n    var date1 = new Date(null, null, null, splitAux1[0].substring(2,splitAux1[0].length-1), splitAux1[1]);\nelse\n    var date1 = new Date(null, null, null, splitAux1[0], splitAux1[1]);\n\nif(splitAux2[0].substring(1,1)==\"0\")\n    var date2 = new Date(null, null, null, splitAux2[0].substring(2,splitAux2[0].length), splitAux2[1]);\nelse\n    var date2 = new Date(null, null, null, splitAux2[0], splitAux2[1]);\n\nif(result != null){\n    if(date1.getTime() >= date2.getTime()){\n        msg.payload = global.get(\"input25Hora\").payload;\n        global.set(\"erroInput15Hora\",2);\n        global.set(\"erroInput25Hora\",2);\n    }\n    else{\n        msg.payload = result[0];\n        global.set(\"erroInput25Hora\",0);\n        if(global.get(\"input15HoraErro\") == global.get(\"input15Hora\").payload)\n            if(global.get(\"erroInput15Hora\") == 2)\n                global.set(\"erroInput15Hora\",0);\n    }\n}\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "x":520,
      "y":2940,
      "wires":[
         [
            "38c31733.8f8f58",
            "c2ca6c31.20589"
         ]
      ]
   },
   {
      "id":"146bf1cf.5156fe",
      "type":"firebase.on",
      "z":"5c635d35.8ccf14",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/input15Hora",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":370,
      "y":3000,
      "wires":[
         [
            "f3c8605f.451e8"
         ]
      ]
   },
   {
      "id":"c83f8cf9.9e111",
      "type":"firebase.on",
      "z":"5c635d35.8ccf14",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/input25Hora",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":370,
      "y":3080,
      "wires":[
         [
            "36493e1c.4755b2"
         ]
      ]
   },
   {
      "id":"f3c8605f.451e8",
      "type":"function",
      "z":"5c635d35.8ccf14",
      "name":"Lê e atribui em variável",
      "func":"global.set(\"input15Hora\",msg)\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":750,
      "y":3000,
      "wires":[
         [
            "50e61123.5b593",
            "c0d7edb6.65c0e"
         ]
      ]
   },
   {
      "id":"36493e1c.4755b2",
      "type":"function",
      "z":"5c635d35.8ccf14",
      "name":"Lê e atribui em variável",
      "func":"global.set(\"input25Hora\",msg)\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":770,
      "y":3080,
      "wires":[
         [
            "37ce22fa.2be4ae",
            "de2afcc3.038ed"
         ]
      ]
   },
   {
      "id":"4cb64513.223cec",
      "type":"ui_button",
      "z":"5c635d35.8ccf14",
      "name":"",
      "group":"3812b007.4fd35",
      "order":9,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"Desativar Regra 5",
      "tooltip":"",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"true",
      "payloadType":"bool",
      "topic":"",
      "x":250,
      "y":3160,
      "wires":[
         [
            "da29a141.d3a4a"
         ]
      ]
   },
   {
      "id":"da29a141.d3a4a",
      "type":"function",
      "z":"5c635d35.8ccf14",
      "name":"Manda 1",
      "func":"if(global.get(\"limparRegra15\",msg) != undefined){\n    var limparRegra1 = global.get(\"limparRegra15\",msg).payload;\n    if(limparRegra1 == 1){\n            msg.payload = \"false\";\n            global.set(\"limparRegra15\",msg);\n    }\n    else{\n        msg.payload = \"true\";\n        global.set(\"limparRegra15\",msg);\n    }\n}\nelse{\n    msg.payload = \"true\";\n    global.set(\"limparRegra15\",msg);\n}\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":500,
      "y":3160,
      "wires":[
         [
            "18dc68d0.6df377"
         ]
      ]
   },
   {
      "id":"1b99cf1a.f12691",
      "type":"ui_text",
      "z":"5c635d35.8ccf14",
      "group":"b4dc653e.028468",
      "order":9,
      "width":0,
      "height":0,
      "name":"",
      "label":"Sensor5",
      "format":"<font color= {{msg.color}} > {{msg.payload}} </font>",
      "layout":"row-spread",
      "x":740,
      "y":3280,
      "wires":[

      ]
   },
   {
      "id":"50e61123.5b593",
      "type":"ui_text",
      "z":"5c635d35.8ccf14",
      "group":"8efe866f.191ab8",
      "order":10,
      "width":0,
      "height":0,
      "name":"",
      "label":"Hora 1",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":990,
      "y":3000,
      "wires":[

      ]
   },
   {
      "id":"37ce22fa.2be4ae",
      "type":"ui_text",
      "z":"5c635d35.8ccf14",
      "group":"9e4d8637.79c598",
      "order":10,
      "width":0,
      "height":0,
      "name":"",
      "label":"Hora 2",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":990,
      "y":3080,
      "wires":[

      ]
   },
   {
      "id":"48d11260.a9531c",
      "type":"ui_text",
      "z":"5c635d35.8ccf14",
      "group":"3812b007.4fd35",
      "order":10,
      "width":0,
      "height":0,
      "name":"",
      "label":"Desativar Regra 5",
      "format":"{{msg.payload}}",
      "layout":"row-spread",
      "x":710,
      "y":3220,
      "wires":[

      ]
   },
   {
      "id":"18dc68d0.6df377",
      "type":"firebase modify",
      "z":"5c635d35.8ccf14",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/regraSensor15",
      "method":"set",
      "value":"msg.payload",
      "priority":"msg.priority",
      "x":850,
      "y":3160,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"7d620e5b.61578",
      "type":"firebase.on",
      "z":"5c635d35.8ccf14",
      "name":"",
      "firebaseconfig":"",
      "childpath":"/regraSensor15",
      "atStart":true,
      "eventType":"value",
      "queries":[

      ],
      "x":360,
      "y":3220,
      "wires":[
         [
            "48d11260.a9531c"
         ]
      ]
   },
   {
      "id":"a2a54a2f.8dcd28",
      "type":"ui_text",
      "z":"5c635d35.8ccf14",
      "group":"b4dc653e.028468",
      "order":10,
      "width":0,
      "height":0,
      "name":"",
      "label":"Sensor5",
      "format":"<font color= {{msg.color}} > {{msg.payload}} </font>",
      "layout":"row-spread",
      "x":740,
      "y":3340,
      "wires":[

      ]
   },
   {
      "id":"781edadb.7c9df4",
      "type":"function",
      "z":"5c635d35.8ccf14",
      "name":"",
      "func":"msg.payload = global.get(\"chave5Flow1\").payload;\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":460,
      "y":3340,
      "wires":[
         [
            "a2a54a2f.8dcd28"
         ]
      ]
   },
   {
      "id":"c2ca6c31.20589",
      "type":"function",
      "z":"5c635d35.8ccf14",
      "name":"",
      "func":"if(global.get(\"input15HoraErro\") != global.get(\"input15Hora\").payload)\n    msg.payload = global.get(\"input15HoraErro\");\nelse\n    msg.payload = global.get(\"input15Hora\").payload;\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":530,
      "y":2880,
      "wires":[
         [
            "4ff845eb.09646c"
         ]
      ]
   },
   {
      "id":"4ff845eb.09646c",
      "type":"function",
      "z":"5c635d35.8ccf14",
      "name":"Trata Entrada",
      "func":"let re = /^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/;\nlet str = msg.payload;\nlet result = str.match(re);\n\nglobal.set(\"input15HoraErro\",msg.payload);\n\nif(result == null){\n    msg.payload = global.get(\"input15Hora\").payload;\n    global.set(\"erroInput15Hora\",1);\n    return msg;\n}\n\nvar input1 = global.get(\"input15Hora\").payload;\nvar input2 = global.get(\"input25Hora\").payload;\nvar splitAux1 = result[0].toString().split(':');\nvar splitAux2 = input2.toString().split(':');\nif(splitAux1[0].substring(1,1)==\"0\")\n    var date1 = new Date(null, null, null, splitAux1[0].substring(2,splitAux1[0].length-1), splitAux1[1]);\nelse\n    var date1 = new Date(null, null, null, splitAux1[0], splitAux1[1]);\n\nif(splitAux2[0].substring(1,1)==\"0\")\n    var date2 = new Date(null, null, null, splitAux2[0].substring(2,splitAux2[0].length), splitAux2[1]);\nelse\n    var date2 = new Date(null, null, null, splitAux2[0], splitAux2[1]);\n\nif(result != null){\n    if(date1.getTime() >= date2.getTime()){\n        msg.payload = global.get(\"input15Hora\").payload;\n        global.set(\"erroInput15Hora\",2);\n        global.set(\"erroInput25Hora\",2);\n    }\n    else{\n        if(global.get(\"input15HoraErro\") == global.get(\"input15Hora\").payload)\n        {\n            global.set(\"erroInput15Hora\",0);\n            msg.payload = result[0];\n            if(global.get(\"Input25Hora\") != undefined && global.get(\"input25HoraErro\") != undefined){\n                if(global.get(\"Input25Hora\").payload == global.get(\"input25HoraErro\")){\n                    if(global.get(\"erroInput25Hora\") == 2){\n                        global.set(\"erroInput25Hora\",0);\n                    }\n                }\n            }\n        }\n    }\n}\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "x":520,
      "y":2820,
      "wires":[
         [
            "7f8d9229.3fc61c"
         ]
      ]
   },
   {
      "id":"c4c343a.f22bfc",
      "type":"ui_group",
      "z":"",
      "name":"Início",
      "tab":"b3f4b0b.8b3905",
      "order":1,
      "disp":true,
      "width":"6",
      "collapse":false
   },
   {
      "id":"8efe866f.191ab8",
      "type":"ui_group",
      "z":"",
      "name":"Group 2",
      "tab":"b3f4b0b.8b3905",
      "order":3,
      "disp":true,
      "width":"6",
      "collapse":false
   },
   {
      "id":"9e4d8637.79c598",
      "type":"ui_group",
      "z":"",
      "name":"Group 3",
      "tab":"b3f4b0b.8b3905",
      "order":4,
      "disp":true,
      "width":"6",
      "collapse":false
   },
   {
      "id":"3812b007.4fd35",
      "type":"ui_group",
      "z":"",
      "name":"Group 1",
      "tab":"b3f4b0b.8b3905",
      "order":2,
      "disp":true,
      "width":"6",
      "collapse":false
   },
   {
      "id":"b4dc653e.028468",
      "type":"ui_group",
      "z":"",
      "name":"Group 4",
      "tab":"b3f4b0b.8b3905",
      "order":5,
      "disp":true,
      "width":"6",
      "collapse":false
   },
   {
      "id":"b3f4b0b.8b3905",
      "type":"ui_tab",
      "z":"",
      "name":"PaineldeRegras",
      "icon":"dashboard",
      "order":5,
      "disabled":false,
      "hidden":false
   }
]